<%= render 'personal_center/frame', page: 'visitors' do -%>
  <div class="relative">
    <a
      class="absolute right-0 -top-10 px-3 py-1 border rounded-lg border-black text-sm hover:bg-black hover:text-white"
      data-turbo-frame="visitor_new_modal"
      href="<%= new_personal_center_visitor_path %>"
    >
      新增外发链接
    </a>
    <div class="py-8">
      <% if @list.present? %>
        <table class="border text-sm w-full table-fixed">
          <thead>
            <tr class="bg-gray-50">
              <td class="border px-5 py-4 whitespace-nowrap font-semibold w-40">操作</td>
              <td class="border px-5 py-4 whitespace-nowrap font-semibold w-32">生成时间</td>
              <td class="border px-5 py-4 whitespace-nowrap font-semibold w-96">链接</td>
              <td class="border px-5 py-4 whitespace-nowrap font-semibold w-32">有效期</td>
              <td class="border px-5 py-4 whitespace-nowrap font-semibold w-24">状态</td>
              <td class="border px-5 py-4 whitespace-nowrap font-semibold">备注</td>
            </tr>
          </thead>
          <tbody>
            <% @list.each do |visitor| %>
              <tr>
                <td class="border text-center">
                  <a
                    class="border border-gray-300 rounded-lg px-3 text-gray-400 hover:bg-black hover:text-white"
                    href="<%= edit_personal_center_visitor_path(visitor.id) %>"
                    data-turbo-frame="visitor_edit_modal"
                  >编辑</a>
                  <% if visitor.effective? %>
                    <%= form_tag disable_personal_center_visitor_path(visitor.id),
                      method: :put,
                      class: 'inline-block',
                      onsubmit: 'this.querySelector(\'button\').disabled = true',
                      data: {
                        turbo: false,
                      } do
                    %>
                      <button
                        type="submit"
                        class="border border-gray-300 rounded-lg px-3 text-gray-400 hover:bg-black hover:text-white",
                        data-confirm="确定要取消分享么？"
                      >
                        取消分享
                      </button>
                    <% end %>
                  <% end %>
                </td>
                <td class="border p-5"><%= visitor.created_at&.strftime('%Y-%m-%d') %></td>
                <td class="border p-5 break-all" data-controller="clipboard">
                  <span data-clipboard-target="text" class="select-all">
                    <%= visitor_login_url(visitor.code) %>
                  </span>
                  <svg
                    viewBox="0 0 1024 1024"
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    class="inline-block cursor-pointer"
                    data-action="click->clipboard#copyText"
                  >
                    <path d="M798.586111 64.021106l-504.827647 0c-18.176988 0-32.923854 15.030321-32.923854 33.579793l0 94.341668-98.770538 0c-18.176988 0-32.923854 15.156188-32.923854 33.861202l0 699.804317c0 18.705014 14.746866 33.861202 32.923854 33.861202l504.827647 0c18.176988 0 32.923854-15.156188 32.923854-33.861202l0-100.455923 98.770538 0c18.176988 0 32.923854-15.030321 32.923854-33.579793L831.509964 97.599875C831.508941 79.050404 816.762075 64.021106 798.586111 64.021106zM194.987926 891.746884 194.987926 259.664971l438.97994 0 0 531.905352c0 0.001023 0 0.002047 0 0.002047s0 0.002047 0 0.002047l0 100.171444L194.987926 891.74586zM765.662257 757.9936l-65.846684 0L699.815573 225.803769c0-18.705014-14.746866-33.861202-32.923854-33.861202L326.682317 191.942567l0-60.762899L765.662257 131.179668 765.662257 757.9936z" fill="#888888"></path>
                    <path d="M535.197328 377.428072l-241.438864 0c-18.176988 0-32.923854 15.030321-32.923854 33.579793 0 18.549471 14.746866 33.579793 32.923854 33.579793l241.438864 0c18.176988 0 32.923854-15.030321 32.923854-33.579793C568.121182 392.45737 553.374316 377.428072 535.197328 377.428072z" fill="#888888"></path>
                    <path d="M535.197328 534.132066l-241.438864 0c-18.176988 0-32.923854 15.030321-32.923854 33.579793 0 18.549471 14.746866 33.579793 32.923854 33.579793l241.438864 0c18.176988 0 32.923854-15.030321 32.923854-33.579793C568.121182 549.161365 553.374316 534.132066 535.197328 534.132066z" fill="#888888"></path>
                    <path d="M535.197328 690.835038l-241.438864 0c-18.176988 0-32.923854 15.030321-32.923854 33.579793 0 18.549471 14.746866 33.579793 32.923854 33.579793l241.438864 0c18.176988 0 32.923854-15.030321 32.923854-33.579793C568.121182 705.865359 553.374316 690.835038 535.197328 690.835038z" fill="#888888"></path>
                  </svg>
                </td>
                <td class="border p-5"><%= visitor.expired_at&.strftime('%Y-%m-%d') %></td>
                <td class="border p-5">
                  <%= render partial: 'status', locals: { visitor: visitor } %>
                </td>
                <td class="border p-5"><%= visitor.remark %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="flex justify-center mt-8">
          <%= render partial: 'shared/pagination', locals: {
            total: @total,
            page: @page,
            page_size: @page_size,
            path: personal_center_visitors_path(request.GET),
            page_size_options: @page_size_options,
          } %>
        </div>
      <% else %>
        <div class="mt-12">
          <%= render partial: 'personal_center/empty' %>
        </div>
      <% end %>
    </div>
  </div>
  <%= turbo_frame_tag :visitor_new_modal %>
  <%= turbo_frame_tag :visitor_edit_modal %>
<% end %>
