<section class="flex-auto">
  <div class="mr-4 mt-7 mb-4 border-b-2 border-gray-100 border-solid pb-3">
    <span class="text-2xl font-bold ml-px mr-2 border-b-2 border-gray-900 border-solid" style="padding-bottom: 0.9rem">其他样品</span>
    <span class="text-xl font-light">Other Samples</span>
    <%= link_to other_samples_sample_path(id, page_size: other_samples.limit_value, page: other_samples.next_page), class: other_samples.last_page? ? 'cursor-not-allowed' : '' do %>
      <img class="h-6 w-6 float-right mt-1" src="<%= image_pack_path('static/arrow_right.svg') -%>" alt="">
    <% end %>
    <%= link_to other_samples_sample_path(id, page_size: other_samples.limit_value, page: other_samples.prev_page), class: other_samples.first_page? ? 'cursor-not-allowed' : '' do %>
      <img class="h-6 w-6 float-right mt-1 mr-1 lg:mr-2 xl:mr-3" src="<%= image_pack_path('static/arrow_left.svg') -%>" alt="">
    <% end %>
  </div>

  <% other_samples.each_with_index do |other_sample, i| %>
    <div class="mr-4 <%= i == 1 ? 'mt-10' : 'mt-4' -%> mb-4 flex">
      <div style="width: 170px; height: 170px;">
        <img class="w-full h-full obejct-cover" src="<%= image_pack_path("static/sample_side_p#{i+1}.jpg") -%>" alt="">
      </div>
      <div class="flex flex-col justify-end mx-4">
        <h2 class="text-base mb-2">黄金麻（样品）</h2>
        <p class="mt-1 text-xs text-gray-400">样品编号：<%= other_sample.no -%></p>
        <p class="mt-1 text-xs text-gray-400">表面效果：<%= other_sample.surface_effect&.description -%></p>
        <p class="mt-1 text-xs text-gray-400">色系：<%= other_sample.material&.color -%></p>
        <p class="mt-1 text-xs text-gray-400">厂家：<%= other_sample.manufacturer&.name -%></p>
      </div>
    </div>
  <% end %>
</section>
