<section style="width: 400px;">
  <div class="flex flex-row justify-between items-center mr-4 mt-7 mb-4 border-b-2 border-gray-100 border-solid pb-3">
    <div>
      <span class="text-2xl font-bold ml-px mr-2 under-text-border" style="padding-bottom: 0.9rem">其他样品</span>
      <span class="text-xl font-light">Other Samples</span>
    </div>
    <div class="flex flex-row gap-2">
      <a class="circle-arrow1 w-5 h-5 <%= other_samples.first_page? ? 'cursor-not-allowed disabled' : 'cursor-pointer' %>" href="<%= other_samples_sample_path(id, page_size: other_samples.limit_value, page: other_samples.prev_page) %>">
        <svg class="-ml-0.5" fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="6.2" height="10.5" viewBox="0 0 9.062 16.125">
          <path d="M564.707,561.636L558.343,568l6.364,6.364a1,1,0,0,1-1.414,1.414l-7.071-7.071a1,1,0,0,1,0-1.414l7.071-7.071A1,1,0,0,1,564.707,561.636Z" transform="translate(-555.938 -559.938)"/>
        </svg>
      </a>
      <a class="circle-arrow1 w-5 h-5 <%= other_samples.last_page? || other_samples.next_page.blank? ? 'cursor-not-allowed disabled' : 'cursor-pointer' %>" href="<%= other_samples_sample_path(id, page_size: other_samples.limit_value, page: other_samples.next_page) %>">
        <svg class="-mr-0.5" fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="6.2" height="10.5" viewBox="0 0 9 16">
          <path d="M556.291,561.685l6.32,6.315-6.32,6.315a0.992,0.992,0,0,0,1.4,1.4l7.023-7.016a0.994,0.994,0,0,0,0-1.4l-7.023-7.016A0.992,0.992,0,0,0,556.291,561.685Z" transform="translate(-556 -560)"/>
        </svg>
      </a>
    </div>
  </div>

  <% other_samples.each_with_index do |other_sample, i| %>
    <div class="mr-4 <%= i == 1 ? 'mt-10' : 'mt-4' -%> mb-4 flex">
      <div class="flex-none" style="width: 170px; height: 170px;">
        <img class="w-full h-full obejct-cover" src="<%= mat_img_url(other_sample.pic, "") -%>" alt="">
      </div>
      <div class="flex flex-col justify-end mx-4">
        <h2 class="text-base mb-2"><%= other_sample.material&.name %>（样品）</h2>
        <p class="mt-1 text-xs text-gray-400">样品编号：<%= other_sample.no -%></p>
        <p class="mt-1 text-xs text-gray-400">表面效果：<%= other_sample.surface_effect&.description -%></p>
        <p class="mt-1 text-xs text-gray-400">色系：<%= other_sample.material&.color -%></p>
        <p class="mt-1 text-xs text-gray-400">厂家：<%= other_sample.manufacturer&.name -%></p>
      </div>
    </div>
  <% end %>
</section>
