<%= render partial: 'shared/header', locals: { } -%>

<p class="mx-4 px-40 pt-8">首页 > 石材 > 花岗岩 > 黄金麻 > 黄金麻样品</p>

<main class="flex flex-row pl-40 pr-44">
  <section class="w-full mr-6 max-w-3xl lg:max-w-4xl xl:max-w-5xl 2xl:max-w-6xl flex flex-col">
    <%# 产品样品 %>
    <div class="mx-4 mt-7 mb-4 border-b-2 border-gray-100 border-solid pb-3">
      <span class="text-2xl font-bold ml-px mr-2 border-b-2 border-gray-900 border-solid" style="padding-bottom: 0.9rem">产品样品</span><span class="text-xl font-light">Samples</span>
    </div>
    <div class="mx-4 mt-4 flex gap-4">
      <img class="w-80 h-80" src="<%= image_pack_path('static/big_sample_picture.jpg') -%>" alt="">
      <div class="ml-4 relative">
        <h2 class="text-xl font-medium">黄金麻（样品）：</h2>
        <dl class="absolute bottom-0 w-120 text-sm">
            <dt class="mt-2 inline-block w-2/3">样品编号：</dt>
            <dd class="mt-2 inline">xxxxxxx</dd>

            <dt class="mt-2 inline-block w-2/3">价格：</dt>
            <dd class="mt-2 inline">100-350/㎡</dd>

            <dt class="mt-2 inline-block w-2/3">产品/二级分类名称：</dt>
            <dd class="mt-2 inline">黄金麻</dd>

            <dt class="mt-2 inline-block w-2/3">产品/二级分类编号：</dt>
            <dd class="mt-2 inline">xxxxx</dd>

            <dt class="mt-2 inline-block w-2/3">色系：</dt>
            <dd class="mt-2 inline">黄色</dd>

            <dt class="mt-2 inline-block w-2/3">色号：</dt>
            <dd class="mt-2 inline">xxxx</dd>

            <dt class="mt-2 inline-block w-2/3">产品规格/型号：</dt>
            <dd class="mt-2 inline">30*30CM</dd>

            <dt class="mt-2 inline-block w-2/3">表面效果：</dt>
            <dd class="mt-2 inline">荔枝面</dd>

            <dt class="mt-2 inline-block w-2/3">存储位置：</dt>
            <dd class="mt-2 inline">A-3-25</dd>
        </dl>
      </div>
    </div>

    <%# 厂家信息 %>
    <div class="mx-4 mt-16 mb-4 border-b-2 border-gray-100 border-solid pb-3">
      <span class="text-2xl font-bold ml-px mr-2 border-b-2 border-gray-900 border-solid" style="padding-bottom: 0.9rem">厂家信息</span><span class="text-xl font-light">Information</span>
    </div>
    <div class="mx-4 mt-4 flex">
      <div class="w-52 h-52 p-6 border border-gray-300 border-solid flex items-center">
        <img class="w-40" src="<%= image_pack_path('static/logo-1-1.jpg') -%>" alt="">
      </div>
      <div class="py-8">
        <div class="m-4 grid grid-cols-3 gap-y-8 gap-x-18">
          <dl class="border-l border-gray-300 border-solid pl-3 py1">
            <dt class="text-gray-700">厂家名称</dt>
            <dd class="">东利石材</dd>
          </dl>
          <dl class="border-l border-gray-300 border-solid pl-3 py1">
            <dt class="text-gray-700">联系人</dt>
            <dd class="">XXX</dd>
          </dl>
          <dl class="border-l border-gray-300 border-solid pl-3 py1">
            <dt class="text-gray-700">邮箱</dt>
            <dd class="">xxx@sample.com</dd>
          </dl>
          <dl class="border-l border-gray-300 border-solid pl-3 py1">
            <dt class="text-gray-700">厂家地址</dt>
            <dd class="">广东</dd>
          </dl>
          <dl class="border-l border-gray-300 border-solid pl-3 py1">
            <dt class="text-gray-700">联系电话</dt>
            <dd class="">XXX-12342837</dd>
          </dl>
          <dl class="border-l border-gray-300 border-solid pl-3 py1">
            <dt class="text-gray-700">是否愿意送样</dt>
            <dd class="">否</dd>
          </dl>
        </div>
      </div>
    </div>

    <%# 附件下载 %>
    <div class="mx-4 mt-16 mb-4 border-b-2 border-gray-100 border-solid pb-3">
      <span class="text-2xl font-bold ml-px mr-2 border-b-2 border-gray-900 border-solid" style="padding-bottom: 0.9rem">附件下载</span><span class="text-xl font-light">Download</span>
    </div>
    <div class="mx-4 mt-4 grid grid-cols-5 gap-4">
      <% %w[下载全部 公司介绍 相关证书 产品图册 工艺节点 监测报告 CAD BIM 三视图 其他].each do |word| %>
      <a class="p-4 shadow-tw-dark font-medium bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
        <%= word %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 float-right" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M9 19l3 3m0 0l3-3m-3 3V10" />
        </svg>
      </a>
      <% end %>
    </div>

    <%# 所属案例 %>
    <div class="mx-4 mt-16 mb-4 border-b-2 border-gray-100 border-solid pb-3">
      <span class="text-2xl font-bold ml-px mr-2 border-b-2 border-gray-900 border-solid" style="padding-bottom: 0.9rem">所属案例</span><span class="text-xl font-light">Projects</span>
    </div>

    <div class="mx-4 mt-4 mb-16 grid grid-cols-3 gap-8">
      <div>
        <img class="w-full my-3" src="<%= image_pack_path('static/project_new_g3.jpg') -%>" alt="">
        <h3 class="text-xl font-medium">沈阳国际软件园</h3>
        <p class="mt-1">辽宁省沈阳市</p>
        <p class="mt-1">上海天华/建筑十所</p>
      </div>
      <div>
        <img class="w-full my-3" src="<%= image_pack_path('static/project_new_g4.jpg') -%>" alt="">
        <h3 class="text-xl font-medium">华润宁波万象汇</h3>
        <p class="mt-1">浙江省宁波市</p>
        <p class="mt-1">上海天华/公建一所（总）</p>
      </div>
      <div>
        <img class="w-full my-3" src="<%= image_pack_path('static/project_new_g5.jpg') -%>" alt="">
        <h3 class="text-xl font-medium">龙湖·中铁建·云璟</h3>
        <p class="mt-1">辽宁省沈阳市</p>
        <p class="mt-1">上海天华/建筑四所</p>
      </div>
    </div>
  </section>

  <%# 其他样品 %>
  <section class="flex-auto">
    <div class="mx-4 mt-7 mb-4 border-b-2 border-gray-100 border-solid pb-3">
      <span class="text-2xl font-bold ml-px mr-2 border-b-2 border-gray-900 border-solid" style="padding-bottom: 0.9rem">其他样品</span><span class="text-xl font-light">Other Samples</span>
    </div>

    <% (1..4).each do |i| %>
      <div class="mx-4 <%= i == 1 ? 'mt-10' : 'mt-4' -%> mb-4 flex">
        <img class="w-48" src="<%= image_pack_path("static/sample_side_p#{i}.jpg") -%>" alt="">
        <div class="flex flex-col justify-end mx-4">
          <h2 class="text-base mb-2">黄金麻（样品）</h2>
          <p class="mt-1 text-xs text-gray-400">样品编号：xxxx</p>
          <p class="mt-1 text-xs text-gray-400">表面工艺：xxxxxxx</p>
          <p class="mt-1 text-xs text-gray-400">色系：黄色</p>
          <p class="mt-1 text-xs text-gray-400">厂家：xxxxxx</p>
        </div>
      </div>
    <% end %>
  </section>
</main>

<%= render partial: 'shared/footer', locals: { } -%>
