<%# 样品名称 %>
<div class="bg-white text-black-6c m-1 px-1.5 py-2.5">
  <div class="my-1 flex">
    <img class="flex-initial" style="max-width: 50%;" src="<%= image_pack_path('big_sample_picture.jpg') -%>" alt="">
    <dl class="flex-auto ml-2">
      <h3 class="text-base mb-2 font-medium"><%= @sample.material&.name -%></h3>
      <p class="text-xs whitespace-nowrap">样品编号：
        <span class="font-medium"><%= @sample.no %></span>
      </p>
      <p class="text-xs whitespace-nowrap">价格区间：
        <span class="font-medium"><%= @sample.low_price -%>-<%= @sample.high_price -%>/㎡</span>
      </p>
      <p class="text-xs whitespace-nowrap">产品/二级分类名称：
        <span class="font-medium"><%= @sample.material&.name -%></span>
      </p>
      <p class="text-xs whitespace-nowrap">产品/二级分类编号：
        <span class="font-medium"><%= @sample.material&.no -%></span>
      </p>
      <p class="text-xs whitespace-nowrap">色系：
        <span class="font-medium">
          <%= @sample&.color_systems&.collect(&:description)&.join(' ') -%>
        </span>
      </p>
      <p class="text-xs whitespace-nowrap">色号：
        <span class="font-medium"><%= @sample.color_code -%></span>
      </p>
      <p class="text-xs whitespace-nowrap">产品规格/型号：
        <span class="font-medium"><%= @sample.spec_model -%></span>
      </p>
      <p class="text-xs whitespace-nowrap">表面效果：
        <span class="font-medium">
          <%= @sample&.surface_effects&.collect(&:description)&.join(' ') -%>
        </span>
      </p>
      <div class="text-xs whitespace-nowrap" data-controller="modal" data-modal-allow-background-close="true">储存位置：
        <a href="#" data-action="click->modal#open">
          <span class="font-medium underline"><%= @sample.position -%></span>
        </a>
        <!-- Modal Container -->
        <div data-modal-target="container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center" style="z-index: 9999;">
          <!-- Modal Inner Container -->
          <div class="max-h-screen w-full max-w-7xl relative">
            <!-- Modal Card -->
            <div class="m-1 bg-white rounded shadow">
              <div class="p-8">
                <figure>
                  <img src="<%= image_pack_path('sample_location.png') -%>" alt="">
                  <figcaption class="text-center mt-2"><%= @sample.position -%>: A-3-25</figcaption>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </dl>
  </div>
  <h5 class="text-base mt-4">其他样品</h5>
  <div class="pt-2 pb-3 overscroll-x-auto overflow-x-auto shadow-sm">
    <div class="flex flex-nowrap min-w-max">
      <% @other_samples.each_with_index do |other_sample, i| %>
        <div class="mx-px first:mx-px w-16">
          <img class="w-full object-contain" src="<%= mat_img_url(other_sample.pic, "") -%>" alt="">
          <h3 class="text-center text-xs my-2 whitespace-nowrap"><%= other_sample.material&.name -%></h3>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%# 厂家信息 %>
<div class="bg-white text-black-6c m-1 px-1.5 py-2">
  <h5 class="text-base font-medium my-2">厂家信息</h5>

  <div class="flex bg-gray-200 border border-gray-200 border-solid px-1 my-3">
    <div class="flex justify-center items-center px-2 py-3">
      <img class="w-full border border-gray-300 border-solid" src="<%= mat_img_url(@sample.manufacturer&.logo,'') -%>" alt="">
    </div>
    <div class="px-2 py-3">
      <h5 class="text-base font-medium mb-2"><%= @sample.manufacturer&.name -%></h5>
      <p class="text-xs text-gray-700">联系人：<%= @sample.manufacturer&.contact -%></p>
      <p class="text-xs text-gray-700">邮箱：<%= @sample.manufacturer&.email -%></p>
      <p class="text-xs text-gray-700">厂家地址：<%= @sample.manufacturer&.location -%></p>
      <p class="text-xs text-gray-700">联系电话：<%= @sample.manufacturer&.contact_information -%></p>
      <p class="text-xs text-gray-700">是否愿意提供材料样品：<%= @sample.manufacturer&.is_allow.present? ? '是' : '去电详询' -%></p>
    </div>
  </div>
</div>

<%# 产品案例 %>
<div class="bg-white text-black-6c text-xs px-1.5 pt-2 pb-5 mt-2">
  <h5 class="text-base font-medium m-1">产品案例</h5>

  <div class="grid grid-cols-2 gap-y-2">
    <% @cases.each_with_index do |project_case, i| %>
    <div class="mx-1">
      <div class="relative">
        <img class="w-full" src="<%= mat_img_url(project_case.web_cover) -%>" alt="">
        <div class="absolute right-1 bottom-1 text-white text-right">
          <p class="text-xs"><%= project_case.is_th == 1 ? '内部项目' : '外部项目' %></p>
        </div>
        <div class="absolute left-1 bottom-1 text-white text-left">
          <p class="text-white text-right text-xs">荔枝面黄金麻</p>
        </div>
      </div>
      <div class="text-black-6c text-left">
        <p class="text-xs mt-1"><%= project_case.project_name -%> <%= project_case.project_location==''? '':'/' -%> <%= project_case.project_location -%></p>
        <p class="text-xs"></p>
      </div>
    </div>
    <% end %>
  </div>
</div>

