<%# 样品名称 %>
<div class="bg-white text-black-6c m-1 px-1.5 py-2.5">
  <div class="my-1 flex">
    <div class="w-5/12">
      <div class="relative w-full" style="padding-top: 100%;">
        <img class="absolute top-0 left-0 w-full h-full object-cover" src="<%= mat_img_url(@sample.pic, "") -%>" alt="">
      </div>
    </div>
    <dl class="flex-auto ml-2">
      <h3 class="text-base mb-2 font-medium"><%= text_with_default(@sample.material&.name) -%> (样品) (<%= text_with_default(@sample.material.no) %>-<%= text_with_default(@sample.no) %>)</h3>
      <p class="text-xs break-all">样品描述：
        <span class="font-medium"><%= @sample.material_text %></span>
      </p>
      <p class="text-xs break-all">价格：&emsp;&emsp;
        <span class="font-medium"><%= @sample.low_price -%>-<%= @sample.high_price -%>/㎡</span>
      </p>
      <p class="text-xs break-all">产品分类：
        <a href="<%= material_path(@sample.material) %>" class="underline text-blue-400">
          <span class="font-medium"><%= @sample.material&.name -%>(<%= @sample.material&.no -%>)</span>
        </a>
      </p>
      <p class="text-xs break-all">色系：&emsp;&emsp;
        <span class="font-medium"><%= @sample.color_str -%></span>
      </p>
      <p class="text-xs break-all">色号：&emsp;&emsp;
        <span class="font-medium"><%= @sample.color_code.present? ? @sample.color_code : '—' -%></span>
      </p>
      <p class="text-xs break-all">原厂型号：
        <span class="font-medium"><%= @sample.model -%></span>
      </p>
      <p class="text-xs break-all">产品规格：
        <span class="font-medium"><%= @sample.spec_model -%></span>
      </p>
      <p class="text-xs break-all">效果描述：
        <span class="font-medium"><%= @sample.visual -%></span>
      </p>
      <p class="text-xs break-all">表面效果：
        <span class="font-medium"><%= @sample.surface_effect_descriptions -%></span>
      </p>
      <div class="text-xs break-all" data-controller="modal" data-modal-allow-background-close="true">储存位置：
        <a href="#" data-action="click->modal#open">
          <span class="font-medium underline"><%= @sample.position -%></span>
        </a>
        <!-- Modal Container -->
        <div data-modal-target="container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center" style="z-index: 9999;">
          <!-- Modal Inner Container -->
          <div class="max-h-screen w-full max-w-7xl relative">
            <!-- Modal Card -->
            <div class="m-1 bg-white rounded shadow">
              <div class="p-8">
                <figure>
                  <img src="<%= mat_img_url(@sample.sample_position_picture.path) -%>" alt="">
                  <figcaption class="text-center mt-2">样板位置: <%= @sample.position -%></figcaption>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </dl>
  </div>
  <h5 class="text-base mt-4">其他样品</h5>
  <div class="pt-2 pb-3 overscroll-x-auto overflow-x-auto shadow-sm">
    <div class="grid grid-cols-5 gap-1">
      <% @other_samples.page(1).per(5).each_with_index do |other_sample, i| %>
        <a href="<%= sample_path(other_sample.id) %>" class="block relative" style="padding-top: 100%;">
          <div class="absolute top-0 left-0 w-full h-full">
            <img class="w-full h-full object-cover" src="<%= mat_img_url(other_sample.pic, "") -%>" alt="">
          </div>
          <div class="absolute bottom-0 left-0 w-full break-all text-xs text-center p-1 black-mask text-white truncate">
            <%= other_sample.material&.name -%>
          </div>
        </a>
      <% end %>
    </div>
  </div>
</div>

<%# 供应商信息 %>
<div class="bg-white text-black-6c m-1 px-1.5 py-2">
  <h5 class="text-base font-medium my-2">供应商信息</h5>

  <div class="bg-gray-200 border border-gray-200 border-solid p-3 my-3">
    <h5 class="text-base font-medium mb-2"><%= @sample.manufacturer&.name -%></h5>
    <p class="text-xs text-gray-700">联系人：<%= @sample.manufacturer&.contact -%></p>
    <p class="text-xs text-gray-700">邮箱：<%= @sample.manufacturer&.email -%></p>
    <p class="text-xs text-gray-700">供应商地址：<%= @sample.manufacturer&.location -%></p>
    <p class="text-xs text-gray-700">联系电话：<%= @sample.manufacturer&.contact_information -%></p>
    <p class="text-xs text-gray-700">是否愿意提供材料样品：<%= @sample.manufacturer&.offer_sample -%></p>
  </div>
</div>

<% if @sample.sample_enclosures.length > 0 %>
  <%# 附件下载 %>
  <div class="bg-white text-black-6c m-1 px-1.5 py-2">
    <h5 class="text-base font-medium">附件下载</h5>

    <div class="grid grid-cols-2 gap-2 mt-2">
      <% @sample.sample_enclosures.each do |enclosure| %>
        <a target="_blank" href="<%= mat_img_url(enclosure.path) %>" class="flex items-center justify-between text-sm p-3 shadow-tw-dark font-medium bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
          <span><%= enclosure.name %></span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M9 19l3 3m0 0l3-3m-3 3V10" />
          </svg>
        </a>
      <% end %>
    </div>
  </div>
<% end %>

<% if @cases.length > 0 %>
  <%# 产品案例 %>
  <div class="bg-white text-black-6c m-1 px-1.5 py-2">
    <h5 class="text-base font-medium">所属案例</h5>

    <div class="grid grid-cols-1 gap-y-4 mt-2">
      <% @cases.each_with_index do |project_case, i| %>
        <a class="block" href="<%= project_path(project_case) %>">
          <div class="relative">
            <img class="w-full h-36 object-cover" src="<%= mat_img_url(project_case.web_cover) -%>" alt="">
            <div class="absolute right-1 bottom-1 text-white text-xs">
              <%= project_case.project_type %>
            </div>
          </div>
          <div class="text-black-6c text-left">
            <p class="text-xs mt-1"><%= project_case.project_name_and_location -%></p>
            <p class="text-xs mt-1"><%= project_case.design_unit -%></p>
          </div>
        </a>
      <% end %>
    </div>
  </div>
<% end %>

