<%= render 'personal_center/frame', page: 'suppliers' do -%>
  <div
    class="relative"
    data-controller="personal-center-suppliers"
    data-personal-center-suppliers-create-project-path-value="<%= create_project_personal_center_suppliers_path %>"
    data-personal-center-suppliers-create-project-image-path-value="<%= create_project_image_personal_center_suppliers_path %>"
  >
    <a
      class="absolute right-0 -top-10 px-3 py-1 border rounded-lg border-black text-sm hover:bg-black hover:text-white"
      data-turbo-frame="supplier_new_modal"
      href="<%= new_personal_center_supplier_path %>"
    >
      新增供应商推荐
    </a>
    <div class="py-8">
      <% if @list.present? %>
        <table class="border text-sm w-full table-fixed text-center">
          <thead>
            <tr class="bg-gray-50">
              <td class="border px-5 py-4 whitespace-nowrap font-semibold" style="width: 90px;">序号</td>
              <td class="border px-5 py-4 whitespace-nowrap font-semibold" style="width: 240px;">操作</td>
              <td class="border px-5 py-4 whitespace-nowrap font-semibold" style="width: 248px;">时间</td>
              <td class="border px-5 py-4 whitespace-nowrap font-semibold">供应商名称</td>
              <td class="border px-5 py-4 whitespace-nowrap font-semibold" style="width: 240px;">供应商类型</td>
              <td class="border px-5 py-4 whitespace-nowrap font-semibold" style="width: 240px;">状态</td>
            </tr>
          </thead>
          <tbody>
            <% @list.each_with_index do |item, index| %>
              <tr class="text-gray-400">
                <td class="border p-5">
                  <%= index + 1 %>
                </td>
                <td class="border p-5">
                  <a
                    class="border border-gray-300 rounded-lg px-5 hover:bg-black hover:text-white"
                    href="<%= personal_center_supplier_path(id: item.id) %>"
                    data-turbo-frame="supplier_detail_modal"
                  >查看详情</a>
                </td>
                <td class="border p-5">
                  <%= item.created_at&.strftime('%Y-%m-%d %H:%M:%S') %>
                </td>
                <td class="border p-5 truncate" title="<%= item.name %>">
                  <% if item.to_manufacturer? %>
                    <a href="<%= manufacturer_path(item.manufacturer_id) %>" class="underline text-blue-500"><%= item.name %></a>
                  <% else %>
                    <%= item.name %>
                  <% end %>
                </td>
                <td class="border p-5">
                  <%= item.material&.name %>
                </td>
                <td class="border p-5">
                  <% case item.status %>
                  <% when 'manufacturer_recommend_reviewing' %>
                    <svg class="inline-block" width="75" height="20" viewBox="0 0 75 20" fill="none" xmlns="http://www.w3.org/2000/svg" title="未审核">
                      <g>
                        <path d="M65 0H10C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20H65C70.5229 20 75 15.5228 75 10C75 4.47715 70.5229 0 65 0Z" fill="#F4F4F4"/>
                        <path d="M30.6793 14.3698C30.4606 14.6354 30.2418 14.9244 30.0231 15.2369C27.9645 14.2096 26.3824 12.8815 25.277 11.2526V16.151H24.3629V11.2643C23.1754 12.8385 21.5895 14.2096 19.6051 15.3776C19.4567 15.1666 19.2457 14.9049 18.9723 14.5924C21.0934 13.4791 22.7692 12.1393 23.9996 10.5729H19.1598V9.70569H24.3629V7.50256H19.8512V6.63538H24.3629V4.63147H25.277V6.63538H29.8356V7.50256H25.277V9.70569H30.4801V10.5729H25.6051C26.8629 12.2526 28.5543 13.5182 30.6793 14.3698ZM32.5074 8.42834H36.3629V7.16272H37.277V8.42834H41.1442V14.1705H40.277V13.6198H37.277V16.1744H36.3629V13.6198H33.3746V14.1705H32.5074V8.42834ZM31.4645 5.97913H36.5856C36.3864 5.65491 36.1598 5.31506 35.9059 4.95959L36.7145 4.47913C37.0348 4.88538 37.316 5.27209 37.5582 5.63928L37.0074 5.97913H42.1871V8.17053H41.2731V6.82288H32.3785V8.17053H31.4645V5.97913ZM37.277 12.7994H40.277V11.4166H37.277V12.7994ZM33.3746 12.7994H36.3629V11.4166H33.3746V12.7994ZM40.277 9.24866H37.277V10.6198H40.277V9.24866ZM33.3746 10.6198H36.3629V9.24866H33.3746V10.6198ZM46.6871 13.1862C48.2418 12.3815 49.5465 11.4283 50.6012 10.3268C49.8356 10.4049 49.1246 10.4791 48.4684 10.5494C48.1793 10.5807 47.9098 10.6354 47.6598 10.7135L47.2262 9.85803C47.5465 9.68616 47.7965 9.48303 47.9762 9.24866C48.4684 8.64709 48.9489 7.95959 49.4176 7.18616H47.191V6.34241H50.7887C50.4684 5.86584 50.1715 5.44006 49.8981 5.06506L50.6598 4.58459C50.9567 4.95178 51.3004 5.401 51.691 5.93225L51.0699 6.34241H54.6559V7.18616H50.5074C49.9371 8.05334 49.3473 8.86975 48.7379 9.63538C49.5973 9.5885 50.4684 9.53772 51.3512 9.48303C51.7965 8.92834 52.1871 8.3385 52.5231 7.7135L53.3785 8.17053C52.0426 10.5143 50.0348 12.4244 47.3551 13.901C47.1364 13.6588 46.9137 13.4205 46.6871 13.1862ZM42.984 12.0729C43.8199 10.7448 44.4059 9.33069 44.7418 7.83069H43.066V7.01038H44.7535V4.67834H45.6324V7.01038H46.9684V7.83069H45.6324V9.89319L45.9957 9.50647C46.4957 9.92834 46.9606 10.3502 47.3903 10.7721L46.7926 11.3698C46.4098 10.9557 46.0231 10.569 45.6324 10.2096V16.233H44.7535V10.0221C44.3551 11.3033 43.8903 12.3307 43.359 13.1041C43.2574 12.7682 43.1324 12.4244 42.984 12.0729ZM47.0387 15.4948C49.7106 14.3698 51.9098 12.5338 53.6364 9.98694L54.4332 10.526C53.7614 11.4948 53.027 12.3658 52.2301 13.1393C53.1285 13.8737 53.9723 14.5924 54.7614 15.2955L54.0465 16.0573C53.3121 15.3307 52.4918 14.5573 51.5856 13.7369C50.4059 14.776 49.0973 15.6198 47.6598 16.2682C47.5114 16.0573 47.3043 15.7994 47.0387 15.4948Z" fill="#989CA4"/>
                      </g>
                    </svg>
                  <% when 'manufacturer_recommend_approved' %>
                    <svg class="inline-block" width="75" height="20" viewBox="0 0 75 20" fill="none" xmlns="http://www.w3.org/2000/svg" title="审核通过">
                      <g>
                        <path d="M65 0H10C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20H65C70.5229 20 75 15.5228 75 10C75 4.47715 70.5229 0 65 0Z" fill="#E2F9EA"/>
                        <path d="M15.5074 8.42834H19.3629V7.16272H20.277V8.42834H24.1442V14.1705H23.277V13.6198H20.277V16.1744H19.3629V13.6198H16.3746V14.1705H15.5074V8.42834ZM14.4645 5.97913H19.5856C19.3864 5.65491 19.1598 5.31506 18.9059 4.95959L19.7145 4.47913C20.0348 4.88538 20.316 5.27209 20.5582 5.63928L20.0074 5.97913H25.1871V8.17053H24.2731V6.82288H15.3785V8.17053H14.4645V5.97913ZM20.277 12.7994H23.277V11.4166H20.277V12.7994ZM16.3746 12.7994H19.3629V11.4166H16.3746V12.7994ZM23.277 9.24866H20.277V10.6198H23.277V9.24866ZM16.3746 10.6198H19.3629V9.24866H16.3746V10.6198ZM29.6871 13.1862C31.2418 12.3815 32.5465 11.4283 33.6012 10.3268C32.8356 10.4049 32.1246 10.4791 31.4684 10.5494C31.1793 10.5807 30.9098 10.6354 30.6598 10.7135L30.2262 9.85803C30.5465 9.68616 30.7965 9.48303 30.9762 9.24866C31.4684 8.64709 31.9489 7.95959 32.4176 7.18616H30.191V6.34241H33.7887C33.4684 5.86584 33.1715 5.44006 32.8981 5.06506L33.6598 4.58459C33.9567 4.95178 34.3004 5.401 34.691 5.93225L34.0699 6.34241H37.6559V7.18616H33.5074C32.9371 8.05334 32.3473 8.86975 31.7379 9.63538C32.5973 9.5885 33.4684 9.53772 34.3512 9.48303C34.7965 8.92834 35.1871 8.3385 35.5231 7.7135L36.3785 8.17053C35.0426 10.5143 33.0348 12.4244 30.3551 13.901C30.1364 13.6588 29.9137 13.4205 29.6871 13.1862ZM25.984 12.0729C26.8199 10.7448 27.4059 9.33069 27.7418 7.83069H26.066V7.01038H27.7535V4.67834H28.6324V7.01038H29.9684V7.83069H28.6324V9.89319L28.9957 9.50647C29.4957 9.92834 29.9606 10.3502 30.3903 10.7721L29.7926 11.3698C29.4098 10.9557 29.0231 10.569 28.6324 10.2096V16.233H27.7535V10.0221C27.3551 11.3033 26.8903 12.3307 26.359 13.1041C26.2574 12.7682 26.1324 12.4244 25.984 12.0729ZM30.0387 15.4948C32.7106 14.3698 34.9098 12.5338 36.6364 9.98694L37.4332 10.526C36.7614 11.4948 36.027 12.3658 35.2301 13.1393C36.1285 13.8737 36.9723 14.5924 37.7614 15.2955L37.0465 16.0573C36.3121 15.3307 35.4918 14.5573 34.5856 13.7369C33.4059 14.776 32.0973 15.6198 30.6598 16.2682C30.5114 16.0573 30.3043 15.7994 30.0387 15.4948ZM42.6832 14.3346H41.8512V7.73694H44.6754C44.0895 7.43616 43.484 7.13538 42.859 6.83459L43.3395 6.27209C43.9528 6.56897 44.5289 6.85217 45.068 7.1217L47.1598 6.026H41.6637V5.276H48.7067V6.06116L45.8766 7.53186C46.0133 7.60217 46.1461 7.67053 46.275 7.73694H48.7887V13.0338C48.7887 13.9244 48.3785 14.3698 47.5582 14.3698C47.152 14.3698 46.7106 14.358 46.234 14.3346C46.1949 14.0377 46.1364 13.7369 46.0582 13.4323C46.5504 13.4869 46.9723 13.5143 47.3239 13.5143C47.7457 13.5143 47.9567 13.3112 47.9567 12.9049V12.3307H45.7184V14.1588H44.8864V12.3307H42.6832V14.3346ZM42.8121 14.9791L45.7301 15.026L49.6324 14.9323C49.5465 15.1901 49.4371 15.4987 49.3043 15.858L45.4254 15.8815L42.6364 15.8112C41.3082 15.7955 40.3785 15.3385 39.8473 14.4401C39.527 14.7369 39.0582 15.2604 38.441 16.0104L37.9606 15.0377C38.652 14.3698 39.152 13.8912 39.4606 13.6022V9.65881H38.066V8.79163H40.3629V13.8014C40.8434 14.5787 41.6598 14.9713 42.8121 14.9791ZM39.4254 4.85413C39.8239 5.3385 40.3707 6.07678 41.066 7.06897L40.234 7.65491C39.6012 6.66272 39.0817 5.89709 38.6754 5.35803L39.4254 4.85413ZM47.9567 8.48694H45.7184V9.65881H47.9567V8.48694ZM45.7184 11.5807H47.9567V10.4088H45.7184V11.5807ZM42.6832 9.65881H44.8864V8.48694H42.6832V9.65881ZM42.6832 11.5807H44.8864V10.4088H42.6832V11.5807ZM53.4996 6.90491H58.527V4.66663H59.4762V6.90491H61.4918V7.76038H59.4762V12.6237C59.4762 13.6315 58.9918 14.1354 58.0231 14.1354C57.5153 14.1354 56.9215 14.1315 56.2418 14.1237C56.2028 13.819 56.1442 13.4674 56.066 13.069C56.691 13.1315 57.2731 13.1627 57.8121 13.1627C58.2965 13.1627 58.5348 12.8893 58.527 12.3424V7.76038H53.4996V6.90491ZM54.941 14.8854L58.0934 14.944L61.6559 14.8268C61.5231 15.1393 61.3981 15.4479 61.2809 15.7526L57.8473 15.7994L54.8473 15.7291C53.5035 15.7135 52.5153 15.2682 51.8824 14.3932C51.6637 14.5651 51.2106 15.0573 50.5231 15.8698L50.0309 14.8854C50.6364 14.3307 51.1168 13.903 51.4723 13.6022V9.57678H50.1129V8.73303H52.3746V13.8131C52.9489 14.5084 53.8043 14.8658 54.941 14.8854ZM53.9684 9.15491L54.6832 8.62756C55.5348 9.7135 56.1871 10.569 56.6403 11.194L55.8317 11.7916C55.191 10.8151 54.5699 9.93616 53.9684 9.15491ZM51.2379 4.7135C51.7535 5.30725 52.316 6.03381 52.9254 6.89319C52.6129 7.08069 52.3356 7.26819 52.0934 7.45569C51.5543 6.61975 51.0348 5.87366 50.5348 5.21741L51.2379 4.7135Z" fill="#479A46"/>
                      </g>
                    </svg>
                  <% when 'manufacturer_recommend_rejected' %>
                    <svg class="inline-block" width="75" height="20" viewBox="0 0 75 20" fill="none" xmlns="http://www.w3.org/2000/svg" title="审核不通过">
                      <g>
                        <path d="M65 0H10C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20H65C70.5229 20 75 15.5228 75 10C75 4.47715 70.5229 0 65 0Z" fill="#F0F4F8"/>
                        <path d="M9.50745 8.42834H13.3629V7.16272H14.277V8.42834H18.1442V14.1705H17.277V13.6198H14.277V16.1744H13.3629V13.6198H10.3746V14.1705H9.50745V8.42834ZM8.46448 5.97913H13.5856C13.3864 5.65491 13.1598 5.31506 12.9059 4.95959L13.7145 4.47913C14.0348 4.88538 14.316 5.27209 14.5582 5.63928L14.0074 5.97913H19.1871V8.17053H18.2731V6.82288H9.37854V8.17053H8.46448V5.97913ZM14.277 12.7994H17.277V11.4166H14.277V12.7994ZM10.3746 12.7994H13.3629V11.4166H10.3746V12.7994ZM17.277 9.24866H14.277V10.6198H17.277V9.24866ZM10.3746 10.6198H13.3629V9.24866H10.3746V10.6198ZM23.6871 13.1862C25.2418 12.3815 26.5465 11.4283 27.6012 10.3268C26.8356 10.4049 26.1246 10.4791 25.4684 10.5494C25.1793 10.5807 24.9098 10.6354 24.6598 10.7135L24.2262 9.85803C24.5465 9.68616 24.7965 9.48303 24.9762 9.24866C25.4684 8.64709 25.9489 7.95959 26.4176 7.18616H24.191V6.34241H27.7887C27.4684 5.86584 27.1715 5.44006 26.8981 5.06506L27.6598 4.58459C27.9567 4.95178 28.3004 5.401 28.691 5.93225L28.0699 6.34241H31.6559V7.18616H27.5074C26.9371 8.05334 26.3473 8.86975 25.7379 9.63538C26.5973 9.5885 27.4684 9.53772 28.3512 9.48303C28.7965 8.92834 29.1871 8.3385 29.5231 7.7135L30.3785 8.17053C29.0426 10.5143 27.0348 12.4244 24.3551 13.901C24.1364 13.6588 23.9137 13.4205 23.6871 13.1862ZM19.984 12.0729C20.8199 10.7448 21.4059 9.33069 21.7418 7.83069H20.066V7.01038H21.7535V4.67834H22.6324V7.01038H23.9684V7.83069H22.6324V9.89319L22.9957 9.50647C23.4957 9.92834 23.9606 10.3502 24.3903 10.7721L23.7926 11.3698C23.4098 10.9557 23.0231 10.569 22.6324 10.2096V16.233H21.7535V10.0221C21.3551 11.3033 20.8903 12.3307 20.359 13.1041C20.2574 12.7682 20.1324 12.4244 19.984 12.0729ZM24.0387 15.4948C26.7106 14.3698 28.9098 12.5338 30.6364 9.98694L31.4332 10.526C30.7614 11.4948 30.027 12.3658 29.2301 13.1393C30.1285 13.8737 30.9723 14.5924 31.7614 15.2955L31.0465 16.0573C30.3121 15.3307 29.4918 14.5573 28.5856 13.7369C27.4059 14.776 26.0973 15.6198 24.6598 16.2682C24.5114 16.0573 24.3043 15.7994 24.0387 15.4948ZM32.2418 5.66272H43.4098V6.57678H39.0973C38.7223 7.22522 38.2223 7.99475 37.5973 8.88538H38.277V16.233H37.2692V9.24866C35.9332 10.8971 34.359 12.3033 32.5465 13.4674C32.3512 13.1862 32.1324 12.9049 31.8903 12.6237C34.3512 11.0846 36.3356 9.06897 37.8434 6.57678H32.2418V5.66272ZM39.4489 9.24866C40.9098 10.1393 42.3199 11.0455 43.6793 11.9674L43.0114 12.8932C41.402 11.6979 40.0231 10.7487 38.8746 10.0455L39.4489 9.24866ZM48.6832 14.3346H47.8512V7.73694H50.6754C50.0895 7.43616 49.484 7.13538 48.859 6.83459L49.3395 6.27209C49.9528 6.56897 50.5289 6.85217 51.068 7.1217L53.1598 6.026H47.6637V5.276H54.7067V6.06116L51.8766 7.53186C52.0133 7.60217 52.1461 7.67053 52.275 7.73694H54.7887V13.0338C54.7887 13.9244 54.3785 14.3698 53.5582 14.3698C53.152 14.3698 52.7106 14.358 52.234 14.3346C52.1949 14.0377 52.1364 13.7369 52.0582 13.4323C52.5504 13.4869 52.9723 13.5143 53.3239 13.5143C53.7457 13.5143 53.9567 13.3112 53.9567 12.9049V12.3307H51.7184V14.1588H50.8864V12.3307H48.6832V14.3346ZM48.8121 14.9791L51.7301 15.026L55.6324 14.9323C55.5465 15.1901 55.4371 15.4987 55.3043 15.858L51.4254 15.8815L48.6364 15.8112C47.3082 15.7955 46.3785 15.3385 45.8473 14.4401C45.527 14.7369 45.0582 15.2604 44.441 16.0104L43.9606 15.0377C44.652 14.3698 45.152 13.8912 45.4606 13.6022V9.65881H44.066V8.79163H46.3629V13.8014C46.8434 14.5787 47.6598 14.9713 48.8121 14.9791ZM45.4254 4.85413C45.8239 5.3385 46.3707 6.07678 47.066 7.06897L46.234 7.65491C45.6012 6.66272 45.0817 5.89709 44.6754 5.35803L45.4254 4.85413ZM53.9567 8.48694H51.7184V9.65881H53.9567V8.48694ZM51.7184 11.5807H53.9567V10.4088H51.7184V11.5807ZM48.6832 9.65881H50.8864V8.48694H48.6832V9.65881ZM48.6832 11.5807H50.8864V10.4088H48.6832V11.5807ZM59.4996 6.90491H64.527V4.66663H65.4762V6.90491H67.4918V7.76038H65.4762V12.6237C65.4762 13.6315 64.9918 14.1354 64.0231 14.1354C63.5153 14.1354 62.9215 14.1315 62.2418 14.1237C62.2028 13.819 62.1442 13.4674 62.066 13.069C62.691 13.1315 63.2731 13.1627 63.8121 13.1627C64.2965 13.1627 64.5348 12.8893 64.527 12.3424V7.76038H59.4996V6.90491ZM60.941 14.8854L64.0934 14.944L67.6559 14.8268C67.5231 15.1393 67.3981 15.4479 67.2809 15.7526L63.8473 15.7994L60.8473 15.7291C59.5035 15.7135 58.5153 15.2682 57.8824 14.3932C57.6637 14.5651 57.2106 15.0573 56.5231 15.8698L56.0309 14.8854C56.6364 14.3307 57.1168 13.903 57.4723 13.6022V9.57678H56.1129V8.73303H58.3746V13.8131C58.9489 14.5084 59.8043 14.8658 60.941 14.8854ZM59.9684 9.15491L60.6832 8.62756C61.5348 9.7135 62.1871 10.569 62.6403 11.194L61.8317 11.7916C61.191 10.8151 60.5699 9.93616 59.9684 9.15491ZM57.2379 4.7135C57.7535 5.30725 58.316 6.03381 58.9254 6.89319C58.6129 7.08069 58.3356 7.26819 58.0934 7.45569C57.5543 6.61975 57.0348 5.87366 56.5348 5.21741L57.2379 4.7135Z" fill="#3C86EC"/>
                      </g>
                    </svg>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="flex justify-center mt-8">
          <%= render partial: 'shared/pagination', locals: {
            total: @total,
            page: @page,
            page_size: @page_size,
            path: personal_center_suppliers_path(request.GET),
            page_size_options: @page_size_options,
          } %>
        </div>
      <% else %>
        <div class="mt-12">
          <%= render partial: 'personal_center/empty' %>
        </div>
      <% end %>
    </div>
    <%= turbo_frame_tag :supplier_detail_modal %>
    <%= turbo_frame_tag :supplier_new_modal %>
  </div>
<% end %>
