<%= turbo_frame_tag :supplier_matlib_projects do %>
  <div class="overflow-auto" style="height: 440px;">
    <table class="w-full text-center table-fixed text-xs">
      <thead class="sticky top-0">
        <tr class="bg-gray-100 font-bold">
          <td style="width: 32px;"></td>
          <td class="py-1.5" style="width: 400px;">项目名称</td>
          <td class="py-1.5">封面图</td>
        </tr>
      </thead>
      <tbody>
        <% @list.each do |project| %>
          <tr class="border-b">
            <td class="text-base">
              <div class="flex items-center justify-center">
                <div class="matlib-form-radio icon-checked">
                  <input
                    type="radio"
                    value="<%= project[:code] %>"
                    name="matlib_project_code"
                    id="matlib_project_<%= project[:id] %>"
                    data-personal-center-suppliers-target="matlibProjectRadio"
                    data-json="<%= project.to_json %>"
                  />
                  <label for="matlib_project_<%= project[:id] %>"></label>
                </div>
              </div>
            </td>
            <td class="py-5 truncate" title="<%= project[:title] %>"><%= project[:title] %></td>
            <td class="py-5 truncate">
              <div style="width: 140px; height: 105px;">
                <img class="w-full h-full object-cover" src="/<%= project[:cover] %>" alt="">
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% unless @list.present? %>
      <div class="mt-12">
        <%= render partial: 'personal_center/empty' %>
      </div>
    <% end %>
  </div>
  <div class="mt-2 flex justify-center">
    <%= render partial: 'shared/pagination', locals: {
      total: @total,
      page: @page,
      page_size: @page_size,
      path: matlib_projects_personal_center_suppliers_path(request.GET),
    } %>
  </div>
<% end %>
