<%= turbo_frame_tag :supplier_new_modal do %>
  <div
    data-controller="modal turbo-modal"
    data-modal-allow-background-close="false"
    data-modal-disable-backdrop="true"
    data-turbo-modal-auto-show-value="true"
  >
    <div
      data-modal-target="container"
      class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center"
      style="z-index: 9999; background-color: rgba(0, 0, 0, 0.5);"
    >
        <div class="relative bg-white rounded-lg overflow-hidden" style="width: 1080px;">
          <button type="button" class="absolute top-2.5 right-2.5 z-50" data-action="click->turbo-modal#hide">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"></path>
              <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"></path>
            </svg>
          </button>
          <div class="bg-black text-white text-sm flex justify-center items-center px-3" style="height: 35px;">
            新增供应商推荐
          </div>
          <div class="px-10 py-6 overflow-auto" style="height: 605px;">
            <%= form_tag personal_center_suppliers_path, method: :post, id: 'createManufacturerRecommend', data: {
              turbo_frame: '_top',
            } do %>
              <div class="flex border-b border-gray-200">
                <span class="relative text-lg border-b border-black font-bold" style="bottom: -1px;">供应商信息</span>
              </div>
              <div class="grid grid-cols-4 gap-7 mt-3">
                <div class="flex flex-col">
                  <label for="supplier_title"><span class="text-red">*</span>供应商名称:</label>
                  <%= render partial: 'shared/matlib_form/input_text', locals: {
                    id: 'supplier_title',
                    name: 'name',
                    class_name: 'mt-1',
                    html_attr: {
                      'required': 'true',
                    }
                  } %>
                </div>
                <div class="flex flex-col">
                  <label for="supplier_contact"><span class="text-red">*</span>联系人:</label>
                  <%= render partial: 'shared/matlib_form/input_text', locals: {
                    id: 'supplier_contact',
                    name: 'contactName',
                    class_name: 'mt-1',
                    html_attr: {
                      'required': 'true',
                    }
                  } %>
                </div>
                <div class="flex flex-col row-span-2 col-span-2">
                  <label for="supplier_recommended_reason">推荐理由:</label>
                  <%= render partial: 'shared/matlib_form/textarea', locals: {
                    id: 'supplier_recommended_reason',
                    name: 'reason',
                    class_name: 'mt-1 flex-1 resize-none shadow-none',
                    html_attr: {
                      'placeholder': '供应商主营业务、特点、优势等',
                    }
                  } %>
                </div>
                <div class="flex flex-col">
                  <label for="supplier_type"><span class="text-red">*</span>供应商类型:</label>
                  <%= render partial: 'shared/matlib_form/select', locals: {
                    id: 'supplier_type',
                    class_name: 'mt-1',
                    name: 'materialID',
                    value: 1,
                    options: Material.where(level: 1).order(no: :asc).all.map do |m|
                      {
                        label: m.name,
                        value: m.id,
                      }
                    end,
                  } %>
                </div>
                <div class="flex flex-col">
                  <label for="supplier_contact_phone"><span class="text-red">*</span>联系电话:</label>
                  <%= render partial: 'shared/matlib_form/input_text', locals: {
                    id: 'supplier_contact_phone',
                    class_name: 'mt-1',
                    name: 'contactTel',
                    html_attr: {
                      'required': 'true',
                    }
                  } %>
                </div>
                <div class="flex flex-col">
                  <label for=""><span class="text-red">*</span>是否与天华合作过:</label>
                  <div class="mt-1">
                    <%= render partial: 'shared/matlib_form/radio', locals: {
                      label: '是',
                      value: true,
                      name: 'isThCo',
                      html_attr: {
                        'data-action': "click->personal-center-suppliers#isThCoChange",
                        'data-personal-center-suppliers-value-param': 'true',
                      },
                    } %>
                    <%= render partial: 'shared/matlib_form/radio', locals: {
                      label: '否',
                      value: false,
                      name: 'isThCo',
                      class_name: 'ml-10',
                      checked: true,
                      html_attr: {
                        'data-action': "click->personal-center-suppliers#isThCoChange",
                        'data-personal-center-suppliers-value-param': 'false',
                      },
                    } %>
                  </div>
                </div>
              </div>
              <div class="flex border-b border-gray-200 mt-11">
                <span class="relative text-lg border-b border-black font-bold" style="bottom: -1px;"><span class="text-red">*</span>供应商优秀案例</span>
                <span class="text-gray-300 relative text-lg" style="bottom: -1px;">（需选择或添加至少一个）</span>
              </div>
              <div class="pb-3">
                <div data-personal-center-suppliers-target="casesContainer"></div>
                <div class="mt-3 flex gap-12">
                  <button
                    class="matlib-form-button icon-add hidden"
                    type="button"
                    data-action="click->personal-center-suppliers#showPmProjectsModal"
                    data-personal-center-suppliers-target="addInternalCaseBtn"
                  >
                    从PM库选择天华内部案例
                  </button>
                  <button type="button" class="matlib-form-button icon-add" data-action="click->personal-center-suppliers#showMatlibProjectsModal">从材料库选择外部案例 (选填)</button>
                  <button type="button" class="matlib-form-button icon-add" data-action="click->personal-center-suppliers#addExternalCase">新增外部案例 (选填)</button>
                </div>
              </div>
            <% end %>
          </div>
          <div class="text-sm flex gap-5 justify-center py-6">
            <button type="submit" class="w-20 h-10 primary-button transition-all duration-300" form="createManufacturerRecommend">提交审核</button>
            <button type="button" class="w-20 h-10 cancel-button transition-all duration-300" data-action="click->modal#close">取消</button>
          </div>
        </div>
    </div>
    <%= render 'pm_projects_modal' %>
    <%= render 'matlib_projects_modal' %>
  </div>
<% end %>
