<div class="w-0 flex-1 flex justify-end items-center h-full" data-controller="profile-dropdown" data-profile-dropdown-opening-value="false">
  <%= link_to search_path, class: 'mr-4' do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="inline h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
    </svg>
  <% end %>
  <% if user_signed_in? %>
    <div class="relative h-full">
      <% img_path = user_image_url(current_user) %>
      <div class="flex-shrink-0 group h-full flex items-center" data-action="click->profile-dropdown#click mouseenter->profile-dropdown#open_menu mouseleave->profile-dropdown#close_menu">
        <div class="flex items-center">
          <% if img_path.present? %>
            <img class="inline-block h-8 w-8 rounded-full" src="<%= img_path -%>" alt="">
          <% else %>
            <svg xmlns="http://www.w3.org/2000/svg" class="inline h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          <% end %>
        </div>
      </div>
      <div
        class="origin-top-right absolute -right-1 w-32 rounded shadow-lg bg-white ring-1 ring-black ring-opacity-5 divide-y divide-gray-100 focus:outline-none hidden px-2"
        role="menu"
        data-profile-dropdown-target="dropdownMenu"
        aria-orientation="vertical"
        aria-labelledby="menu-button"
        tabindex="-1"
        data-action="mouseenter->profile-dropdown#open_menu mouseleave->profile-dropdown#close_menu"
      >
        <div class="px-3 py-2 text-left">
          <div class="text-black text-sm"><%= current_user.chinese_name %></div>
          <div class="text-neutral-140 text-sm"><%= current_user.position_title %></div>
        </div>
        <div class="px-3 py-2 text-left text-black text-sm flex flex-col gap-2">
          <a href="<%= projects_personal_center_path %>">我的案例</a>
          <a href="<%= messages_personal_center_path %>">我的消息</a>
          <a href="<%= demands_personal_center_path %>">我的需求</a>
          <a href="<%= feedback_personal_center_path %>">我的反馈</a>
          <a href="<%= suppliers_personal_center_path %>">供应商推荐</a>
          <a href="<%= helper_center_personal_center_path %>">帮助中心</a>
        </div>
        <div class="py-2" role="none">
          <%= form_with url: destroy_user_session_path, method: :delete, role: 'none', remote: false, data: { turbo: false } do %>
            <button type="submit" class="text-black w-full px-3 py-2 text-sm text-left flex items-center" role="menuitem" tabindex="-1" id="menu-item-3">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="Group">
                  <path id="Vector" d="M4 2H1V15H4V2Z" fill="#101820"/>
                  <path id="Vector_2" d="M9 13H1V15H9V13Z" fill="#101820"/>
                  <path id="Vector_3" d="M9 2H1V4H9V2Z" fill="#101820"/>
                  <path id="Vector_4" d="M11 7H5V10H11V7Z" fill="#101820"/>
                  <path id="Vector_5" d="M16 8.5L11 2V15L16 8.5Z" fill="#101820"/>
                </g>
              </svg>
              <span class="ml-2">登出</span>
            </button>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <a href="/auth/openid_connect" class="flex items-center" data-turbo="false">
      <svg xmlns="http://www.w3.org/2000/svg" class="inline h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <span class="text-base ml-1">请登录</span>
    </a>
  <% end %>
</div>