<% manufacturers&.each do |manufacturer| %>
  <a class="flex items-center border border-gray-200 border-solid" href="<%= manufacturer_path(manufacturer.id) %>">
    <div class="flex-none p-1" style="width: 140px; height: 140px;">
      <img class="w-full h-full object-contain object-center" src="<%= mat_img_url(manufacturer.logo, 'manufacturer_default_cover.png') -%>" alt="">
    </div>
    <div class="w-0 h-full border-r border-gray-200 border-solid"></div>
    <div class="py-2 pl-4 pr-2 flex-1">
      <h5 class="text-base font-medium my-2"><%= text_with_default(manufacturer.name) %></h5>
      <p class="text-sm text-gray-700">所在地：<%= text_with_default(manufacturer.location) %></p>
      <p class="text-sm text-gray-700">联系方式：<%= text_with_default(manufacturer.contact_information) %></p>
      <p class="text-sm text-gray-700">是否愿意提供材料样品：<%= text_with_default(manufacturer.offer_sample) -%></p>
    </div>
  </a>
<% end %>
