<% path ||= nil %>
<% total ||= 0 %>
<% page_size ||= 10 %>
<% page ||= 1 %>
<% disabled_href = 'javascript:void(0);' %>
<% show_pages ||= 5 %>
<% page_size_options ||= nil %>
<% pgnt = pagination(page, page_size, total, show_pages) %>

<div class="flex items-center text-sm text-neutral-140 gap-4">
  <div>共 <%= total %> 条</div>
  <% if page_size_options.present? %>
    <form action="<%= path %>" method="GET">
      <select name="page_size" class="py-0.5 pr-8 h-7 text-sm rounded border-neutral-235 focus:border-neutral-400 focus:ring-transparent" onchange="this.form.requestSubmit();">
        <% page_size_options.each do |item| %>
          <option
            value="<%= item %>"
            <%= item === page_size ? 'selected' : '' %>
          >
            <%= item %>条/页
          </option>
        <% end %>
      </select>
    </form>
  <% end %>
  <ul class="flex items-center gap-1">
    <li>
      <a
        class="flex justify-center items-center rounded w-7 h-7 <%= pgnt[:backward] ? 'hover:text-white hover:bg-black' : 'cursor-not-allowed' %>"
        href="<%= pgnt[:backward] && path ? addUrlQuery(path, page: page - 1) : disabled_href %>"
        title="上一页"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
        </svg>
      </a>
    </li>
    <% if pgnt[:first_page] %>
      <li>
        <a
          class="flex justify-center items-center rounded w-7 h-7 hover:text-white hover:bg-black"
          href="<%= path ? addUrlQuery(path, page: pgnt[:first_page]) : disabled_href %>"
          title="第<%= pgnt[:first_page] %>页"
        >
          <%= pgnt[:first_page] %>
        </a>
      </li>
    <% end %>
    <% if pgnt[:backward_more] %>
      <li>
        <a
          class="flex justify-center items-center rounded w-7 h-7 hover:text-white hover:bg-black"
          href="<%= path ? addUrlQuery(path, page: pgnt[:backward_more]) : disabled_href %>"
          title="后退<%= show_pages %>页"
        >
          ...
        </a>
      </li>
    <% end %>
    <% pgnt[:range].each do |i| %>
      <li>
        <a
          class="flex justify-center items-center rounded px-3 h-7 hover:text-white hover:bg-black <%= page == i ? 'text-white bg-black' : '' %>"
          href="<%= path ? addUrlQuery(path, page: i) : disabled_href %>"
          title="第<%= i %>页"
        >
          <%= i %>
        </a>
      </li>
    <% end %>
    <% if pgnt[:forward_more] %>
      <li>
        <a
          class="flex justify-center items-center rounded w-7 h-7 hover:text-white hover:bg-black"
          href="<%= path ? addUrlQuery(path, page: pgnt[:forward_more]) : disabled_href %>"
          title="前进<%= show_pages %>页"
        >
          ...
        </a>
      </li>
    <% end %>
    <% if pgnt[:last_page] %>
      <li>
        <a
          class="flex justify-center items-center rounded w-7 h-7 hover:text-white hover:bg-black"
          href="<%= path ? addUrlQuery(path, page: pgnt[:last_page]) : disabled_href %>"
          title="第<%= pgnt[:last_page] %>页"
        >
          <%= pgnt[:last_page] %>
        </a>
      </li>
    <% end %>
    <li>
      <a
        class="flex justify-center items-center rounded w-7 h-7 <%= pgnt[:forward] ? 'hover:text-white hover:bg-black' : 'cursor-not-allowed' %>"
        href="<%= pgnt[:forward] && path ? addUrlQuery(path, page: page + 1) : disabled_href %>"
        title="下一页"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
        </svg>
      </a>
    </li>
  </ul>
  <div class="flex items-center gap-1">
    <span>前往</span>
    <form action="<%= path %>" method="GET">
      <input
        name="page"
        type="text"
        class="px-0 py-0 w-11 h-7 rounded border-neutral-235 focus:border-neutral-400 focus:ring-transparent text-center text-sm"
        value="<%= page %>"
      />
    </form>
    <span>页</span>
  </div>
</div>
