<header
  class="sticky top-0 h-16 flex items-center justify-center text-white px-4 sm:px-6 lg:px-8 transition-all duration-300"
  style="z-index: 1000;"
  aria-label="Global"
  data-controller="home-navbar"
  data-home-navbar-target="navbar"
  data-action="scroll@window->home-navbar#onScroll">
  <div class="w-0 flex-1 flex justify-begin">
    <%= link_to root_path, class: 'inline' do %>
      <span class="sr-only">天华</span>
      <%= render partial: 'shared/logo', locals: { className: 'mt-1' } -%>
    <% end %>
    <svg data-action="click->slideover#toggle click->sidebar-nav#show" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline ml-4 mt-px cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
    </svg>
  </div>
  <div>
    <a href="/" class="font-medium" style="font-size: 26px;">天华建造研究中心 THTRI</a>
  </div>
  <div class="w-0 flex-1 flex justify-end">
    <a href="<%= search_path %>">
      <svg xmlns="http://www.w3.org/2000/svg" class="inline h-8 w-8 mr-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
      </svg>
    </a>
    <svg xmlns="http://www.w3.org/2000/svg" class="inline h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
  </div>
</header>

<div class="flex flex-col bg-no-repeat bg-center bg-cover -mt-16" style="background-image: url(<%= image_pack_path('home-background.jpg') -%>);">
  <div class="mt-48 xl:mt-52 2xl:mt-60 mx-auto max-w-4xl px-4 text-white w-7/12">
    <h2 class="text-4xl">Welcome!</h2>
    <h1 class="mt-3 text-5xl font-medium">天华线上材料库</h1>
    <p class="mt-4 text-xl">TIANHUA Online Material Library</p>
  </div>

  <div class="mt-10 lg:mt-12 xl:mt-14 mx-auto max-w-4xl w-7/12">
    <div class="flex flex-row gap-x-8 text-white px-6"
      data-controller="search-type-select">
      <div class="active-search" data-action="click->search-type-select#all_as_material" id='div-select-all-as-material'>
        <span class="text-2xl mr-2">全部</span><span class="text-xl">All</span>
      </div>
      <div class="cursor-pointer" data-action="click->search-type-select#materials" id='div-select-materials'>
        <span class="text-2xl mr-2">材料</span><span class="text-xl">Materials</span>
      </div>
      <div class="cursor-pointer" data-action="click->search-type-select#projects" id='div-select-projects'>
        <span class="text-2xl mr-2">案例</span><span class="text-xl">Projects</span>
      </div>
      <div class="cursor-pointer" data-action="click->search-type-select#manufacturer" id='div-select-manufacturer'>
        <span class="text-2xl mr-2">供应商</span><span class="text-xl">Manufacturer</span>
      </div>
    </div>

    <div class="relative mt-6 max-w-4xl px-4 pb-0">
      <%= form_with url: search_path, method: :get, id: 'search-form' do |f| %>
        <label for="search-box" class="sr-only">搜索</label>
        <span class="absolute inset-y-0 pl-4 pt-4 cursor-pointer" onclick="document.getElementById('search-form').submit();">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="white">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
          </svg>
        </span>
        <%= text_field_tag :q, nil, placeholder: '黄金麻/镀膜玻璃/PC板/项目名称/东丽石业', class: 'block w-full pl-12 pr-5 py-3 rounded-full bg-transparent border-4 border-white text-base text-white placeholder-white focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-white focus:border-white focus:ring-offset-white', id: 'search-box', autocomplete: "off" -%>
      <% end %>
    </div>
    <div class="text-center pt-20 pb-32">
      <div data-controller="modal" data-modal-allow-background-close="true" data-modal-disable-backdrop="true">
        <a href="#" data-action="click->modal#open" class="text-2xl text-white font-medium border-b-2 border-gray-100 border-solid pb-1">
          <span class="text-xl mr-2">需求登记</span><span class="text-lg">Your demand</span>
        </a>
        <%= render 'shared/need_register_modal' %>
      </div>
    </div>
  </div>
</div>

<%# 收录统计 %>
<div class="flex mx-4 xl:mx-6 2xl:mx-8 mt-4 xl:mt-6 2xl:mt-8 mb-16 gap-x-4 xl:gap-x-6 2xl:gap-x-8 text-white">
  <div class="flex-auto">
    <%= link_to materials_path, class: 'block relative' do %>
      <img class="w-full" src="<%= image_pack_path('material_background.jpg') -%>" alt="">
      <div class="absolute top-4 left-5 border-b-2 border-gray-100 border-solid">
        <span class="text-2xl mr-2">材料</span><span class="text-xl">Materials</span>
      </div>
      <div class="absolute top-1/2 left-1/2" style="transform: translate(-50%, -50%);">
        <p class="text-2xl 2xl:text-3xl font-medium whitespace-nowrap">
          收录有 <span class="text-6xl 2xl:text-7xl"><%= @total[:material] %></span> 种材料
        </p>
      </div>
    <% end %>
  </div>
  <div class="flex-auto">
    <%= link_to projects_path, class: 'block relative' do %>
      <img class="w-full" src="<%= image_pack_path('project_background.jpg') -%>" alt="">
      <div class="absolute top-4 left-5 border-b-2 border-gray-100 border-solid">
        <span class="text-2xl mr-2">案例</span><span class="text-xl">Projects</span>
      </div>
      <div class="absolute top-1/2 left-1/2" style="transform: translate(-50%, -50%);">
        <p class="text-2xl 2xl:text-3xl font-medium whitespace-nowrap">
          收录有 <span class="text-6xl 2xl:text-7xl"><%= @total[:project] %></span> 个案例
        </p>
      </div>
    <% end %>
  </div>
  <div class="flex-auto">
    <%= link_to manufacturers_path, class: 'block relative' do %>
      <img class="w-full" src="<%= image_pack_path('manufacturer_background.jpg') -%>" alt="">
      <div class="absolute top-4 left-5 border-b-2 border-gray-100 border-solid">
        <span class="text-2xl mr-2">供应商</span><span class="text-xl">Manufacturer</span>
      </div>
      <div class="absolute top-1/2 left-1/2" style="transform: translate(-50%, -50%);">
        <p class="text-2xl 2xl:text-3xl font-medium whitespace-nowrap">
          收录有 <span class="text-6xl 2xl:text-7xl"><%= @total[:manufacturer] %></span> 个材料供应商
        </p>
      </div>
    <% end %>
  </div>
</div>

<%# 近日更新 %>
<div class="mx-4 xl:mx-6 2xl:mx-8 mt-8">
  <span class="text-2xl font-bold ml-px mr-2">近日更新</span><span class="text-xl font-light">What's new</span>
  <a class="more-btn inline" href="<%= news_index_path -%>">MORE+</a>
</div>
<div class="flex mx-4 xl:mx-6 2xl:mx-8 mt-4 mb-16 ">
  <div class="flex-none w-7/12">
    <div class="relative w-full" style="padding-top: 56.98%;">
      <div class="absolute top-0 left-0 w-full h-full grid grid-cols-7 grid-rows-4 gap-1">
        <div class="relative flex row-span-2 col-span-3">
          <img class="w-full h-full object-fill" src="<%= image_pack_path('news_material.jpg') -%>" alt="">
          <div class="absolute top-1/2 left-1/2 text-white" style="transform: translate(-50%, -50%);">
            <p class="text-xl 2xl:text-2xl font-medium whitespace-nowrap">
              <%= Time.now.strftime('至%m月%d日') %>
            </p>
            <p class="text-xl 2xl:text-2xl font-medium whitespace-nowrap">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新增 <span class="text-4xl 2xl:text-5xl"><%= @total[:recently_materials] %></span> 个新材料
            </p>
          </div>
        </div>
        <div
          class="relative row-span-2 col-span-4"
          data-controller="material-carousel"
          data-material-carousel-enter-class-value="<%= ['-animation-transition-x-full-reverse', 'animation-transition-x-full-reverse'].to_json %>"
          data-material-carousel-leave-class-value="<%= ['animation-transition-x-full', '-animation-transition-x-full'].to_json %>"
          data-material-carousel-duration-value="0.5"
        >
          <div class="relative w-full h-full overflow-hidden">
            <% for i in 0...(@recently_materials.length.to_f / 8).ceil %>
              <div class="absolute top-0 left-0 w-full h-full grid grid-cols-4 grid-rows-2 gap-1" style="display: <%= i == 0 ? '' : 'none;' %>" data-material-carousel-target="carouselItem">
                <% @recently_materials.slice(i * 8, (i + 1) * 8).each do |material| %>
                  <a class="relative block w-full cursor-pointer" style="padding-top: 100%;" href="<%= material_path(material.material_id) %>">
                    <div class="absolute top-0 left-0 w-full h-full">
                      <img class="w-full h-full object-cover" src="<%= mat_img_url(material.cover, "static/new_mat_g#{i}.jpg") -%>" alt="">
                      <div class="absolute top-0 left-0 w-full h-full opacity-0 hover:opacity-100 transition-all flex items-center px-1" style="background-color: rgba(16, 24, 32, .6);">
                        <p class="w-full text-sm lg:text-base fond-medium 2xl:text-lg whitespace-nowrap text-white truncate text-center" title="<%= material.name %>">
                          <%= material.name %>
                        </p>
                      </div>
                    </div>
                  </a>
                <% end %>
              </div>
            <% end %>
          </div>
          <% if @recently_materials.length > 8 %>
            <div class="absolute left-2 flex items-center justify-center cursor-pointer circle-arrow text-lg" style="width: 30px; height: 30px; top: calc((100% - 30px) / 2);" data-action="click->material-carousel#toPrev">
              <svg class="-ml-0.5" fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="9.062" height="16.125" viewBox="0 0 9.062 16.125">
                <path d="M564.707,561.636L558.343,568l6.364,6.364a1,1,0,0,1-1.414,1.414l-7.071-7.071a1,1,0,0,1,0-1.414l7.071-7.071A1,1,0,0,1,564.707,561.636Z" transform="translate(-555.938 -559.938)"/>
              </svg>
            </div>
            <div class="absolute right-2 flex items-center justify-center cursor-pointer circle-arrow text-lg" style="width: 30px; height: 30px; top: calc((100% - 30px) / 2);" data-action="click->material-carousel#toNext">
              <svg class="-mr-0.5" fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="9" height="16" viewBox="0 0 9 16">
                <path d="M556.291,561.685l6.32,6.315-6.32,6.315a0.992,0.992,0,0,0,1.4,1.4l7.023-7.016a0.994,0.994,0,0,0,0-1.4l-7.023-7.016A0.992,0.992,0,0,0,556.291,561.685Z" transform="translate(-556 -560)"/>
              </svg>
            </div>
          <% end %>
        </div>
        <div class="relative flex row-span-2 col-span-3">
          <img class="w-full h-full object-fill" src="<%= image_pack_path('news_project.jpg') -%>" alt="">
          <div class="absolute top-1/2 left-1/2 text-white" style="transform: translate(-50%, -50%);">
            <p class="text-xl 2xl:text-2xl font-medium whitespace-nowrap">
              <%= Time.now.strftime('至%m月%d日') %>
            </p>
            <p class="text-xl 2xl:text-2xl font-medium whitespace-nowrap">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新增 <span class="text-4xl 2xl:text-5xl"><%= @total[:recently_project] %></span> 个新案例
            </p>
          </div>
        </div>
        <div
          class="relative grid row-span-2 col-span-4 overflow-hidden"
          data-controller="material-carousel"
          data-material-carousel-enter-class-value="<%= ['-animation-transition-x-full-reverse', 'animation-transition-x-full-reverse'].to_json %>"
          data-material-carousel-leave-class-value="<%= ['animation-transition-x-full', '-animation-transition-x-full'].to_json %>"
          data-material-carousel-duration-value="0.5"
        >
          <% @recently_projects.each_with_index do |project, i| %>
            <a class="block absolute top-0 left-0 w-full h-full" style="display: <%= i == 0 ? '' : 'none;' %>" data-material-carousel-target="carouselItem" href="<%= project_path(project.home_top_case) %>">
              <img class="w-full h-full object-cover" src="<%= mat_img_url(project.cover, "static/news_project_#{i}.jpg") -%>" alt="">
              <div class="absolute left-0 bottom-0 w-full text-white text-lg text-center truncate p-2">
                <%= project.name -%>
              </div>
            </a>
          <% end %>
          <% if @recently_projects.length > 1 %>
            <div class="absolute left-2 flex items-center justify-center cursor-pointer circle-arrow text-lg" style="width: 30px; height: 30px; top: calc((100% - 30px) / 2);" data-action="click->material-carousel#toPrev">
              <svg class="-ml-0.5" fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="9.062" height="16.125" viewBox="0 0 9.062 16.125">
                <path d="M564.707,561.636L558.343,568l6.364,6.364a1,1,0,0,1-1.414,1.414l-7.071-7.071a1,1,0,0,1,0-1.414l7.071-7.071A1,1,0,0,1,564.707,561.636Z" transform="translate(-555.938 -559.938)"/>
              </svg>
            </div>
            <div class="absolute right-2 flex items-center justify-center cursor-pointer circle-arrow text-lg" style="width: 30px; height: 30px; top: calc((100% - 30px) / 2);" data-action="click->material-carousel#toNext">
              <svg class="-mr-0.5" fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="9" height="16" viewBox="0 0 9 16">
                <path d="M556.291,561.685l6.32,6.315-6.32,6.315a0.992,0.992,0,0,0,1.4,1.4l7.023-7.016a0.994,0.994,0,0,0,0-1.4l-7.023-7.016A0.992,0.992,0,0,0,556.291,561.685Z" transform="translate(-556 -560)"/>
              </svg>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="relative flex-1 ml-12" style="width: 740px;">
    <div class="flex flex-col h-full">
      <% @latest_news.each_with_index do |news, index| %>
        <a class="flex flex-1 items-center border-b <%= index == 0 ? 'border-t' : '' -%>" href="<%= news.url %>" target="_blank">
          <div class="flex-none flex flex-col justify-around">
            <p class="text-center text-base font-normal tracking-wider leading-none"><%= Date::ABBR_MONTHNAMES[news.published_at.month].upcase -%></p>
            <p class="text-3xl text-center font-semibold tracking-widest leading-none mt-5"><%= news.published_at.day -%></p>
          </div>
          <div class="flex-1 w-0 ml-4 md:ml-8 lg:ml-12 xl:ml-16 2xl:ml-20">
            <div class="flex text-2xl text-left leading-tight">
              <h1 class="flex-1 w-0 font-bold truncate" title="<%= news.title -%>"><%= news.title -%></h1>
              <span class="flex-none ml-1 px-3 py-1 rounded-full text-sm bg-gray-100 text-gray-400">
                材料在线
              </span>
              <% if news.mold_name.present? %>
                <span class="flex-none ml-1 px-3 py-1 rounded-full text-sm bg-gray-100 text-gray-400">
                  <%= news.mold_name -%>
                </span>
              <% end %>
            </div>
            <h2 class="mt-3 text-1xl text-left truncate" title="<%= news.subtitle -%>"><%= news.subtitle -%><%= news.subtitle -%><%= news.subtitle -%></h2>
          </div>
        </a>
      <% end %>
    </div>
  </div>
</div>

<%# 材料 %>
<div class="mx-4 xl:mx-6 2xl:mx-8 mt-8">
  <span class="text-2xl font-bold ml-px mr-2">材料</span><span class="text-xl font-light">Materials</span>
  <a class="more-btn inline" href="<%= materials_path -%>">MORE+</a>
</div>
<div class="mx-4 xl:mx-6 2xl:mx-8 mt-4 mb-16 grid grid-cols-5 gap-1.5">
  <% @material_cates.each do |material_cate| %>
    <%= link_to material_cate[:mat].present? ? material_path(id: material_cate[:mat].id) : 'javascript:void(0);', class: 'block relative' do %>
      <div class="w-full" style="padding-top: 125%;">
        <div class="absolute left-0 top-0 w-full h-full">
          <img class="w-full h-full object-cover" src="<%= image_pack_path(material_cate[:cover]) -%>" alt="">
        </div>
      </div>
      <div class="absolute left-0 bottom-0 w-full p-4 text-white text-center truncate" title="<%= "#{material_cate[:title]} #{material_cate[:subtitle]}" %>">
        <span class="text-xl font-bold mr-2"><%= material_cate[:title] %></span><span class="text-base"><%= material_cate[:subtitle] %></span>
      </div>
    <% end %>
  <% end %>
</div>

<%# 案例 %>
<div class="mx-4 xl:mx-6 2xl:mx-8 mt-8">
  <span class="text-2xl font-bold ml-px mr-2">案例</span><span class="text-xl font-light">Projects</span>
  <a class="more-btn inline" href="<%= projects_path -%>">MORE+</a>
</div>
<div class="mx-4 xl:mx-6 2xl:mx-8 mt-4 mb-16 grid grid-cols-4 gap-1.5">
  <% @projects.each do |project_case| %>
    <a class="relative block" style="padding-top: 74.78%;" href="<%= project_path(project_case.home_top_case) %>">
      <div class="absolute top-0 left-0 w-full h-full">
        <img class="w-full h-full object-cover" src="<%= mat_img_url(project_case.cover, 'static/project_new_g1.jpg') -%>" alt="">
        <div class="absolute left-0 bottom-0 p-3 w-full text-white black-mask">
          <p class="text-lg leading-tight truncate" title="<%= project_case.home_top_case&.project_name_and_location -%>">
            <%= project_case.home_top_case&.project_name_and_location -%>
          </p>
          <div class="flex flex-row items-center justify-center">
            <p class="text-sm leading-tight flex-1 truncate" title="<%= project_case.home_top_case&.material_tags&.join(' | ') -%>"><%= project_case.home_top_case&.material_tags&.join(' | ') %></p>
            <p class="text-sm flex-none"><%= project_case.home_top_case&.project_type %></p>
          </div>
        </div>
      </div>
    </a>
  <% end %>
</div>

<%# 供应商 %>
<div class="mx-4 xl:mx-6 2xl:mx-8 mt-8">
  <span class="text-2xl font-bold ml-px mr-2">供应商</span><span class="text-xl font-light">Manufacturer</span>
  <a class="more-btn inline" href="<%= manufacturers_path -%>">MORE+</a>
</div>
<div class="mx-4 xl:mx-6 2xl:mx-8 mt-4 mb-16 grid grid-cols-5 xl:grid-cols-10 gap-4">
  <% @manufacturer_cates.each do |manufacturer_cate| %>
    <div class="flex flex-col w-full py-4 rounded-lg shadow-tw-light">
      <h5 class="text-center"><%= manufacturer_cate[:name] %>供应商</h5>
      <% manufacturer_cate[:manufacturers].each do |manufacturer| %>
        <a class="block relative w-full" style="padding-top: 100%;" href="<%= manufacturer_path(manufacturer[:id]) %>">
          <div class="absolute top-0 left-0 w-full h-full p-4">
            <img class="w-full h-full object-scale-down" src="<%= mat_img_url(manufacturer[:logo], 'manufacturer_default_cover.png') -%>" alt="">
          </div>
        </a>
      <% end %>
      <% if manufacturer_cate[:manufacturers].length < 2 %>
        <% for i in 0...(2- manufacturer_cate[:manufacturers].length) %>
          <div class="relative w-full" style="padding-top: 100%;">
            <div class="absolute top-0 left-0 w-full h-full p-6">
              <img class="w-full h-full object-scale-down" src="<%= image_pack_path('manufacturer_none_cover.svg') -%>" alt="">
            </div>
          </div>
        <% end %>
      <% end %>
      <svg xmlns="http://www.w3.org/2000/svg" class="mt-auto h-6 w-6 mx-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
      </svg>
    </div>
  <% end %>
</div>
