<div class="mb-3 pb-3 border-b border-gray-200">
  <div>
    <% if project.type_id == 'pm' %>
      <label class="px-2 py-0.5 text-xs bg-black text-white rounded-lg">内部</label>
    <% else %>
      <label class="px-2 py-0.5 text-xs bg-gray-200 text-gray-500 rounded-lg">外部</label>
    <% end %>
  </div>
  <div class="flex flex-row mt-1">
    <div class="flex-none flex flex-col gap-5" style="width: 228px;">
      <% if project.type_id == 'pm' %>
        <div>
          <label>项目编号:</label>
          <div class="border border-gray-300 bg-gray-200 h-7 rounded px-2 leading-7 text-gray-500 text-sm mt-1 truncate">
            <%= project.no %>
          </div>
        </div>
        <div>
          <label>PM项目名称:</label>
          <div class="border border-gray-300 bg-gray-200 h-7 rounded px-2 leading-7 text-gray-500 text-sm mt-1 truncate" title="<%= project.pm_project_name %>">
            <%= project.pm_project_name %>
          </div>
        </div>
      <% end %>
      <div>
        <label>项目名称:</label>
        <div class="border border-gray-300 bg-gray-200 h-7 rounded px-2 leading-7 text-gray-500 text-sm mt-1 truncate" title="<%= project.name %>">
          <%= project.name %>
        </div>
      </div>
    </div>
    <div class="flex-1" style="margin-left: 30px;">
      <label>实景照:</label>
      <div class="mt-1 grid grid-cols-3 gap-3">
        <% project.live_photos.each do |live_photo| %>
          <div style="height: 180px;">
            <img class="w-full h-full object-cover bg-gray-400" src="<%= mat_img_url(live_photo.path) %>" alt="<%= live_photo.title %>">
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>