<div
  data-controller="modal"
  data-modal-allow-background-close="false"
  data-modal-disable-backdrop="true"
  data-personal-center-suppliers-target="modal"
>
  <div
    data-modal-target="container"
    data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard"
    class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center"
    style="z-index: 9999; background-color: rgba(0, 0, 0, 0.5);"
  >
      <div class="relative bg-white rounded-lg overflow-hidden" style="width: 1080px;">
        <div class="bg-black text-white text-sm flex justify-center items-center px-3" style="height: 35px;">
          新增供应商推荐
        </div>
        <div class="px-10 py-6 overflow-auto" style="height: 605px;">
          <%= form_tag rm_message_personal_center_path, method: :delete, data: {
            turbo: false,
            personal_center_suppliers_target: 'modalForm',
          } do %>
            <div class="flex border-b border-gray-200">
              <span class="relative text-lg border-b border-black font-bold" style="bottom: -1px;">供应商信息</span>
            </div>
            <div class="grid grid-cols-4 gap-7 mt-3">
              <div class="flex flex-col">
                <label for="supplier_title">供应商名称:</label>
                <%= render partial: 'shared/matlib_form/input_text', locals: {
                  id: 'supplier_title',
                  class_name: 'mt-1',
                } %>
              </div>
              <div class="flex flex-col">
                <label for="supplier_contact">联系人:</label>
                <%= render partial: 'shared/matlib_form/input_text', locals: {
                  id: 'supplier_contact',
                  class_name: 'mt-1',
                } %>
              </div>
              <div class="flex flex-col row-span-2 col-span-2">
                <label for="supplier_recommended_reason">推荐理由:</label>
                <%= render partial: 'shared/matlib_form/textarea', locals: {
                  id: 'supplier_recommended_reason',
                  class_name: 'mt-1 flex-1 resize-none',
                } %>
              </div>
              <div class="flex flex-col">
                <label for="supplier_type">供应商类型:</label>
                <%= render partial: 'shared/matlib_form/select', locals: {
                  id: 'supplier_type',
                  class_name: 'mt-1',
                  value: '石材',
                  options: [
                    { label: '石材', value: '石材' },
                  ],
                } %>
              </div>
              <div class="flex flex-col">
                <label for="supplier_contact_phone">联系电话:</label>
                <%= render partial: 'shared/matlib_form/input_text', locals: {
                  id: 'supplier_contact_phone',
                  class_name: 'mt-1',
                } %>
              </div>
              <div class="flex flex-col">
                <label for="">是否与天华合作过:</label>
                <div class="mt-1">
                  <%= render partial: 'shared/matlib_form/radio', locals: { label: '是', value: true, name: 'is_th' } %>
                  <%= render partial: 'shared/matlib_form/radio', locals: { label: '否', value: false, name: 'is_th', class_name: 'ml-10' } %>
                </div>
              </div>
            </div>
            <div class="flex border-b border-gray-200 mt-11">
              <span class="relative text-lg border-b border-black font-bold" style="bottom: -1px;">供应商优秀案例</span>
              <span class="text-gray-300 relative text-lg" style="bottom: -1px;">（需选择或添加至少一个）</span>
            </div>
            <div class="py-3">
              <div class="flex gap-12">
                <button class="matlib-form-button icon-add text-xs" type="button" data-action="click->personal-center-suppliers#showPmProjectsModal">从PM库选择天华内部案例</button>
                <button class="matlib-form-button icon-add text-xs" type="button" data-action="click->personal-center-suppliers#showMatlibProjectsModal">从材料库选择外部案例 (选填)</button>
                <button class="matlib-form-button icon-add text-xs" type="button">新增外部案例 (选填)</button>
              </div>
            </div>
          <% end %>
        </div>
        <div class="text-sm flex justify-center py-6">
          <button class="w-20 py-1 rounded-lg border text-gray-400 hover:bg-black hover:text-white" type="submit">提交审核</button>
          <button class="w-20 py-1 rounded-lg border ml-4 text-gray-400 hover:bg-gray-300 hover:text-gray-500" type="button" data-action="click->modal#close">取消</button>
        </div>
      </div>
  </div>
</div>