<div class="px-10 py-6 overflow-auto" style="height: 605px;" id="supplier_detail_modal_body">
  <div class="flex border-b border-gray-200">
    <span class="relative text-lg border-b border-black font-bold" style="bottom: -1px;">供应商信息</span>
  </div>
  <div class="grid grid-cols-4 gap-7 mt-3">
    <div class="flex flex-col">
      <label>供应商名称:</label>
      <%= render 'suppliers_modal_text_div', class_name: 'mt-1' do %>
        <%= manufacturer_recommend.name %>
      <% end %>
    </div>
    <div class="flex flex-col">
      <label>联系人:</label>
      <%= render 'suppliers_modal_text_div', class_name: 'mt-1' do %>
        <%= manufacturer_recommend.contact_name %>
      <% end %>
    </div>
    <div class="flex flex-col row-span-2 col-span-2">
      <label>推荐理由:</label>
      <%= render 'suppliers_modal_text_div', class_name: 'mt-1 flex-1 overflow-auto max-h-30' do %>
        <%= manufacturer_recommend.reason %>
      <% end %>
    </div>
    <div class="flex flex-col">
      <label>供应商类型:</label>
      <%= render 'suppliers_modal_text_div', class_name: 'mt-1' do %>
        <%= manufacturer_recommend.material&.name %>
      <% end %>
    </div>
    <div class="flex flex-col">
      <label>联系电话:</label>
      <%= render 'suppliers_modal_text_div', class_name: 'mt-1' do %>
        <%= manufacturer_recommend.contact_tel %>
      <% end %>
    </div>
    <div class="flex flex-col">
      <label>是否与天华合作过:</label>
      <div class="mt-1 px-2 py-1.5 text-gray-500 text-sm"><%= manufacturer_recommend.is_th_co_text %></div>
    </div>
  </div>
  <div class="flex border-b border-gray-200 mt-11">
    <span class="relative text-lg border-b border-black font-bold" style="bottom: -1px;">供应商优秀案例</span>
  </div>
  <div class="py-3">
    <% manufacturer_recommend.cases.each do |project| %>
      <%= render partial: 'suppliers_modal_project_detail', locals: { project: project } %>
    <% end %>
  </div>
</div>