<%= render 'frame', locals: { page: 'demands' } do -%>
  <% if @list.present? %>
    <table class="border text-sm my-8 w-full">
      <thead>
        <tr class="bg-gray-50">
          <td class="border px-5 py-4 whitespace-nowrap font-semibold w-48">日期</td>
          <td class="border px-5 py-4 whitespace-nowrap font-semibold w-32">需求类型</td>
          <td class="border px-5 py-4 whitespace-nowrap font-semibold w-32">材料大类</td>
          <td class="border px-5 py-4 whitespace-nowrap font-semibold">具体描述</td>
          <td class="border px-5 py-4 whitespace-nowrap font-semibold">相关参考</td>
          <td class="border px-5 py-4 whitespace-nowrap font-semibold w-24">状态</td>
          <td class="border px-5 py-4 whitespace-nowrap font-semibold">建筑委回复</td>
        </tr>
      </thead>
      <tbody>
        <% @list.each do |demand| %>
          <tr>
            <td class="border p-5"><%= demand.created_at&.strftime('%Y-%m-%d %H:%M:%S') %></td>
            <td class="border p-5"><%= demand.cate_name %></td>
            <td class="border p-5">
            <% if demand.material.present? %>
            <%= demand.material&.name %>
              <% else %>
              <div class="flex justify-center">--</div>
              <% end %>
            </td>
            <td class="border p-5"><%= demand.description %></td>
            <td class="border p-5">
            <% if demand.references_json.present? %>
              <% demand.references_json.each do |reference| %>
                <div>
                  <a href="<%= mat_img_url(reference[:path]) %>" class="underline text-blue-500" target="_blank"><%= reference[:name] %></a>
                </div>
              <% end %>
              <% else %>
              <div class="flex justify-center">--</div>
              <% end %>
            </td>
            <td class="border p-5">
            <% if demand.replies.present? %>
              <span class="bg-gray-200 text-gray-400 px-2 py-1 rounded-lg whitespace-nowrap text-xs">已回复</span>
              <% else %>
              <span class="bg-gray-200 text-gray-400 px-2 py-1 rounded-lg whitespace-nowrap text-xs">待回复</span>
            <% end %>
            </td>
            <td class="border p-5">
            <% if demand.replies.present? %>
              <% demand.replies.each do |reply| %>
                <div><%= reply.content %></div>
              <% end %>
              <% else %>
              <div class="flex justify-center">--</div>
            <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="mt-12">
      <%= render partial: 'empty' %>
    </div>
  <% end %>
<% end %>
