<%= render 'frame', page: 'messages' do -%>
  <div class="relative py-8 flex flex-col gap-8" data-controller="personal-center-messages">
    <% if @no_read_message_count.to_i > 0 %>
    <% end %>
    <div class="absolute right-0 -top-10 flex items-center">
      <input
       type="checkbox"
       class="focus:ring-gray-50 text-gray-600 border-gray-300"
       data-personal-center-messages-target="allCheckbox"
       data-action="change->personal-center-messages#activeAllCheckbox"
       <%= @list.present? ? '' : 'disabled' %>
      />
      <button
        type="button"
        class="ml-4 px-3 py-1 text-black border rounded text-sm hover:text-white hover:bg-black hover:border-white transition-all disabled:text-gray-100 disabled:bg-gray-300 disabled:cursor-not-allowed"
        <%= @list.present? ? '' : 'disabled' %>
        data-action="click->personal-center-messages#removeItems"
      >
        删除
      </button>
      <%= form_tag set_message_read_personal_center_path, method: :put, onsubmit: 'this.querySelector(\'button\').disabled = true', data: {
        turbo: false
      } do %>
        <input type="hidden" name="id" data-personal-center-messages-target="idsInput" />
        <button
          type="submit"
          class="ml-2 px-3 py-1 text-black border rounded text-sm hover:text-white hover:bg-black hover:border-white transition-all disabled:text-gray-100 disabled:bg-gray-300 disabled:cursor-not-allowed"
          <%= @list.present? && @list.any?{ |msg| msg.read_at.blank? } ? '' : 'disabled' %>
        >
          标记已读
        </button>
      <% end %>
    </div>
    <% if @list.present? %>
      <% @list.each do |notification| %>
        <div class="border rounded-xl flex flex-row px-11 py-6">
          <div class="flex-none relative">
            <img src="<%= notification.format_data&.fetch(:fromUser, {})&.fetch(:headerImg, '') %>" alt="" class="border rounded-full object-cover overflow-hidden" style="width: 70px; height: 70px;">
            <% if notification.read_at.blank? %>
              <svg class="absolute" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg" style="left: -18px; top: 30px;">
                <g>
                  <path id="Vector" d="M6 11C8.76142 11 11 8.76142 11 6C11 3.23858 8.76142 1 6 1C3.23858 1 1 3.23858 1 6C1 8.76142 3.23858 11 6 11Z" fill="#FF0000"/>
                </g>
              </svg>
            <% end %>
          </div>
          <div class="flex-1 ml-7 relative <%= notification.read_at.blank? ? 'text-black-6c' : 'text-gray-400' %>">
            <div class="text-lg font-semibold"><%= notification.format_data&.fetch(:subject, '') %></div>
            <div class="text-sm"><%= Time.parse(notification.format_data&.fetch(:DateTime, '')).strftime('%Y-%m-%d %H:%M:%S') %></div>
            <div class="text-sm break-all">
              <%= notification.msg&.gsub(/\[(.*)\]\((.*)\)/, '<a class="underline text-blue-400" href="\2" target="_blank">\1</a>').html_safe %>
            </div>

            <% replies = notification.format_data&.fetch(:demands, {})&.fetch(:DemandReplies, [])&.reverse() %>
            <% if replies.present? %>
              <% reply = replies.shift %>
              <div class="mt-5 rounded-lg bg-gray-50 p-4 text-sm">
                <div><%= Time.parse(reply[:CreatedAt]).strftime('%Y-%m-%d %H:%M:%S') %></div>
                <div class="mt-2 break-all"><%= reply[:content] %></div>
              </div>
              <% if replies.present? %>
                <div class="flex justify-center mt-5">
                  <button class="text-gray-400 text-sm" onclick="this.parentElement.style.display = 'none'; this.parentElement.nextElementSibling.style.display = '';">查看更多</button>
                </div>
                <div style="display: none;">
                  <% replies.each do |reply| %>
                    <div class="mt-5 rounded-lg bg-gray-50 p-4 text-sm">
                      <div><%= Time.parse(reply[:CreatedAt]).strftime('%Y-%m-%d %H:%M:%S') %></div>
                      <div class="mt-2"><%= reply[:content] %></div>
                    </div>
                  <% end %>
                  <div class="flex justify-center mt-5" onclick="this.parentElement.style.display = 'none'; this.parentElement.previousElementSibling.style.display = '';">
                    <button class="text-gray-400 text-sm">收起</button>
                  </div>
                </div>
              <% end %>
            <% end %>

            <div class="absolute flex flex-row gap-2" style="right: 0; top: 10px;">
              <input
                type="checkbox"
                class="focus:ring-gray-50 text-gray-600 border-gray-300"
                data-personal-center-messages-target="itemCheckbox"
                data-id="<%= notification.id %>"
                data-action="change->personal-center-messages#activeItemCheckbox"
              />
            </div>
          </div>
        </div>
      <% end %>
      <div
       data-controller="modal"
       data-modal-allow-background-close="true"
       data-modal-disable-backdrop="true"
       data-personal-center-messages-target="modal"
      >
        <div
          data-modal-target="container"
          data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard"
          class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center"
          style="z-index: 9999; background-color: rgba(0, 0, 0, 0.5);"
        >
            <div class="relative bg-white rounded-lg overflow-hidden" style="width: 330px;">
              <div class="bg-black text-white text-sm flex items-center px-3" style="height: 30px;">温馨提示</div>
              <div class="mb-5 flex justify-center flex-col items-center">
                <div class="mt-12">确定删除选中的 <span data-personal-center-messages-target="activeCount">0</span> 项？</div>
                <div class="mt-4 mb-5 text-sm flex justify-center">
                  <%= form_tag rm_message_personal_center_path, method: :delete, data: {
                    turbo: false,
                    personal_center_messages_target: 'modalRmForm',
                  } do %>
                    <input type="hidden" name="id" data-personal-center-messages-target="idsInput" />
                    <button class="bg-black text-white px-6 py-2 rounded-lg" type="submit">确定</button>
                  <% end %>
                  <button class="text-gray-400 px-6 py-2 rounded-lg border ml-4" data-action="click->modal#close">取消</button>
                </div>
              </div>
            </div>
        </div>
      </div>
    <% else %>
      <div class="mt-12">
        <%= render partial: 'empty' %>
      </div>
    <% end %>
  </div>
<% end %>