<%= render 'frame', page: 'projects' do -%>
  <form action="<%= projects_personal_center_path %>" data-turbo="false" data-controller="personal-center-project-form">
    <div class="flex flex-row border bg-gray-50 mt-4" style="height: 50px; padding: 10px 20px;">
      <div class="h-full flex-none border-r border-gray-200 text-gray-300" style="width: 350px;">
        <input
          class="h-full border-none bg-transparent outline-none placeholder:text-gray-300"
          style="--tw-ring-color: transparent; width: 280px;"
          type="text"
          placeholder="案例名称"
          name="title"
          value="<%= params[:title].presence.to_s %>"
        >
        <button class="border-none outline-none p-0 m-0" type="submit">
          <svg xmlns="http://www.w3.org/2000/svg" class="inline h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
          </svg>
        </button>
      </div>
      <div class="h-full flex-1">
        <select
          name="status"
          class="h-full border-none bg-transparent outline-none py-0 text-gray-400"
          style="--tw-ring-color: transparent;"
          data-action="change->personal-center-project-form#submit"
        >
          <option value="" <%= params[:status] == '' ? 'selected' : '' %>>全部</option>
          <% CaseDelegate.web_status_hash.each do |key, value| %>
            <option value="<%= key %>" <%= params[:status] == key.to_s ? 'selected' : '' %>><%= value[:title] %></option>
          <% end %>
        </select>
      </div>
    </div>
  </form>
  <% if @list.present? %>
    <div class="grid grid-cols-4 gap-x-3 gap-y-10 my-4">
      <% @list.each do |project| %>
        <div>
          <div class="relative">
            <img src="<%= project.record.show_cover %>" alt="" class="w-full" style="height: 270px;" />
            <% if project.status == 'delegate_published' %>
              <a href="/projects/<%= project.case_id %>">
                <div class="absolute top-0 left-0 w-full h-full flex justify-center items-center bg-black bg-opacity-50 opacity-0 hover:opacity-100 transition-all">
                  <span class="text-lg text-white"> <%= project.web_status_title %> </span>
                </div>
              </a>
            <% elsif project.status == 'delegate_unpublishing' %>
              <a href="/projects/<%= project.case_id %>">
                <div class="absolute top-0 left-0 w-full h-full flex justify-center items-center bg-black bg-opacity-50 opacity-0 hover:opacity-100 transition-all">
                  <span class="text-lg text-white"> <%= project.web_status_title %> </span>
                </div>
              </a>

            <% elsif project.status == 'delegate_unpublished' %>
              <a href="/projects/<%= project.case_id %>">
                <div class="absolute top-0 left-0 w-full h-full flex justify-center items-center bg-black bg-opacity-50 opacity-0 hover:opacity-100 transition-all">
                  <span class="text-lg text-white"> <%= project.web_status_title %> </span>
                </div>
              </a>

            <% else %>
                <div class="absolute top-0 left-0 w-full h-full flex justify-center items-center bg-black bg-opacity-50 opacity-0 hover:opacity-100 transition-all">
                  <span class="text-lg text-white"> <%= project.web_status_title %> </span>
                </div>
            <% end %>
          </div>
          <div class="mt-3 flex justify-between items-center">
            <div class="font-semibold flex-none truncate" style="width: calc(100% - 32px);" title="<%= project.record.project_name %>">
              <%= project.record.project_name %>
            </div>
            <a href="/layout/caseEditor?id=<%= project.case_id %>" class="flex-none" data-turbo="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
            </a>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="mt-28">
      <%= render partial: 'empty' %>
    </div>
  <% end %>
<% end %>
