<%= render partial: 'shared/header', locals: {} -%>

<p class="px-4 sm:px-6 lg:px-8 pt-8 text-sm text-gray-500"><%= link_to '首页', root_path -%> > <span class="text-black">新闻列表</span></p>

<div class="flex flex-row px-4 sm:px-6 lg:px-8">
  <section class="w-full flex flex-col">
    <%# 新闻 %>
    <div class="mt-7 mb-4 border-b-2 border-gray-100 border-solid pb-3">
      <span class="text-2xl font-bold ml-px mr-2 under-text-border" style="padding-bottom: 0.9rem">新闻</span><span class="text-xl font-light">News</span>
    </div>
  </section>
</div>

<%= form_with url: news_index_path, class: 'px-4 sm:px-6 lg:px-8 mt-2', id: 'news-form', method: :get, data: { controller: 'news-filter',
    'news-filter-material-bar-open-value': @panel_name == 'material',
    'news-filter-indeterminate-material-value': !@selected_all_materials && !@selected_none_materials,
    'news-filter-indeterminate-location-value': !@selected_all_locations && !@selected_none_locations,
  } do |f| %>
  <%= hidden_field_tag 'pn', @panel_name,  data: { "news-filter-target" => "activePanel" } -%>
  <div class="flex flex-wrap w-full mb-3">
    <% @selected_mats.each do |select_material| %>
      <%= render partial: 'search_item', locals: { name: select_material.name, check_id: dom_id(select_material) } %>
    <% end %>
  </div>
  <div class="flex flex-row justify-between border border-gray-200 bg-gray-100">
    <div class="flex flex-row w-1/3 p-1">
      <%= text_field_tag :q, @q, placeholder: '黄金麻/镀膜玻璃/PC板', class: 'block flex-grow bg-transparent text-base placeholder-gray-300 border-0 focus:outline-none focus:ring-gray-100 focus:border-gray-100 focus:ring-offset-gray-100', id: 'search-box', autocomplete: "off" -%>
      <button data-action="news-filter#checkbox_submit" class="cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" class="flex-none mx-4 my-3 h-6 w-6 text-gray-300" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
      </button>
    </div>
    <div class="flex flex-row w-1/3 p-1 cursor-pointer" data-action="click->news-filter#expend_material">
      <p class="flex-none pl-4 pr-2 my-3 text-gray-500 border-l border-gray-300">
        <span class="<%= @panel_name == 'material' ? 'under-text-border' : '' -%>" style="padding-bottom: 1.1rem" data-news-filter-target="materialSpan">材料</span>
      </p>
      <svg data-news-filter-target="materialIconSvg" xmlns="http://www.w3.org/2000/svg" class="flex-none my-4 h-4 w-4 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path fill="currentColor" d="<%= @panel_name == 'material' ? 'M20 16H4L12 8L20 16Z' : 'M20 8H4L12 16L20 8Z' -%>"></path>
      </svg>
    </div>
    <div class="flex flex-row w-1/3 p-1">
    </div>
  </div>
  <div class="flex flex-row text-gray-700 border-b border-l border-r border-gray-200 bg-gray-50 <%= @panel_name == 'material' ? '' : 'hidden' -%>" data-news-filter-target="materialTypeDiv">
    <div class="w-80"></div>
    <div class="grid grid-flow-row grid-cols-6 w-full">
      <% @material_types.each_with_index do |material_type, index| %>
        <turbo-frame id="<%= dom_id(material_type) -%>">
          <div class="my-4 <%= material_type.id == @selected_mat_parent_id ? 'font-bold' : '' -%>" data-news-filter-target="matTypeLink">
            <%= link_to material_type.name, material_type_path(id: material_type.id, from: 'news'), data: { action: 'click->news-filter#clean_active' } -%>
          </div>
        </turbo-frame>
      <% end %>
    </div>
  </div>
  <div class="flex flex-row text-gray-700 border-b border-l border-r border-gray-200 bg-gray-50 <%= @panel_name == 'material' ? '' : 'hidden' -%>" data-news-filter-target="materialDetailDiv">
    <div class="w-80">
      <div class="my-4 ml-8 flex items-start">
        <input id="checkbox-select-material-all" data-news-filter-target="selectAllMaterials" type="checkbox" class="mt-1 focus:ring-gray-50 text-gray-600 border-gray-300" data-action="input->news-filter#select_all_materials" <%= @selected_all_materials ? 'checked' : '' -%>>
        <label for="checkbox-select-material-all" class="font-medium text-gray-700 ml-2 mt-px">全部</label>
      </div>
    </div>
    <turbo-frame id="material_details" class="grid grid-flow-row grid-cols-6 w-full py-1">
      <% @all_materials.each do |material| %>
        <%= render partial: 'material_item', locals: { material: material, checked: @selected_mats.pluck(:id).include?(material.id) } %>
      <% end %>
    </turbo-frame>
  </div>
<% end %>

<div class="px-4 sm:px-6 lg:px-8 mt-6 2xl:mt-8 mb-16 grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-8">
  <% @news.each do |news| %>
    <a class="flex-grow flex border border-gray-100 border-solid" href="<%= news.url %>" target="_self">
      <div class="flex-none w-36 h-36 flex flex-col justify-around bg-gray-100 m-2">
        <img class="w-full h-full object-cover" src="<%= mat_img_url(news.cover, '') -%>" alt="">
      </div>
      <div class="flex-1 flex flex-col justify-between px-8 py-5">
        <div>
          <div class="flex text-2xl text-left leading-tight">
            <h1 class="flex-1 w-0 font-bold truncate" title="<%= news.title -%>"><%= news.title -%></h1>
            <span class="flex-none ml-1 px-3 py-1 rounded-full text-sm bg-gray-100 text-gray-400">
              材料在线
            </span>
            <% if news.mold_name.present? %>
              <span class="flex-none ml-1 px-3 py-1 rounded-full text-sm bg-gray-100 text-gray-400">
                <%= news.mold_name -%>
              </span>
            <% end %>
          </div>
          <h2 class="mt-3 text-1xl text-left line-clamp-2" title="<%= news.subtitle -%>"><%= news.subtitle -%></h2>
        </div>
        <time><%= news.created_at.strftime('%Y-%m-%d') %></time>
      </div>
    </a>
  <% end %>
</div>
