<%= render partial: 'shared/header', locals: {} -%>

<p class="px-4 sm:px-6 lg:px-8 pt-8 text-sm text-gray-500"><%= link_to '首页', root_path -%> > <span class="text-black">新闻列表</span></p>

<div data-controller="material-form-list">
  <div class="flex flex-row px-4 sm:px-6 lg:px-8">
    <section class="w-full flex flex-col">
      <%# 新闻 %>
      <div class="mt-7 mb-4 border-b-2 border-gray-100 border-solid pb-3">
        <span class="text-2xl font-bold ml-px mr-2 under-text-border" style="padding-bottom: 0.9rem">新闻列表</span>
        <span class="text-xl font-light">News List</span>
      </div>
    </section>
  </div>

  <%= form_tag news_index_path, class: 'px-4 sm:px-6 lg:px-8 mt-2', method: :get, data: {
    material_form_list_target: 'form',
    turbo_frame: 'news_list',
  } do |f| %>
    <input type="hidden" name="page_size" />
    <div class="flex flex-row justify-between border border-gray-200 bg-gray-100">
      <div class="flex flex-row w-1/3 p-1">
        <input
          name="q"
          type="text"
          class="block flex-grow bg-transparent text-base placeholder-gray-300 border-0 focus:outline-none focus:ring-gray-100 focus:border-gray-100 focus:ring-offset-gray-100"
          placeholder="黄金麻/镀膜玻璃/PC板"
          autocomplete="off"
        >
        <button type="submit" class="cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" class="flex-none mx-4 my-3 h-6 w-6 text-gray-300" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
          </svg>
        </button>
      </div>
      <div class="flex flex-row w-1/3 p-1 cursor-pointer" data-action="click->material-form-list#togglePanel">
        <p class="flex-none pl-4 pr-2 my-3 text-gray-500 border-l border-gray-300">
          <span style="padding-bottom: 1.1rem">材料</span>
        </p>
        <svg xmlns="http://www.w3.org/2000/svg" class="flex-none my-4 h-4 w-4 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path fill="currentColor" d="M20 8H4L12 16L20 8Z"></path>
        </svg>
      </div>
      <div class="flex flex-row w-1/3 p-1">
      </div>
    </div>
    <div class="hidden" data-material-form-list-target="panel">
      <div class="flex flex-row text-gray-700 border-b border-l border-r border-gray-200 bg-gray-50">
        <div class="w-80"></div>
        <div class="grid grid-flow-row grid-cols-6 w-full">
          <% @tree_materials.each do |material| %>
            <div class="my-2.5 flex items-start">
              <input id="<%= "material#{material[:id]}" -%>" name="ms[]" value="<%= material[:id] -%>" type="checkbox" class="mt-1 focus:ring-gray-50 text-gray-600 border-gray-300" data-action="change->material-form-list#submitForm">
              <label for="<%= "material#{material[:id]}" -%>" class="text-gray-700 ml-2 mt-px"><%= material[:title] -%></label>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <%= turbo_frame_tag :news_list, src: news_index_path(turbo: true), data: {
    controller: 'turbo-frame',
    project_form_list_target: 'list',
    action: 'turbo:before-fetch-request->material-form-list#setFormPageSize',
  } %>
</div>
