<%= render partial: 'shared/header', locals: {} -%>

<p class="px-4 sm:px-6 lg:px-8 pt-8 text-sm text-gray-500"><%= link_to '首页', root_path -%> > <span class="text-black">案例列表</span></p>

<div data-controller="project-form-list">
  <div class="flex flex-row px-4 sm:px-6 lg:px-8">
    <section class="w-full flex flex-col">
      <%# 案例 %>
      <div class="mt-7 mb-4 border-b-2 border-gray-100 border-solid pb-3">
        <span class="text-2xl font-bold ml-px mr-2 under-text-border" style="padding-bottom: 0.9rem">案例列表</span>
        <span class="text-xl font-light">Project List</span>
      </div>
    </section>
  </div>

  <%= form_tag projects_path, class: 'px-4 sm:px-6 lg:px-8 mt-2', method: :get, data: {
    project_form_list_target: 'form',
    turbo_frame: 'project_list',
  } do %>
    <div class="flex flex-row justify-between border border-gray-200 bg-gray-100">
      <div class="flex flex-row w-1/3 p-1">
        <input
          name="q"
          type="text"
          placeholder="项目名称/石材/建筑一所"
          class="block flex-grow bg-transparent text-base placeholder-gray-300 border-0 focus:outline-none focus:ring-gray-100 focus:border-gray-100 focus:ring-offset-gray-100"
          autocomplete="off"
        />
        <button type="submit" class="cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" class="flex-none mx-4 my-3 h-6 w-6 text-gray-300" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
          </svg>
        </button>
      </div>
      <div class="flex flex-row w-1/3 p-1 cursor-pointer" data-action="click->project-form-list#togglePanel" data-project-form-list-target="materialPanelControl">
        <p class="flex-none pl-4 pr-2 my-3 text-gray-500 border-l border-gray-300">
          <span style="padding-bottom: 1.1rem">材料</span>
        </p>
        <svg xmlns="http://www.w3.org/2000/svg" class="flex-none my-4 h-4 w-4 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path fill="currentColor" d="M20 8H4L12 16L20 8Z"></path>
        </svg>
      </div>
      <div class="flex flex-row w-1/3 p-1 cursor-pointer" data-action="click->project-form-list#togglePanel" data-project-form-list-target="areaPanelControl">
        <p class="flex-none pl-4 pr-2 my-3 text-gray-500 border-l border-gray-300">
          <span style="padding-bottom: 1.1rem">所在地区</span>
        </p>
        <svg data-project-form-list-target="areaIconSvg" xmlns="http://www.w3.org/2000/svg" class="flex-none my-4 h-4 w-4 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path fill="currentColor" d="M20 8H4L12 16L20 8Z"></path>
        </svg>
      </div>
    </div>
    <div class="hidden" data-project-form-list-target="panel">
      <div class="hidden" data-project-form-list-target="materialPanel">
        <div class="flex flex-row text-gray-700 border-b border-l border-r border-gray-200 bg-gray-50">
          <div class="w-80"></div>
          <div class="grid grid-flow-row grid-cols-6 w-full">
            <% @tree_materials.each_with_index do |material, index| %>
              <button
                type="button"
                class="py-4 <%= index == 0 ? 'font-bold' : '' %>"
                data-id="<%= material[:id] %>"
                data-children="<%= material[:children].to_json %>"
                data-project-form-list-target="material1"
                data-action="click->project-form-list#activeMaterial1"
              >
                <%= material[:title] -%>
              </button>
            <% end %>
          </div>
        </div>
        <div class="flex flex-row text-gray-700 border-b border-l border-r border-gray-200 bg-gray-50">
          <div class="w-80">
            <div class="my-4 ml-8 flex items-start">
              <input
                id="checkbox-select-material-all"
                type="checkbox"
                class="mt-1 focus:ring-gray-50 text-gray-600 border-gray-300"
                data-project-form-list-target="materialAllCheckbox"
                data-action="change->project-form-list#changeMaterialAllCheckbox"
              >
              <label for="checkbox-select-material-all" class="font-medium text-gray-700 ml-2 mt-px">全部</label>
            </div>
          </div>
          <div id="material_details" class="grid grid-flow-row grid-cols-6 w-full py-1" data-project-form-list-target="material2List"></div>
        </div>
      </div>
      <div class="flex flex-row text-gray-700 border-b border-l border-r border-gray-200 bg-gray-50 hidden" data-project-form-list-target="areaPanel">
        <div class="w-80">
          <div class="my-4 ml-8 flex items-start">
            <input
              id="checkbox-select-location-all"
              type="checkbox"
              class="mt-1 focus:ring-gray-50 text-gray-600 border-gray-300"
              data-project-form-list-target="areaAllCheckbox"
              data-action="change->project-form-list#changeAreaAllCheckbox"
            >
            <label for="checkbox-select-location-all" class="font-medium text-gray-700 ml-2 mt-px">全部</label>
          </div>
        </div>
        <div class="grid grid-flow-row grid-cols-6 w-full py-1">
          <% Cases.project_locations.each do |area| %>
            <div class="my-2.5 flex items-start">
              <input
                id="<%= "location-#{area.area_id}" -%>"
                name="l[]"
                value="<%= area.area_id -%>"
                type="checkbox"
                class="mt-1 focus:ring-gray-50 text-gray-600 border-gray-300"
                data-project-form-list-target="areaItemCheckbox"
                data-action="change->project-form-list#changeAreaItemCheckbox"
              >
              <label for="<%= "location-#{area.area_id}" -%>" class="text-gray-700 ml-2 mt-px"><%= area.area_title -%></label>
            </div>
          <% end %>
        </div>
      </div>
      <div class="flex flex-row text-gray-700 border-b border-l border-r border-gray-200 bg-gray-50">
        <div class="w-80">
          <div class="my-4 ml-8">
            高级筛选
          </div>
        </div>
        <div class="grid grid-flow-row grid-cols-6 w-full py-1">
          <div class="my-2.5 flex items-start">
            <label for="sel-project-type" class="text-gray-700 mt-px">项目类型</label>
            <%= select_tag :project_type, options_for_select(Cases.project_types, @project_type), {
              include_blank: true,
              class: 'ml-2 -mt-px p-1 bg-gray-100 text-sm border-gray-300 focus:outline-none focus:ring-gray-300 focus:border-gray-300 sm:text-sm rounded w-20',
              id: 'sel-project-type',
              data: {
                action: 'change->project-form-list#submitForm'
              }
            } %>
          </div>
          <div class="my-2.5 flex items-start">
            <input id="chk-ecm-files" name="ecm_files" type="checkbox" class="mt-1 focus:ring-gray-50 text-gray-600 border-gray-300" data-action="change->project-form-list#submitForm">
            <label for="chk-ecm-files" class="text-gray-700 ml-2 mt-px">有立面控制手册</label>
          </div>
          <div class="my-2.5 flex items-start">
            <input id="chk-has-sample" name="has_sample" type="checkbox" class="mt-1 focus:ring-gray-50 text-gray-600 border-gray-300" data-action="change->project-form-list#submitForm">
            <label for="chk-has-sample" class="text-gray-700 ml-2 mt-px">有实体样品信息</label>
          </div>
          <div class="my-2.5 flex items-start">
            <input id="chk-demonstration" name="has_demonstration" type="checkbox" class="mt-1 focus:ring-gray-50 text-gray-600 border-gray-300" data-action="change->project-form-list#submitForm">
            <label for="chk-demonstration" class="text-gray-700 ml-2 mt-px">示范区</label>
          </div>
          <div class="my-2.5 flex items-start">
            <input id="chk-th-internal" name="is_th_internal" type="checkbox" class="mt-1 focus:ring-gray-50 text-gray-600 border-gray-300" data-action="change->project-form-list#submitForm">
            <label for="chk-th-internal" class="text-gray-700 ml-2 mt-px">天华内部项目</label>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%= turbo_frame_tag :project_list, src: projects_path(turbo: true), data: {
    controller: 'turbo-frame',
    project_form_list_target: 'list',
  } %>

</div>
