<%= turbo_stream.replace dom_id(@material_type) do %>
  <turbo-frame id="<%= dom_id(@material_type) -%>">
    <div class="my-4 font-bold" data-project-filter-target="matTypeLink" data-manufacturer-filter-target="matTypeLink" data-material-filter-target="matTypeLink" data-news-filter-target="matTypeLink">
      <%= link_to @material_type.name, material_type_path(id: @material_type.id, from: @from), data: { action: "click->#{@from.singularize}-filter#clean_active" } -%>
    </div>
  </turbo-frame>
<% end %>
<%= turbo_stream.replace 'material_details' do %>
  <turbo-frame id="material_details" class="grid grid-flow-row grid-cols-6 w-full py-1">
    <% @all_materials.each do |material| %>
      <%= render partial: "#{@from}/material_item", locals: { material: material, checked: false } %>
    <% end %>
  </turbo-frame>
<% end %>
