<%= render partial: 'shared/header', locals: { } -%>

<div class="relative mt-6 max-w-4xl mx-auto px-4 pb-8">
  <%= form_with url: project_search_path, method: :get do |f| %>
    <label for="search-box" class="sr-only">搜索</label>
    <span class="absolute inset-y-0 pl-4 pt-3">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
      </svg>
    </span>
    <%= text_field_tag :q, @q, placeholder: '项目名称/石材/建筑一所', class: 'block w-full pl-12 pr-5 py-3 rounded-full border-2 border-gray-300 border-solid text-base text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-gray-500 focus:border-gray-500 focus:ring-offset-gray-500', id: 'search-box', autocomplete: "off" %>
  <% end %>
</div>

<% if @q.present? %>

<div class="mx-4 xl:mx-6 2xl:mx-8 mb-4 border-b-2 border-gray-100 border-solid pb-3 text-center text-lg">
  <%= link_to "材料 （#{@count_hash[:material]}）", material_search_path(q: @q), class: "mx-3" -%>
  <%= link_to "案例 （#{@count_hash[:project]}）", project_search_path(q: @q), class: "mx-3 under-text-border font-bold", style: 'padding-bottom: 0.9rem' -%>
  <%= link_to "供应商 （#{@count_hash[:manufacturer]}）", manufacturer_search_path(q: @q), class: "mx-3" -%>
  <%= link_to "新闻 （#{@count_hash[:news]}）", news_search_path(q: @q), class: "mx-3" -%>
</div>

<%# 案例 %>
<div class="mx-4 xl:mx-6 2xl:mx-8 mt-6 2xl:mt-8 mb-16 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-3">
  <% @cases.each do |project_case| %>
    <a class="block mb-4" href="<%= project_path(project_case) %>">
      <div class="relative" style="padding-top: 74.78%;">
        <div class="absolute top-0 left-0 w-full h-full">
          <img class="w-full h-full object-cover" src="<%= mat_img_url(project_case.web_cover) -%>" alt="">
        </div>
      </div>
      <div class="flex flex-row justify-between items-baseline mt-2">
        <p class="text-sm font-bold flex-1 truncate" title="<%= project_case.project_name_and_location %>">
          <%= project_case.project_name_and_location -%>
        </p>
        <p class="text-xs text-gray-400 flex-none ml-3">
          <%= project_case.project_type %>
        </p>
      </div>
      <p class="text-sm font-medium truncate" title="<%= project_case.material_tags.join(' | ') -%>"><%= project_case.material_tags.join(' | ') %></p>
    </a>
  <% end %>
</div>

<% end %>
