<%= turbo_frame_tag :demand_detail_modal do %>
  <div
    data-controller="modal turbo-modal"
    data-modal-allow-background-close="false"
    data-modal-disable-backdrop="true"
    data-turbo-modal-auto-show-value="true"
  >
    <div
      data-modal-target="container"
      class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center"
      style="z-index: 1000; background-color: rgba(0, 0, 0, 0.5);"
    >
        <div class="relative bg-white rounded-lg overflow-hidden" style="width: 1080px;">
          <button class="absolute top-2.5 right-2.5 z-50" data-action="click->turbo-modal#hide">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"></path>
              <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"></path>
            </svg>
          </button>
          <div class="bg-black h-10 text-white text-lg flex justify-center items-center px-3">
            我的需求详情
          </div>
          <div class="px-10 my-6 overflow-auto" style="height: 557px;">
            <div class="sticky top-0 bg-white">
              <div class="flex flex-row justify-between items-center">
                <span class="text-base font-bold"><%= [@demand.cate_name, @demand.material&.name].select{ |item| item.present? }.join(' - ') %></span>
                <% if @demand.resolved_at.present? %>
                  <svg width="52" height="20" viewBox="0 0 52 20" fill="none" xmlns="http://www.w3.org/2000/svg" title="已落实">
                    <g>
                      <path d="M42 0H10C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20H42C47.5228 20 52 15.5228 52 10C52 4.47715 47.5228 0 42 0Z" fill="#F0F4F8"/>
                      <path d="M9.38281 7.0918H10.3906V8.69727H17.3984V5.68555H8.94922V4.81836H18.3828V10.2793H17.3984V9.56445H10.3906V12.9746C10.3906 13.6934 10.7305 14.0527 11.4102 14.0527H17.1875C17.8594 14.0527 18.2656 13.8105 18.4062 13.3262C18.5469 12.8496 18.6523 12.2129 18.7227 11.416C19.0273 11.5488 19.3633 11.666 19.7305 11.7676C19.6211 12.5801 19.5039 13.2285 19.3789 13.7129C19.1445 14.5957 18.4883 15.0371 17.4102 15.0371H11.1758C9.98047 15.0371 9.38281 14.4199 9.38281 13.1855V7.0918ZM23.1172 9.41211C24.1641 8.50586 24.9492 7.50195 25.4727 6.40039L26.3516 6.58789C26.2148 6.84961 26.0703 7.10352 25.918 7.34961H30.4883V8.09961C29.9688 8.83398 29.252 9.47461 28.3379 10.0215C29.3496 10.4082 30.5352 10.6387 31.8945 10.7129C31.7383 11.041 31.6094 11.3418 31.5078 11.6152C29.8984 11.3965 28.543 11.0254 27.4414 10.502C26.3086 11.0371 24.9414 11.459 23.3398 11.7676C23.2305 11.5254 23.0977 11.2598 22.9414 10.9707C24.3242 10.7754 25.5391 10.4629 26.5859 10.0332C25.957 9.63477 25.4375 9.17188 25.0273 8.64453C24.6367 9.14453 24.2109 9.61133 23.75 10.0449C23.5703 9.8418 23.3594 9.63086 23.1172 9.41211ZM24.2891 11.7441H30.3477V15.541H29.4805V14.9199H25.1562V15.541H24.2891V11.7441ZM20.2578 5.20508H23.4922V4.00977H24.3828V5.20508H27.6406V4.00977H28.5312V5.20508H31.7422V6.00195H28.5312V6.85742H27.6406V6.00195H24.3828V6.9043H23.4922V6.00195H20.2578V5.20508ZM29.4805 12.5176H25.1562V14.1465H29.4805V12.5176ZM20.3398 15.166C20.8867 14.041 21.418 12.7285 21.9336 11.2285C22.1992 11.377 22.4922 11.5215 22.8125 11.6621C22.3359 12.8184 21.8359 14.1191 21.3125 15.5645L20.3398 15.166ZM29.5039 8.09961H25.5723C26.084 8.71289 26.7148 9.2207 27.4648 9.62305C28.2656 9.19727 28.9453 8.68945 29.5039 8.09961ZM20.082 9.38867L20.6094 8.69727C21.2656 9.08008 21.9102 9.49023 22.543 9.92773C22.3242 10.2012 22.125 10.459 21.9453 10.7012C21.3672 10.248 20.7461 9.81055 20.082 9.38867ZM20.8906 7.17383L21.418 6.51758C22.1602 6.98633 22.7734 7.4082 23.2578 7.7832C23.0469 8.04102 22.8594 8.2832 22.6953 8.50977C22.0938 8.02539 21.4922 7.58008 20.8906 7.17383ZM32.2109 14.7441C35.0938 14.2051 36.9492 13.3496 37.7773 12.1777H32.3984V11.3105H38.2109C38.4766 10.498 38.5977 9.08008 38.5742 7.05664H39.5586C39.5586 9.06445 39.4492 10.4824 39.2305 11.3105H43.6719V12.1777H38.9023C38.8398 12.3027 38.7656 12.4355 38.6797 12.5762C40.3516 13.2793 41.9883 14.0059 43.5898 14.7559L43.0742 15.6465C41.4023 14.7949 39.75 14.002 38.1172 13.2676C37.0547 14.3066 35.2734 15.1074 32.7734 15.6699C32.5938 15.3262 32.4062 15.0176 32.2109 14.7441ZM32.6211 5.70898H37.9883C37.793 5.35742 37.5312 4.94727 37.2031 4.47852L38.0586 3.99805C38.3164 4.3418 38.6289 4.79492 38.9961 5.35742L38.3516 5.70898H43.3672V7.80664H42.4297V6.57617H33.5586V7.80664H32.6211V5.70898ZM34.0625 8.87305C34.9609 9.2793 35.8047 9.70508 36.5938 10.1504L36.0898 10.959C35.3086 10.4824 34.4844 10.0371 33.6172 9.62305L34.0625 8.87305ZM35.1172 7.08008C36.0234 7.51758 36.8477 7.95898 37.5898 8.4043L37.0625 9.20117C36.3359 8.73242 35.5352 8.25586 34.6602 7.77148L35.1172 7.08008Z" fill="#3C86EC"/>
                    </g>
                  </svg>
                <% else %>
                  <% if @demand.replies.present? %>
                    <svg width="52" height="20" viewBox="0 0 52 20" fill="none" xmlns="http://www.w3.org/2000/svg" title="跟进中">
                      <g>
                        <path d="M42 0H10C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20H42C47.5228 20 52 15.5228 52 10C52 4.47715 47.5228 0 42 0Z" fill="#E2F9EA"/>
                        <path d="M13.4258 4.68945H18.7812V10.502H17.9258V10.2207H15.957C16.1836 10.8691 16.4844 11.459 16.8594 11.9902C17.5781 11.584 18.3008 11.1504 19.0273 10.6895L19.6016 11.416C18.8359 11.8066 18.0781 12.2012 17.3281 12.5996C17.9922 13.3418 18.832 13.9473 19.8477 14.416C19.6133 14.6816 19.3711 14.9629 19.1211 15.2598C17.0898 14.0176 15.7617 12.3379 15.1367 10.2207H14.2812V14.0996C14.8281 13.8574 15.4648 13.5605 16.1914 13.209C16.207 13.3652 16.2656 13.6465 16.3672 14.0527C15.6016 14.4199 14.918 14.7754 14.3164 15.1191C14.082 15.2676 13.8594 15.4355 13.6484 15.623L13.0391 14.8145C13.2969 14.5879 13.4258 14.248 13.4258 13.7949V4.68945ZM8.16406 13.959C8.375 13.9277 8.58594 13.8965 8.79688 13.8652V9.40039H9.55859V13.748C9.89453 13.6934 10.2227 13.6387 10.543 13.584V8.27539H9.75781V8.58008H8.96094V4.70117H12.5469V8.27539H11.3281V10.2559H12.8047V10.9941H11.3281V13.4434C11.8359 13.3574 12.3281 13.2676 12.8047 13.1738C12.8203 13.4863 12.8438 13.7793 12.875 14.0527C11.8047 14.2246 10.3281 14.4941 8.44531 14.8613L8.16406 13.959ZM17.9258 9.41211V7.85352H14.2812V9.41211H17.9258ZM17.9258 5.49805H14.2812V7.05664H17.9258V5.49805ZM11.75 7.57227V5.4043H9.75781V7.57227H11.75ZM23.293 9.4707H25.3027C25.3145 8.86133 25.3203 8.0332 25.3203 6.98633H23.8438V6.14258H25.3203V4.08008H26.2578V6.14258H28.5781V4.08008H29.5156V6.14258H31.25V6.98633H29.5156V9.4707H31.707V10.3145H29.5156V13.877H28.5781V10.3145H26.1699C25.9395 11.9082 25.2656 13.0957 24.1484 13.877C23.9453 13.6504 23.707 13.4121 23.4336 13.1621C24.3906 12.5566 24.9824 11.6074 25.209 10.3145H23.293V9.4707ZM24.8867 14.3574L27.6641 14.416L31.8125 14.3105C31.7266 14.5684 31.6172 14.877 31.4844 15.2363L27.5938 15.248L24.7695 15.1895C23.4805 15.166 22.5664 14.7129 22.0273 13.8301C21.707 14.127 21.2383 14.6504 20.6211 15.4004L20.1406 14.4277C20.832 13.7598 21.332 13.2812 21.6406 12.9922V9.04883H20.2461V8.18164H22.543V13.1797C23.0273 13.9453 23.8086 14.3379 24.8867 14.3574ZM26.2461 9.4707H28.5781V6.98633H26.2578C26.2578 8.33008 26.2539 9.1582 26.2461 9.4707ZM21.5234 4.2207C22.1172 4.96289 22.6641 5.70117 23.1641 6.43555C22.8359 6.64648 22.5469 6.8418 22.2969 7.02148C21.8672 6.27148 21.3594 5.50586 20.7734 4.72461L21.5234 4.2207ZM32.9844 6.55273H37.4961V3.99805H38.5039V6.55273H43.0625V11.8965H42.1016V11.2637H38.5039V15.623H37.4961V11.2637H33.9453V11.8965H32.9844V6.55273ZM42.1016 7.41992H38.5039V10.3965H42.1016V7.41992ZM33.9453 10.3965H37.4961V7.41992H33.9453V10.3965Z" fill="#479A46"/>
                      </g>
                    </svg>
                  <% else %>
                    <svg width="52" height="20" viewBox="0 0 52 20" fill="none" xmlns="http://www.w3.org/2000/svg" title="待回复">
                      <g>
                        <path d="M42 0H10C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20H42C47.5228 20 52 15.5228 52 10C52 4.47715 47.5228 0 42 0Z" fill="#F4F4F4"/>
                        <path d="M11.7734 8.1582H15.2773V6.4707H12.2891V5.66211H15.2773V4.02148H16.2148V5.66211H19.2266V6.4707H16.2148V8.1582H19.6953V8.97852H11.7734V8.1582ZM11.7969 10.4551H17.0234V9.3418H17.9609V10.4551H19.7891V11.2754H17.9609V14.0176C17.9609 14.9395 17.4727 15.4004 16.4961 15.4004C16.043 15.4004 15.4297 15.3965 14.6562 15.3887C14.6094 15.1074 14.5469 14.7793 14.4688 14.4043C15.1484 14.459 15.7578 14.4863 16.2969 14.4863C16.7812 14.4863 17.0234 14.2207 17.0234 13.6895V11.2754H11.7969V10.4551ZM8.15234 10.959C9.16797 9.99805 10.1211 8.7168 11.0117 7.11523L11.832 7.53711C11.4727 8.13867 11.1133 8.70117 10.7539 9.22461V15.5879H9.875V10.4141C9.44141 10.9609 9.00391 11.4551 8.5625 11.8965C8.44531 11.5918 8.30859 11.2793 8.15234 10.959ZM8.17578 7.29102C9.27734 6.42383 10.2188 5.32227 11 3.98633L11.832 4.4668C10.8398 5.94336 9.78125 7.16211 8.65625 8.12305C8.51562 7.84961 8.35547 7.57227 8.17578 7.29102ZM12.6406 12.1777L13.3203 11.6504C13.8828 12.2598 14.3789 12.834 14.8086 13.373L14.0586 13.9473C13.6211 13.3457 13.1484 12.7559 12.6406 12.1777ZM20.8906 4.72461H31.1328V15.459H30.1484V14.709H21.875V15.459H20.8906V4.72461ZM30.1484 5.5918H21.875V13.8652H30.1484V5.5918ZM23.5156 7.38477H28.4961V12.5059H27.582V11.8496H24.4297V12.5059H23.5156V7.38477ZM27.582 8.20508H24.4297V11.0293H27.582V8.20508ZM32.1523 7.32617C33.2695 6.45117 34.1953 5.33398 34.9297 3.97461H35.9609C35.7734 4.30273 35.5801 4.61914 35.3809 4.92383H43.625V5.67383H34.8594C34.6484 5.96289 34.4297 6.24023 34.2031 6.50586H42.4531V10.8184H41.6328V10.5137H34.7422V10.9355H33.9336V6.82227C33.5391 7.26367 33.125 7.67773 32.6914 8.06445C32.5586 7.83789 32.3789 7.5918 32.1523 7.32617ZM32.1523 13.4551C33.5898 12.752 34.7461 11.8652 35.6211 10.7949H36.6641C36.4922 11.0137 36.3164 11.2246 36.1367 11.4277H42.4766V12.0605C41.7188 12.7363 40.75 13.3398 39.5703 13.8711C40.793 14.1914 42.2188 14.4121 43.8477 14.5332C43.6367 14.8848 43.4531 15.2051 43.2969 15.4941C41.3945 15.2285 39.7637 14.8398 38.4043 14.3281C37.0137 14.8125 35.332 15.248 33.3594 15.6348C33.2109 15.377 33.0312 15.1113 32.8203 14.8379C34.7578 14.5176 36.2695 14.2012 37.3555 13.8887C36.4766 13.4668 35.7402 12.9805 35.1465 12.4297C34.4043 13.0977 33.5977 13.6543 32.7266 14.0996C32.5547 13.873 32.3633 13.6582 32.1523 13.4551ZM34.7422 9.78711H41.6328V8.84961H34.7422V9.78711ZM41.6328 7.23242H34.7422V8.1582H41.6328V7.23242ZM41.1289 12.1074H35.7969C36.4805 12.6777 37.3574 13.1504 38.4277 13.5254C39.5137 13.1035 40.4141 12.6309 41.1289 12.1074Z" fill="#989CA4"/>
                      </g>
                    </svg>
                  <% end %>
                <% end %>
              </div>
              <% if @demand.references_json.present? %>
                <div class="mt-4">
                  <div class="text-base font-bold">相关参考</div>
                  <div class="mt-2 flex flex-row items-baseline overflow-hidden max-h-7">
                    <div class="flex-1 grid grid-cols-6 gap-2">
                      <% @demand.references_json.each do |item| %>
                        <a class="px-2 py-1 bg-gray-100 rounded-2xl text-sm truncate text-center" href="<%= mat_img_url(item[:path]) %>" target="_blank" title="<%= item[:name] %>"><%= item[:name] %></a>
                      <% end %>
                    </div>
                    <% if @demand.references_json.length > 6 %>
                      <button class="ml-4 flex-none px-2 py-1 bg-gray-100 rounded-2xl text-sm truncate" onclick="this.parentElement.classList.remove('max-h-7');this.classList.add('hidden');this.nextElementSibling.classList.remove('hidden');">
                        <span>展开</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="inline-block" width="1em" height="1em" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                        </svg>
                      </button>
                      <button class="ml-4 flex-none px-2 py-1 bg-gray-100 rounded-2xl text-sm hidden truncate" onclick="this.parentElement.classList.add('max-h-7');this.classList.add('hidden');this.previousElementSibling.classList.remove('hidden');">
                        <span>收起</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="inline-block" width="1em" height="1em" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                        </svg>
                      </button>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <div class="mt-4">
                <div class="text-base font-bold">具体描述</div>
                <div class="text-sm mt-2 px-4 break-all"><%= @demand.description %></div>
              </div>
              <div class="mt-4 pb-4 text-base font-bold">管理员回复</div>
            </div>
            <div class="flex flex-col gap-2">
              <% if @demand.replies.present? %>
                <% @demand.replies.reverse.each do |reply| %>
                  <div class="px-4 py-2 bg-gray-100" style="min-height: 110px;">
                    <div class="text-xs text-gray-400"><%= reply.created_at&.strftime('%Y-%m-%d %H:%M:%S') %></div>
                    <div class="text-sm mt-1"><%= reply.content %></div>
                  </div>
                <% end %>
              <% else %>
                <div class="px-4 py-2 text-gray-400 text-sm text-center">暂无数据</div>
              <% end %>
            </div>
          </div>
          <div class="text-sm flex justify-center py-6">
            <button class="w-20 h-10 cancel-button transition-all duration-300" type="button" data-action="click->turbo-modal#hide">关闭</button>
          </div>
        </div>
    </div>
  </div>
<% end %>
