<%# 材料名称 %>
<div class="bg-white text-black-6c text-xs m-1 px-1.5 py-2.5">
  <div class="my-1 flex items-center">
    <div class="w-40 h-40 flex-none">
      <img class="w-full h-full object-cover" src="<%= get_first_url(material.cover) -%>" alt="">
    </div>
    <div class="w-0 flex-1 ml-5">
      <h3 class="text-lg font-medium"><%= material.name %>（<%= material.no %>）</h3>
      <div class="mt-4">
        <p>
          <span>色系：</span>
          <span class="font-medium"><%= material.color %></span>
        </p>
        <p>
          <span>产地：</span>
          <span class="font-medium"><%= material.material_product&.origin %></span>
        </p>

        <p>
          <span>价格区间：</span>
          <span class="font-medium"><%= "#{material.material_product&.low_price}-#{material.material_product&.high_price}/㎡" %></span>
        </p>

        <p>
          <span>是否常用产品：</span>
          <span class="font-medium"><%= material.material_product&.is_common == 1 ? '是' : '否' %></span>
        </p>

        <% if material.surface_effect_descriptions.present? %>
          <p>
            <span>表面效果：</span>
            <span class="font-medium"><%= material.surface_effect_descriptions %></span>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="bg-white text-black-6c text-xs m-1 px-1.5 py-2" data-controller="toggle-class">
  <% if material.installation_and_construction_points.present? %>
    <div class="flex flex-row justify-between items-center">
      <h5 class="text-base font-medium">安装施工要点</h5>
    </div>
    <div class="mt-2 line-clamp-5" data-action="click->toggle-class#toggle" data-toggle-class="line-clamp-5">
      <%= material.installation_and_construction_points %>
    </div>
    <div class="mt-4"></div>
  <% end %>
  <% if material.customizable_effect.present? %>
    <div class="flex flex-row justify-between items-center">
      <h5 class="text-base font-medium">可定制效果</h5>
    </div>
    <div class="mt-2">
      <%= material.customizable_effect %>
    </div>
  <% end %>
</div>

<%# 实际应用 %>
<% if material.material_product&.practical_applications.present? %>
<div class="bg-white text-black-6c text-xs m-1 px-1.5 py-2">
  <div class="flex flex-row justify-between items-center">
    <h5 class="text-base font-medium">实际应用</h5>
  </div>
  <div
    class="mt-2"
    data-controller="material-carousel"
    data-material-carousel-enter-class-value="<%= ['-animation-transition-x-full-reverse', 'animation-transition-x-full-reverse'].to_json %>"
    data-material-carousel-leave-class-value="<%= ['animation-transition-x-full', '-animation-transition-x-full'].to_json %>"
    data-material-carousel-duration-value="0.5"
    data-material-carousel-dot-normal-class-value="bg-gray-300"
    data-material-carousel-dot-active-class-value="bg-gray-900"
    data-material-carousel-auto-play-value="true"
    data-material-carousel-auto-play-time-value="2"
  >
    <div class="relative w-full h-52 overflow-hidden" data-controller="picture-viewer">
      <% material.material_product&.practical_applications_json&.each_with_index do |practical_application, i| %>
        <div class="absolute top-0 left-0 w-full h-full" style="display: <%= i == 0 ? '' : 'none;' %>" data-material-carousel-target="carouselItem">
          <img class="w-full h-full object-cover" src="<%= mat_img_url(practical_application[:url], "") -%>" alt="<%= practical_application[:name] -%>" data-picture-viewer-target="image">
        </div>
      <% end %>
    </div>
    <div class="flex justify-center mt-3">
      <% material.material_product&.practical_applications_json&.each_with_index do |practical_application, i| %>
        <div class="w-2 h-2 mx-1 rounded-full <%= i == 0 ? 'bg-gray-900' : 'bg-gray-300' %>" data-material-carousel-target="dotItem"></div>
      <% end %>
    </div>
  </div>
</div>
<% end %>

<%# 材料样品 %>
<div class="bg-white m-1 px-1.5 py-2">
  <div class="flex flex-row justify-between items-center">
    <h5 class="text-base font-medium">材料样品</h5>
    <a class="more-btn-sm hidden" href="<%= root_path -%>">MORE+</a>
  </div>
  <div class="bg-gray-200 mt-2">
    <div class="w-full overflow-auto h-40 border border-gray-300 border-solid scrollbar-none">
      <table class="min-w-full border-collapse">
        <thead>
          <tr>
            <th scope="col" class="sticky top-0 left-0 z-50 bg-gray-200 px-1 py-2 border border-t-0 border-l-0 border-gray-300 border-solid whitespace-nowrap text-center text-sm text-gray-900">
              样品编号
            </th>
            <th scope="col" class="sticky top-0 bg-gray-200 px-1 py-2 border border-t-0 border-gray-300 border-solid whitespace-nowrap text-center text-sm text-gray-900">
              样品描述
            </th>
            <th scope="col" class="sticky top-0 bg-gray-200 px-1 py-2 border border-t-0 border-gray-300 border-solid whitespace-nowrap text-center text-sm text-gray-900">
              样品规格、型号
            </th>
            <th scope="col" class="sticky top-0 bg-gray-200 px-1 py-2 border border-t-0 border-gray-300 border-solid whitespace-nowrap text-center text-sm text-gray-900">
              表面工艺
            </th>
            <th scope="col" class="sticky top-0 bg-gray-200 px-1 py-2 border border-t-0 border-r-0 border-gray-300 border-solid whitespace-nowrap text-center text-sm text-gray-900">
              存放位置
            </th>
          </tr>
        </thead>
        <tbody>
          <% material.samples.each do |sample| %>
            <tr>
              <td class="sticky left-0 bg-gray-200 px-1 py-2 text-center border border-l-0 border-gray-300 whitespace-nowrap text-xs font-medium">
                <a class="underline" href="<%= sample_path(sample) %>"><%= sample.no -%></a>
              </td>
              <td class="px-1 py-2 text-center border border-gray-300 whitespace-nowrap text-xs">
                <%= sample.material_text -%>
              </td>
              <td class="px-1 py-2 text-center border border-gray-300 whitespace-nowrap text-xs">
                <%= sample.spec_model %>
              </td>
              <td class="px-1 py-2 text-center border border-gray-300 whitespace-nowrap text-xs">
                <%= sample.surface_effect_descriptions -%>
              </td>
              <td class="px-1 py-2 text-center border border-r-0 border-gray-300 whitespace-nowrap text-xs">
                <%= sample.position %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if material.samples.length === 0 %>
        <div class="text-center mt-12 text-gray-500 text-sm">暂无相关实体材料样品</div>
      <% end %>
    </div>
    <div class="p-2 text-sm">实体材料库地址：上海市徐汇区漕河泾科汇大厦11F</div>
  </div>
</div>

<%# 产品案例 %>
<% cases = material.cases.limit(4) %>
<% if cases.present? %>
<div class="bg-white text-black-6c text-xs m-1 px-1.5 py-2">
  <div class="flex flex-row justify-between items-center">
    <h5 class="text-base font-medium">产品案例</h5>
    <a class="more-btn-sm hidden" href="<%= root_path -%>">MORE+</a>
  </div>
  <div class="mt-2 grid grid-cols-2 gap-y-2 gap-x-1">
    <% cases.each do |project_case| %>
      <a class="block" href="<%= project_path(project_case) %>">
        <div class="relative w-full h-28">
          <img class="w-full h-full object-cover" src="<%= mat_img_url(project_case.web_cover) %>" alt="">
          <div class="absolute bottom-0 left-0 w-full flex justify-between items-center h-6 px-2 text-white text-xs black-mask">
            <div class="truncate" title="<%= material.name -%>"><%= material.name %></div>
            <div class="flex-none ml-3"><%= project_case.is_th == 1 ? '内部项目' : '外部项目' %></div>
          </div>
        </div>
        <div class="text-black-6c mt-1">
          <div class="text-sm truncate" title="<%= project_case.project_name_and_location -%>">
            <%= project_case.project_name_and_location -%>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</div>
<% end %>

<%# 构造做法 %>
<% if material.material_product&.construction.present? %>
<div class="bg-white text-black-6c m-1 px-1.5 py-2">
  <div class="flex flex-row justify-between items-center">
    <h5 class="text-base font-medium">构造做法</h5>
    <a class="more-btn-sm hidden" href="<%= root_path -%>">MORE+</a>
  </div>
  <div class="grid grid-cols-1 gap-2 mt-2">
    <% material.material_product.construction.each_with_index do |practice_detail, i| %>
      <div>
        <div class="relative w-full" style="padding-top: 50%;">
          <img class="absolute top-0 left-0 w-full h-full object-cover" src="<%= mat_img_url(practice_detail["url"], "") -%>" alt="">
        </div>
        <div class="mt-2 text-base"><%= practice_detail["name"] -%></div>
      </div>
    <% end %>
  </div>
</div>
<% end %>

<%# 供应商信息 %>
<% if material.manufacturers.present? %>
<div class="bg-white text-black-6c m-1 px-1.5 py-2">
  <div class="flex flex-row justify-between items-center">
    <h5 class="text-base font-medium">供应商信息</h5>
    <a class="more-btn-sm hidden" href="<%= root_path -%>">MORE+</a>
  </div>
  <div class="grid grid-cols-1 gap-2 mt-2">
    <% material.manufacturers&.each do |manufacturer| %>
      <div class="flex items-center bg-gray-200 border border-gray-200 border-solid p-2">
        <div class="flex items-center justify-center overflow-hidden flex-none w-32 h-32 bg-white border border-gray-300 border-solid p-1">
          <img class="w-full h-full object-contain object-center" src="<%= mat_img_url(manufacturer.logo, 'manufacturer_default_cover.png') -%>" alt="">
        </div>
        <div class="flex-1 ml-8">
          <h5 class="text-lg font-medium"><%= manufacturer.name %></h5>
          <p class="text-sm text-gray-700 mt-2">所在地：<%= manufacturer.location %></p>
          <p class="text-sm text-gray-700">联系方式：<%= manufacturer.contact_information %></p>
          <p class="text-sm text-gray-700">是否愿意提供材料样品：<%= manufacturer.offer_sample %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% end %>
