<%# 源文件 %>
<% if material.material_product&.files.present? %>
  <div class="mt-20">
    <div class="border-b-2 border-gray-100 border-solid pb-3">
      <span class="text-2xl font-bold ml-px mr-2 under-text-border" style="padding-bottom: 0.9rem">源文件</span>
      <span class="text-xl font-light">Files</span>
    </div>

    <div class="grid grid-cols-6 gap-1.5 mt-4">
      <% material.material_product.files.each do |source_file| %>
        <div class="flex flex-row p-4 shadow-tw-dark font-medium bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" title="<%= source_file["name"] %>">
          <div class="flex-1 truncate w-0 select-none" title="<%= source_file["name"] -%>"><%= text_with_default(source_file["name"]) %></div>
          <a class="ml-4" href="<%= mat_img_url(source_file["url"], "") -%>" download="<%= source_file["name"] %>" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 float-right" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M9 19l3 3m0 0l3-3m-3 3V10"/>
            </svg>
          </a>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<%# 材质贴图 %>
<% if material.material_product&.texture.present? %>
  <div class="mt-20">
    <div class="flex flex-row items-center justify-between border-b-2 border-gray-100 border-solid pb-3">
      <div>
        <span class="text-2xl font-bold ml-px mr-2 under-text-border" style="padding-bottom: 0.9rem">材质贴图</span>
        <span class="text-xl font-light">Texture</span>
      </div>
      <a class="more-btn" href="<%= download_texture_material_path(material) -%>" target="_blank">打包下载</a>
    </div>
    <div class="grid grid-cols-6 gap-1.5 mt-4">
      <% material.material_product.texture.each do |su_picture| %>
        <div class="relative" style="padding-top: 100%;">
          <img class="absolute left-0 top-0 w-full h-full object-cover" src="<%= mat_img_url(su_picture["url"], "2") %>" alt="">
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<%# 供应商信息 %>
<% if material.manufacturers.present? %>
  <div class="mt-20">
    <div class="flex flex-row items-center justify-between border-b-2 border-gray-100 border-solid pb-3">
      <div>
        <span class="text-2xl font-bold ml-px mr-2 under-text-border" style="padding-bottom: 0.9rem">供应商信息</span>
        <span class="text-xl font-light">Manufacturer Information</span>
      </div>
      <a class="more-btn hidden" href="<%= root_path -%>">MORE+</a>
    </div>
    <div class="grid grid-cols-3 gap-4 mt-4">
      <%= render partial: 'shared/manufacturers', locals: { manufacturers: material.manufacturers } -%>
    </div>
  </div>
<% end %>

<%# 案例 %>
<% project_cases = @material.cases.limit(3) %>
<% if project_cases.length > 0 %>
  <div class="mt-20">
    <div class="flex flex-row items-center justify-between border-b-2 border-gray-100 border-solid pb-3">
      <div>
        <span class="text-2xl font-bold ml-px mr-2 under-text-border" style="padding-bottom: 0.9rem"><%= @material.name %>案例</span>
        <span class="text-xl font-light">Projects</span>
      </div>
      <% if @material.cases.count > 3 %>
        <a class="more-btn" href="<%= projects_path %>" target="_blank">MORE+</a>
      <% end %>
    </div>
    <div class="grid grid-cols-3 gap-2.5" style="margin-top: 30px;">
      <% project_cases.each do |project_case| %>
        <a
          class="bg-cover bg-center bg-no-repeat flex flex-col"
          style="height: 296px; background-image: url('<%= mat_img_url(project_case.web_cover) %>');"
          <%= project_case.permissions(current_user)[:info] ? "href=\"#{project_path(project_case)}\"".html_safe : '' %>
        >
          <div class="flex flex-row p-2.5 justify-end gap-1">
            <% project_case.material_tags.each do |name| %>
              <div class="bg-gray-500 bg-opacity-80 text-white text-sm px-2"><%= name %></div>
            <% end %>
          </div>
          <div class="mt-auto h-20 pl-4 pr-5 pb-2.5 flex flex-row items-end black-mask">
            <div class="text-white flex-1 w-0">
              <div class="truncate" title="<%= project_case.project_name_and_location -%>">
                <span class="text-lg"><%= text_with_default(project_case.project_name_and_location) -%></span>
              </div>
            </div>
            <div class="text-white text-sm whitespace-nowrap flex-none ml-12">
              <%= text_with_default(project_case.is_th_str) %>
            </div>
          </div>
        </a>
      <% end %>
    </div>
  </div>
<% end %>
