<%# 实际应用 材料样品 %>
<div class="flex justify-between mt-20">
  <div class="flex-grow w-0">
    <div class="border-b-2 border-gray-100 border-solid pb-3">
      <span class="text-2xl font-bold ml-px mr-2 under-text-border" style="padding-bottom: 0.9rem">实际应用</span>
      <span class="text-xl font-light">Applications</span>
    </div>

    <div
      class="flex flex-col relative mt-4 bg-neutral-242"
      style="height: 493px; padding-left: 60px; padding-right: 60px;"
      data-controller="material-carousel"
      data-material-carousel-enter-class-value="<%= ['-animation-transition-x-full-reverse', 'animation-transition-x-full-reverse'].to_json %>"
      data-material-carousel-leave-class-value="<%= ['animation-transition-x-full', '-animation-transition-x-full'].to_json %>"
      data-material-carousel-duration-value="0.5"
      data-material-carousel-dot-normal-class-value="border-transparent"
      data-material-carousel-dot-active-class-value="border-gray-900"
    >
      <% if material.material_product&.practical_applications_json.present? %>
        <div class="relative overflow-hidden mt-4" style="height: 393px;" data-controller="picture-viewer">
          <% material&.material_product&.practical_applications_json&.each_with_index do |practical_application, i| %>
            <div class="w-full h-full absolute top-0 left-0 cursor-pointer" style="display: <%= i == 0 ? '' : 'none;' %>" data-material-carousel-target="carouselItem">
              <h5 class="text-lg font-medium text-center"><%= practical_application[:name] -%></h5>
              <div class="relative mt-3">
                <div class="relative w-full overflow-hidden" style="height: 353px;">
                  <div class="absolute w-full h-full">
                    <img class="w-full h-full object-cover" src="<%= mat_img_url(practical_application[:url], "") -%>" alt="<%= practical_application[:name] -%>" data-picture-viewer-target="image">
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="flex flex-nowrap gap-3 mt-2.5 overflow-x-auto">
          <% material&.material_product&.practical_applications_json&.each_with_index do |practical_application, i| %>
            <div
              class="flex-none cursor-pointer border <%= i == 0 ? 'border-gray-900' : 'border-transparent' %>"
              style="width: 50px; height: 50px;"
              data-material-carousel-target="dotItem"
              data-action="click->material-carousel#toDotIndex"
            >
              <img class="w-full h-full object-cover" src="<%= mat_img_url(practical_application[:url], "") -%>" alt="">
            </div>
          <% end %>
        </div>
        <div class="absolute cursor-pointer" style="left: 21px; top: 216px;" data-action="click->material-carousel#toPrev">
          <svg xmlns="http://www.w3.org/2000/svg" width="18.125" height="32.81" viewBox="0 0 18.125 32.81">
            <path fill="#999" fill-rule="evenodd" d="M599.627,1492.29l-13.54,13.54,13.674,13.68a1.641,1.641,0,1,1-2.321,2.32l-14.846-14.85a1.647,1.647,0,0,1-.011-2.33l14.7-14.7A1.656,1.656,0,0,1,599.627,1492.29Z" transform="translate(-582.125 -1489.5)"/>
          </svg>
        </div>
        <div class="absolute cursor-pointer" style="right: 21px; top: 216px;" data-action="click->material-carousel#toNext">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="33.03" viewBox="0 0 18 33.03">
            <path fill="#999" fill-rule="evenodd" class="cls-1" d="M599.534,1558.58l-14.743,14.93a1.62,1.62,0,0,1-2.317.01,1.667,1.667,0,0,1,.012-2.34l13.579-13.75-13.446-13.62a1.678,1.678,0,0,1,.011-2.35,1.628,1.628,0,0,1,2.316-.01l14.6,14.79A1.666,1.666,0,0,1,599.534,1558.58Z" transform="translate(-582.031 -1540.97)"/>
          </svg>
        </div>
      <% else %>
        <div class="mt-12">
          <img class="w-full h-full object-cover" src="<%= image_pack_path('static/images/materials-applications-default.jpg') -%>" alt="">
        </div>
        <p class="text-sm mt-6">暂无相关图片</p>
      <% end %>
    </div>
  </div>
  <div class="flex-grow w-0 ml-5">
    <div class="border-b-2 border-gray-100 border-solid pb-3">
      <span class="text-2xl font-bold ml-px mr-2 under-text-border" style="padding-bottom: 0.9rem">样品</span>
      <span class="text-xl font-light">Samples</span>
    </div>

    <div class="flex flex-col mt-4 bg-neutral-242" style="height: 493px;">
      <h5 class="mt-4 text-lg font-medium text-center">实体材料库库存信息</h5>
      <div class="flex flex-col mx-3 mt-3 overflow-auto border" style="height: 353px;">
        <table class="flex-none w-full h-auto border-collapse table-fixed text-center">
          <colgroup>
            <col style="width: 15%;">
            <col style="width: 25%;">
            <col style="width: 25%;">
            <col style="width: 20%;">
            <col style="width: 15%;">
          </colgroup>
          <thead class="bg-gray-50 text-sm text-gray-900 sticky top-0">
            <tr>
              <th scope="col" class="px-1 py-2 border border-t-0">
                样品编号
              </th>
              <th scope="col" class="px-1 py-2 border border-t-0">
                样品描述
              </th>
              <th scope="col" class="px-1 py-2 border border-t-0">
                样品规格、型号
              </th>
              <th scope="col" class="px-1 py-2 border border-t-0">
                表面工艺
              </th>
              <th scope="col" class="px-1 py-2 border border-t-0">
                存放位置
              </th>
            </tr>
          </thead>
          <tbody class="bg-white text-xs">
            <% material.samples.each do |sample| %>
              <tr>
                <td class="px-1 py-2 border truncate">
                  <a class="underline" href="<%= sample_path(sample) %>"><%= text_with_default(sample.no) -%></a>
                </td>
                <td class="px-1 py-2 border truncate" title="<%= sample.material_text -%>">
                  <%= text_with_default(sample.material_text) -%>
                </td>
                <td class="px-1 py-2 border truncate" title="<%= sample.spec_model -%>">
                  <%= text_with_default(sample.spec_model) -%>
                </td>
                <td class="px-1 py-2 border truncate" title="<%= sample.surface_effect_descriptions -%>">
                  <%= text_with_default(sample.surface_effect_descriptions) %>
                </td>
                <td class="px-1 py-2 border truncate">
                  <%= text_with_default(sample.position) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <% if material.samples.blank? %>
          <div class="flex flex-1 items-center justify-center text-sm">
            暂无相关实体材料样品
          </div>
        <% end %>
      </div>
      <p class="mx-4 mt-4 text-sm">实体材料库地址：上海市徐汇区漕河泾科汇大厦11F</p>
    </div>
  </div>
</div>

