<%# 材料名称 %>
<div class="mt-20">
  <div class="flex flex-row items-center justify-between border-b-2 border-gray-100 border-solid pb-3">
    <div>
      <span class="text-2xl font-bold ml-px mr-2 under-text-border" style="padding-bottom: 0.9rem"><%= material.name %></span>
      <span class="text-xl font-light">（<%= material.no %>）</span>
    </div>
    <% if material.samples.count > 0 %>
      <a class="more-btn" href="<%= samples_material_path(id: material.id) -%>">进入相关样品页</a>
    <% end %>
  </div>

  <div class="flex flex-row mt-4">
    <div class="flex-none w-72">
      <div class="w-72 h-72 cursor-pointer" data-controller="picture-viewer">
        <img class="w-full h-full object-cover" src="<%= get_first_url(material.cover) -%>" alt="" data-picture-viewer-target="image">
      </div>
      <dl class="block w-72 mt-2 text-lg">
        <dt class="my-1 inline-block w-1/2">色系：</dt>
        <dd class="my-1 inline-block text-right" style="width: 48%">
          <%= text_with_default(material.color) %>
        </dd>

        <dt class="my-1 inline-block w-1/2">产地：</dt>
        <dd class="my-1 inline-block text-right" style="width: 48%">
          <%= text_with_default(material.material_product&.origin) %>
        </dd>

        <dt class="my-1 inline-block w-1/2">价格区间：</dt>
        <dd class="my-1 inline-block text-right" style="width: 48%">
          <%= text_with_default(material.material_product&.price_range) %>
        </dd>

        <dt class="my-1 inline-block w-1/2">是否常用产品：</dt>
        <dd class="my-1 inline-block text-right" style="width: 48%">
          <%= text_with_default(material.material_product&.is_commonly_used) %>
        </dd>
      </dl>
    </div>
    <div class="w-0 flex-1 ml-20 flex flex-col gap-14">
      <% if material.surface_effect_descriptions.present? %>
        <div>
          <h5 class="text-lg font-medium">表面效果：</h5>
          <p class="text-sm mt-3 truncate" title="<%= material.surface_effect_descriptions %>"><%= material.surface_effect_descriptions %></p>
        </div>
      <% end %>
      <% if material.installation_and_construction_points.present? %>
        <div>
          <h5 class="text-lg font-medium">安装施工要点：</h5>
          <p class="text-sm mt-3 whitespace-pre-wrap <%= material.surface_effect_descriptions.present? ? 'line-clamp-14' : 'line-clamp-20' %>" title="<%= material.installation_and_construction_points %>"><%= material.installation_and_construction_points %></p>
        </div>
      <% end %>
      <% if false && material.customizable_effect.present? %>
        <div>
          <h5 class="text-lg font-medium">可定制效果：</h5>
          <p class="text-sm mt-3 whitespace-pre-wrap line-clamp-4" title="<%= material.customizable_effect %>"><%= material.customizable_effect %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
