<%= render partial: 'shared/header', locals: {} -%>

<p class="px-4 sm:px-6 lg:px-8 pt-8 text-sm text-gray-500"><%= link_to '首页', root_path -%> > <span class="text-black">材料列表</span></p>

<div class="flex flex-row px-4 sm:px-6 lg:px-8">
  <section class="w-full flex flex-col">
    <%# 材料列表 %>
    <div class="mt-7 mb-4 border-b-2 border-gray-100 border-solid pb-3">
      <span class="text-2xl font-bold ml-px mr-2 under-text-border" style="padding-bottom: 0.9rem">材料列表</span>
      <span class="text-xl font-light">Material List</span>
    </div>
  </section>
</div>

<%= form_with url: materials_path, class: 'px-4 sm:px-6 lg:px-8 mt-2', id: 'material-form', method: :get, data: { controller: 'material-filter',
    'material-filter-material-bar-open-value': @panel_name == 'material',
    'material-filter-indeterminate-material-value': !@selected_all_materials && !@selected_none_materials
  } do |f| %>
  <%= hidden_field_tag 'pn', @panel_name,  data: { "material-filter-target" => "activePanel" } -%>
  <div class="flex flex-wrap w-full mb-3">
    <% @selected_mats.each do |select_material| %>
      <%= render partial: 'search_item', locals: { name: select_material.name, check_id: dom_id(select_material) } %>
    <% end %>
    <% if @color_system.present? %>
      <%= render partial: 'search_item', locals: { name: "色系：#{@color_system.description}", check_id: 'sel-color-system' } %>
    <% end %>
    <% if @price_start.present? %>
      <%= render partial: 'search_item', locals: { name: "不低于：#{@price_start}", check_id: 'txt-price-start' } %>
    <% end %>
    <% if @price_end.present? %>
      <%= render partial: 'search_item', locals: { name: "不高于：#{@price_end}", check_id: 'txt-price-end' } %>
    <% end %>
    <% if @area_id.present? %>
      <%= render partial: 'search_item', locals: { name: "产地：#{Area.find(@area_id).title}", check_id: 'sel-place-of-origin' } %>
    <% end %>
  </div>
  <div class="flex flex-row justify-between border border-gray-200 bg-gray-100">
    <div class="flex flex-row w-1/3 p-1">
      <%= text_field_tag :q, @q, placeholder: '黄金麻/镀膜玻璃/PC板', class: 'block flex-grow bg-transparent text-base placeholder-gray-300 border-0 focus:outline-none focus:ring-gray-100 focus:border-gray-100 focus:ring-offset-gray-100', id: 'search-box', autocomplete: "off" -%>
      <button data-action="material-filter#checkbox_submit" class="cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" class="flex-none mx-4 my-3 h-6 w-6 text-gray-300" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
      </button>
    </div>
    <div class="flex flex-row w-1/3 p-1 cursor-pointer" data-action="click->material-filter#expend_material">
      <p class="flex-none pl-4 pr-2 my-3 text-gray-500 border-l border-gray-300">
        <span class="<%= @panel_name == 'material' ? 'under-text-border' : '' -%>" style="padding-bottom: 1.1rem" data-material-filter-target="materialSpan">材料</span>
      </p>
      <svg data-material-filter-target="materialIconSvg" xmlns="http://www.w3.org/2000/svg" class="flex-none my-4 h-4 w-4 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path fill="currentColor" d="<%= @panel_name == 'material' ? 'M20 16H4L12 8L20 16Z' : 'M20 8H4L12 16L20 8Z' -%>"></path>
      </svg>
    </div>
    <div class="flex flex-row w-1/3 p-1">
    </div>
  </div>
  <div class="flex flex-row text-gray-700 border-b border-l border-r border-gray-200 bg-gray-50 <%= @panel_name == 'material' ? '' : 'hidden' -%>" data-material-filter-target="materialTypeDiv">
    <div class="w-80"></div>
    <div class="grid grid-flow-row grid-cols-6 w-full">
      <% @material_types.each_with_index do |material_type, index| %>
        <turbo-frame id="<%= dom_id(material_type) -%>">
          <div class="my-4 <%= material_type.id == @selected_mat_parent_id ? 'font-bold' : '' -%>" data-material-filter-target="matTypeLink">
            <%= link_to material_type.name, material_type_path(id: material_type.id, from: 'materials'), data: { action: 'click->material-filter#clean_active' } -%>
          </div>
        </turbo-frame>
      <% end %>
    </div>
  </div>
  <div class="flex flex-row text-gray-700 border-b border-l border-r border-gray-200 bg-gray-50 <%= @panel_name == 'material' ? '' : 'hidden' -%>" data-material-filter-target="materialDetailDiv">
    <div class="w-80">
      <div class="my-4 ml-8 flex items-start">
        <input id="checkbox-select-material-all" data-material-filter-target="selectAllMaterials" type="checkbox" class="mt-1 focus:ring-gray-50 text-gray-600 border-gray-300" data-action="input->material-filter#select_all_materials" <%= @selected_all_materials ? 'checked' : '' -%>>
        <label for="checkbox-select-material-all" class="font-medium text-gray-700 ml-2 mt-px">全部</label>
      </div>
    </div>
    <turbo-frame id="material_details" class="grid grid-flow-row grid-cols-6 w-full py-1">
      <% @all_materials.each do |material| %>
        <%= render partial: 'material_item', locals: { material: material, checked: @selected_mats.pluck(:id).include?(material.id) } %>
      <% end %>
    </turbo-frame>
  </div>
  <div class="flex flex-row text-gray-700 border-b border-l border-r border-gray-200 bg-gray-50 <%= @panel_name == 'material' ? '' : 'hidden' -%>" data-material-filter-target="additionalDiv">
    <div class="w-80">
      <div class="my-4 ml-8">
        高级筛选
      </div>
    </div>
    <div class="grid grid-flow-row grid-cols-6 w-full py-1">
      <div class="my-2.5 flex items-start">
        <label for="sel-color-system" class="text-gray-700 mt-px">色系</label>
        <%= select_tag :color_system, options_for_select(ColorSystem.color_system_lists, @color_system&.id), { include_blank: true, class: 'ml-2 -mt-px p-1 bg-gray-100 text-sm border-gray-300 focus:outline-none focus:ring-gray-300 focus:border-gray-300 sm:text-sm rounded w-32', id: 'sel-color-system', data: { action: 'material-filter#checkbox_submit' } } %>
      </div>
      <div class="my-2.5 flex items-start col-span-2">
        <label for="text-price-range" class="text-gray-700 mt-px">价格区间</label>
        <%= number_field_tag 'price_start', @price_start, class: 'ml-2 -mt-px p-1 bg-gray-100 text-sm border-gray-300 focus:outline-none focus:ring-gray-300 focus:border-gray-300 sm:text-sm rounded w-24', id: 'txt-price-start' -%><span class="text-gray-300">&nbsp; —— &nbsp;</span><%= number_field_tag 'price_end', @price_end, class: 'ml-2 -mt-px p-1 bg-gray-100 text-sm border-gray-300 focus:outline-none focus:ring-gray-300 focus:border-gray-300 sm:text-sm rounded w-24', id: 'txt-price-end' -%>
      </div>
      <div class="my-2.5 flex items-start">
        <label for="sel-place-of-origin" class="text-gray-700 mt-px">产地</label>
        <%= select_tag :area_id, options_for_select(MaterialProduct.material_product_locations, @area_id), { include_blank: true, class: 'ml-2 -mt-px p-1 bg-gray-100 text-sm border-gray-300 focus:outline-none focus:ring-gray-300 focus:border-gray-300 sm:text-sm rounded w-32', id: 'sel-place-of-origin', data: { action: 'material-filter#checkbox_submit' } } -%>
      </div>
    </div>
  </div>
<% end %>

<div class="px-4 sm:px-6 lg:px-8 mt-6 2xl:mt-8 mb-16">
  <% if @materials.length > 0 %>
    <%# 材料 %>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-6 2xl:grid-cols-8 gap-x-1.5 gap-y-10">
      <% @materials.each do |material| %>
        <%= link_to material_path(id: material.id) do %>
          <img class="mx-auto w-full h-52 object-cover" src="<%= get_first_url(material.cover) -%>" alt="">
          <h3 class="text-center mt-2 font-medium"><%= text_with_default(material.name) -%></h3>
          <h4 class="text-center text-sm text-gray-400"><%= text_with_default(material.level_name) -%></h4>
        <% end %>
        <% if material.samples.present? %>
          <% material.samples.each do |sample| %>
            <%= link_to sample_path(sample) do %>
              <img class="mx-auto w-full h-52 object-cover" src="<%= sample.pic.present? ? mat_img_url(sample.pic, "") : get_first_url(material.cover) -%>" alt="">
              <h3 class="text-center mt-2 font-medium"><%= text_with_default(material.name) -%>（样品）</h3>
              <h4 class="text-center text-sm text-gray-400"><%= text_with_default(material.level_name) -%></h4>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="flex justify-center mt-8">
      <%= render partial: 'shared/pagination', locals: {
        total: @total,
        page: @page,
        page_size: @page_size,
        path: materials_path(request.GET),
        page_size_options: @page_size_options,
      } %>
    </div>
  <% else %>
    <%= render 'shared/filter_empty' %>
  <% end %>
</div>
