<%= render partial: 'shared/header', locals: {} -%>

<p class="mx-4 px-48 pt-8 text-sm text-gray-500">
  <% breadcrumbs = material_breadcrumbs(@material, append_title: '相关列表') %>
  <%= raw breadcrumbs.map { |item| \
    item[:url].present? \
    ? "<a href=\"#{item[:url]}\">#{item[:title]}</a>" \
    : "<span class='text-black'>#{item[:title]}</span>" \
  }.join('<span> > </span>') %>
</p>

<div class="flex flex-row px-48">
  <section class="w-full mr-6 max-w-lg lg:max-w-xl xl:max-w-5xl flex flex-col">
    <%# 样品列表 %>
    <div class="mx-4 mt-7 mb-4 border-b-2 border-gray-100 border-solid pb-3">
      <span class="text-2xl font-bold ml-px mr-2 under-text-border" style="padding-bottom: 0.9rem"><%= @material.name -%>样品列表</span><span class="text-xl font-light">Samples</span>
    </div>
  </section>
</div>

<section class="px-48">
  <div class="mx-4 mt-2 mb-16 grid grid-cols-6 gap-3">
    <% @material.samples.each do |sample| %>
      <div class="mb-4">
        <%= link_to sample_path(id: sample.id), class: 'mb-1 block' do %>
          <img class="w-full h-56 min-h-full object-cover" src="<%= mat_img_url(sample.pic, "") -%>" alt="">
        <% end %>
        <h3 class="text-lg font-bold"><%= @material.name -%>(样品)</h3>
        <p class="text-xs text-gray-400"><span>样品编号：</span><%= sample.no -%></p>
        <p class="text-xs text-gray-400"><span>表面效果：</span><%= sample&.surface_effects&.collect(&:description)&.join(' ') -%></p>
        <p class="text-xs text-gray-400">
          <%# 色系 %>
          <span>色&#x3000;&#x3000;系：</span><%= sample&.color_systems&.collect(&:description)&.join(' ') -%>
        </p>
        <p class="text-xs text-gray-400">
          <%# 厂家 %>
          <span>厂&#x3000;&#x3000;家：</span><%= sample.manufacturer&.name -%>
        </p>
      </div>
    <% end %>
  </div>
</section>
