<%# 材料产品详情 %>
<div class="bg-white text-black-6c text-xs m-1 px-1.5 py-2.5">
  <div class="my-2">
    <span class="font-medium px-1 text-gray-400">色系 ：</span>
    <a href="<%= material_path(@material.id) %>">
      <span class="px-2.5 py-1 rounded-full <%= @color_id.present? ? '' : 'font-bold bg-gray-200' %>">
        全部
      </span>
    </a>
    <% @material.parent_color_systems&.each do |color_system| %>
      <a href="<%= material_path(@material.id, color_id: color_system.id) %>">
        <span class="px-2.5 py-1 rounded-full <%= @color_id == color_system.id.to_s ? 'font-bold bg-gray-200' : '' %>">
          <%= color_system.description %>
        </span>
      </a>
    <% end %>
  </div>
  <div class="pt-2 pb-3 overscroll-x-auto overflow-x-auto shadow-sm">
    <div class="flex flex-nowrap min-w-max">
      <% @projects.each do |project| %>
        <a class="mx-px first:mx-px w-20 border border-gray-200 border-solid <%= project.id == @material.id ? 'shadow-lg' : '' %>" href="<%= material_path(project.id, request.GET) %>">
          <img class="w-20 h-20 object-cover" src="<%= get_first_url(project.cover) -%>" alt="">
          <h3 class="text-center my-2 whitespace-nowrap"><%= project.name -%></h3>
        </a>
      <% end %>
    </div>
  </div>
</div>
<%# 材料名称 %>
<div class="bg-white text-black-6c text-xs m-1 px-1.5 py-2.5">
  <div class="my-1 flex">
    <img class="w-40 h-40" src="<%= image_pack_path('static/big_sample_picture.jpg') -%>" alt="">
    <dl class="block mx-3 my-1.5">
      <h3 class="text-lg my-4 font-medium"><%= @material.name %>（<%= @material.no %>）</h3>
      <p>色系：
        <% @material.material_product&.color_systems&.each_with_index do |color_system, i| %>
          <span class="font-medium"><%= color_system.description -%></span>
          <% if i == @material.material_product.color_systems.length %>,
          <% end %>
        <% end %>

      </p>
      <p>产地：
        <span class="font-medium"><%= @material.material_product&.origin %></span>
      </p>

      <p>价格区间：
        <span class="font-medium"><%= @material.material_product&.low_price %>
          -<%= @material.material_product&.high_price %>/㎡</span>
      </p>

      <p>是否常用产品：
        <span class="font-medium"><%= @material.material_product&.is_common == 1 ? '是' : '否' %></span>
      </p>
    </dl>
  </div>
  <h5 class="text-base mt-4">表面效果：</h5>
  <div class="pt-2 pb-3 overscroll-x-auto overflow-x-auto shadow-sm">
    <div class="flex flex-nowrap min-w-max">
      <% @material.material_product&.surface_effects&.each do |surface_effect| %>
        <div class="relative">
          <img class="mx-px first:mx-px w-16 object-fill" src="<%= mat_img_url(surface_effect.path, "static/new_mat_g#{1}.jpg") -%>" alt="">
          <p class="absolute left-1/2 bottom-0 text-white text-center text-sm font-medium whitespace-nowrap" style="transform: translate(-50%, 0);">
            <%= surface_effect.description -%>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="bg-white text-black-6c text-xs m-1 px-1.5 py-2">
  <h5 class="text-base font-medium my-2">安装施工要点</h5>
  <p class="my-2"><%= @material.material_product&.points %></p>
  <h5 class="text-base font-medium my-2 mt-4">可定制效果</h5>
  <p class="my-2"><%= @material.material_product&.is_customized %></p>
</div>

<%# 实际应用 %>
<div class="bg-white text-black-6c text-xs m-1 px-1.5 py-2">
  <h5 class="text-base font-medium my-2">实际应用</h5>
  <div class="my-2">
    <% @material&.material_product.practical_applications&.each_with_index do |practical_application, i| %>
      <img class="w-full" src="<%= mat_img_url(practical_application.path, "") -%>" alt="">
    <% end %>
  </div>
</div>

<%# 材料样品 %>
<div class="bg-white mx-1 px-1 pb-5 mt-1">
  <div class="text-black-6c text-xs px-0.5 py-2">
    <h5 class="inline text-base font-medium my-1">材料样品</h5>
    <a class="more-btn-sm inline" href="<%= root_path -%>">MORE+</a>
  </div>
  <div class="px-0.5">
    <div class="bg-gray-200 w-full overflow-hidden">
      <table class="w-full divide-y divide-gray-300 box-border">
        <thead class="">
        <tr>
          <th scope="col" class="px-1 py-2 border border-gray-300 border-solid whitespace-nowrap text-center text-sm text-gray-900">
            样品编号
          </th>
          <th scope="col" class="px-1 py-2 border border-gray-300 border-solid whitespace-nowrap text-center text-sm text-gray-900">
            色系
          </th>
          <th scope="col" class="px-1 py-2 border border-gray-300 border-solid whitespace-nowrap text-center text-sm text-gray-900">
            样品规格、型号
          </th>
          <th scope="col" class="px-1 py-2 border border-gray-300 border-solid whitespace-nowrap text-center text-sm text-gray-900">
            表面工艺
          </th>
          <th scope="col" class="px-1 py-2 border border-gray-300 border-solid whitespace-nowrap text-center text-sm text-gray-900">
            剩余库存
          </th>
        </tr>
        </thead>
        <tbody class="divide-y divide-gray-300">
        <% @samples&.each do |sample| %>
          <tr>
            <td class="px-1 py-2 text-center border border-gray-300 whitespace-nowrap text-xs font-medium">
              <%= sample.no -%>
            </td>
            <td class="px-1 py-2 text-center border border-gray-300 whitespace-nowrap text-xs">
              <% sample&.color_systems&.each_with_index do |color_system, i| %><%= color_system.description -%>
                <% if i == sample.color_systems.length %>,
                <% end %>
              <% end %>
            </td>
            <td class="px-1 py-2 text-center border border-gray-300 whitespace-nowrap text-xs">
              <%= sample.spec_model -%>
            </td>
            <td class="px-1 py-2 text-center border border-gray-300 whitespace-nowrap text-xs">
              <% sample&.surface_effects&.each_with_index do |surface_effect, i| %><%= surface_effect.description -%>
                <% if i == sample.surface_effects.length %>,
                <% end %>
              <% end %>
            </td>
            <td class="px-1 py-2 text-center border border-gray-300 whitespace-nowrap text-xs">

            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <p class="p-2 text-sm">实体材料库地址：上海市徐汇区漕河泾科汇大厦11F</p>
    </div>
  </div>
</div>

<%# 产品案例 %>
<div class="bg-white text-black-6c text-xs px-1.5 py-2 mt-1 mx-1">
  <h5 class="inline text-base font-medium m-1">产品案例</h5>
  <a class="more-btn-sm inline" href="<%= root_path -%>">MORE+</a>
  <div class="mt-1 grid grid-cols-2 gap-y-2 gap-x-1">
    <% @cases&.each do |project_case| %>
      <div>
        <div class="relative">
          <img class="w-full" src="<%= get_first_url(project_case.live_photos) %>" alt="">
          <div class="absolute right-1 bottom-1 text-white text-right">
            <p class="text-xs"><%= project_case.is_th == 1 ? '内部项目' : '外部项目' %></p>
          </div>
          <div class="absolute left-1 bottom-1 text-white text-left">
            <p class="text-white text-right text-xs">荔枝面黄金麻</p>
          </div>
        </div>
        <div class="text-black-6c text-left">
          <p class="text-xs mt-1"><%= project_case.project_name -%>/<%= project_case.project_location -%></p>
          <p class="text-xs"></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%# 构造做法 %>
<div class="bg-white text-black-6c m-1 px-1.5 py-2">
  <h5 class="inline text-base font-medium my-2">构造做法</h5>
  <a class="more-btn-sm inline" href="<%= root_path -%>">MORE+</a>

  <% if @material.material_product&.practice_details.present? %>
    <% JSON.parse(@material.material_product.practice_details)&.each_with_index do |practice_detail, i| %>
      <div class="my-2">
        <img class="w-full" src="<%= mat_img_url(practice_detail["url"], "") -%>" alt="">
      </div>
      <p class="text-base"><%= practice_detail["name"] -%></p>
    <% end %>
  <% end %>

</div>

<%# 厂家信息 %>
<div class="bg-white text-black-6c m-1 px-1.5 py-2">
  <h5 class="inline text-base font-medium my-2">厂家信息</h5>
  <a class="more-btn-sm inline" href="<%= root_path -%>">MORE+</a>

  <% @material.manufacturers&.each do |manufacturer| %>
  <div class="flex bg-gray-200 border border-gray-200 border-solid px-2 my-3">
    <div class="flex justify-center items-center px-1">
      <img class="w-full border border-gray-300 border-solid" src="<%= mat_img_url(manufacturer.logo,'') -%>" alt="">
    </div>
    <div class="p-4">
      <h5 class="text-lg font-medium my-2"><%= manufacturer.name %></h5>
      <p class="text-sm text-gray-700">所在地：<%= manufacturer.location %></p>
      <p class="text-sm text-gray-700">联系方式：<%= manufacturer.contact_information %></p>
      <p class="text-sm text-gray-700">是否愿意提供材料样品：<%= manufacturer.is_allow == 1?'是':'否' %></p>
    </div>
  </div>
  <% end %>
</div>
