<%# 材料产品详情 %>
<div class="bg-white text-black text-xs m-1 px-1.5 py-2.5">
  <div class="my-2">
    <span class="font-medium px-1">色系</span>
    <span class="px-1">白色系</span>
    <span class="px-1">灰色系</span>
    <span class="px-1">黑色系</span>
    <span class="px-1">
      <span class="px-2.5 py-1 rounded-full font-medium bg-gray-200">
        黄色系
      </span>
    </span>
    <span class="px-1">红色系</span>
    <span class="px-1">棕色系</span>
  </div>
  <div class="pt-2 pb-3 overscroll-x-auto overflow-x-auto shadow-sm">
    <div class="flex flex-nowrap min-w-max">
      <% %w[黄金麻 卡基诺金 世贸金麻 山东黄锈 莆田黄锈 卡拉麦里金 紫点金麻].each_with_index do |name, i| %>
        <% pic_url = "static/new_mat_g#{i+1}.jpg" -%>
        <div class="mx-px first:mx-px w-20 border border-gray-200 border-solid">
          <img class="w-full object-contain" src="<%= image_pack_path(pic_url) -%>" alt="">
          <h3 class="text-center my-2 whitespace-nowrap"><%= name -%></h3>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%# 材料名称 %>
<div class="bg-white text-black text-xs m-1 px-1.5 py-2.5">
  <div class="my-1 flex">
    <img class="w-40 h-40" src="<%= image_pack_path('static/big_sample_picture.jpg') -%>" alt="">
    <dl class="block mx-3 my-1.5">
      <h3 class="text-lg my-4 font-medium">黄金麻（A07010）</h3>
      <p>色系：
        <span class="font-medium">黄色</span>
      </p>
      <p>产地：
        <span class="font-medium">山东、湖北</span>
      </p>

      <p>价格区间：
        <span class="font-medium">100-350/㎡</span>
      </p>

      <p>是否常用产品：
        <span class="font-medium">是</span>
      </p>
    </dl>
  </div>
  <h5 class="text-base mt-4">表面效果：</h5>
  <div class="pt-2 pb-3 overscroll-x-auto overflow-x-auto shadow-sm">
    <div class="flex flex-nowrap min-w-max">
      <% %w[光面 亚光 火烧 荔枝 剁斧 仿古 蘑菇 拉槽].each_with_index do |name, i| %>
        <div class="relative">
          <img class="mx-px first:mx-px w-16 object-fill" src="<%= image_pack_path("static/new_mat_g#{i+1}.jpg") -%>" alt="">
          <p class="absolute left-1/2 bottom-0 text-white text-center text-sm font-medium whitespace-nowrap" style="transform: translate(-50%, 0);">
              <%= name -%>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="bg-white text-black text-xs m-1 px-1.5 py-2">
  <h5 class="text-base font-medium my-2">安装施工要点</h5>
  <p class="my-2">黄金麻是沉积岩，强度低、 吸水率高、 耐候性差，本不是石材幕墙面板的最佳用材，但砂岩的独有质感、 颜色和风格，使得建筑师又很喜欢将它们用作石材幕墙。 由千其结构松散，比重较轻，干挂板一般厚度控制在30mm厚以上，以保证安装安全。 另外尽量做防水、 防污处理。</p>
  <h5 class="text-base font-medium my-2 mt-4">可定制效果</h5>
  <p class="my-2">涂装型板是在表面通过涂装和模具压印出不同颜色凹凸及肌理的装饰型板，可以形成仿木、 仿石材、 仿清水等各种纹理效果的装饰型板。</p>
</div>

<%# 实际应用 %>
<div class="bg-white text-black text-xs m-1 px-1.5 py-2">
  <h5 class="text-base font-medium my-2">实际应用</h5>
  <div class="my-2">
    <img class="w-full" src="<%= image_pack_path('static/application_big_pic.jpg') -%>" alt="">
  </div>
</div>

<%# 材料样品 %>
<div class="bg-white text-black text-xs m-1 px-1.5 py-2">
  <h5 class="text-base font-medium my-1">材料样品</h5>
</div>
<div class="m-2">
  <table class="min-w-full divide-y divide-gray-300">
    <thead class="">
      <tr>
        <th scope="col" class="px-1 py-2 border border-gray-300 border-solid whitespace-nowrap text-center text-sm text-gray-900">
          样品编号
        </th>
        <th scope="col" class="px-1 py-2 border border-gray-300 border-solid whitespace-nowrap text-center text-sm text-gray-900">
          色系
        </th>
        <th scope="col" class="px-1 py-2 border border-gray-300 border-solid whitespace-nowrap text-center text-sm text-gray-900">
          样品规格、型号
        </th>
        <th scope="col" class="px-1 py-2 border border-gray-300 border-solid whitespace-nowrap text-center text-sm text-gray-900">
          表面工艺
        </th>
        <th scope="col" class="px-1 py-2 border border-gray-300 border-solid whitespace-nowrap text-center text-sm text-gray-900">
          剩余库存
        </th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-300">
      <% (1..4).each do %>
        <tr>
          <td class="px-1 py-2 text-center border border-gray-300 whitespace-nowrap text-xs font-medium">
            A07010-32
          </td>
          <td class="px-1 py-2 text-center border border-gray-300 whitespace-nowrap text-xs">
            黄色系
          </td>
          <td class="px-1 py-2 text-center border border-gray-300 whitespace-nowrap text-xs">
            30cmx30cm
          </td>
          <td class="px-1 py-2 text-center border border-gray-300 whitespace-nowrap text-xs">
            哑光
          </td>
          <td class="px-1 py-2 text-center border border-gray-300 whitespace-nowrap text-xs">

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p class="m-2 text-sm">实体材料库地址：上海市徐汇区漕河泾科汇大厦11F</p>
</div>
<div class="bg-white text-black text-xs m-1 px-1.5 py-2.5">
</div>

<%# 产品案例 %>
<div class="bg-white text-black text-xs px-1.5 py-2 mt-2">
  <h5 class="text-base font-medium m-1">产品案例</h5>
  <div class="grid grid-cols-2">
    <div class="m-1">
      <div class="relative">
        <img class="w-full" src="<%= image_pack_path('static/project_new_g1.jpg') -%>" alt="">
        <div class="absolute right-1 bottom-1 text-white text-right">
          <p class="text-xs">内部项目</p>
        </div>
        <div class="absolute left-1 bottom-1 text-white text-left">
          <p class="text-white text-right text-xs">荔枝面黄金麻</p>
        </div>
      </div>
      <div class="text-black text-left">
        <p class="text-xs">融创徐汇滨江壹号 / 上海</p>
        <p class="text-xs">Shanghai West Bund Park</p>
      </div>
    </div>
    <div class="m-1">
      <div class="relative">
        <img class="w-full" src="<%= image_pack_path('static/project_new_g2.jpg') -%>" alt="">
        <div class="absolute right-1 bottom-1 text-white text-right">
          <p class="text-xs">内部项目</p>
        </div>
        <div class="absolute left-1 bottom-1 text-white text-left">
          <p class="text-white text-right text-xs">荔枝面黄金麻</p>
        </div>
      </div>
      <div class="text-black text-left">
        <p class="text-xs">合肥北城中央公园中小学 / 安徽合肥</p>
        <p class="text-xs">Shanghai West Bund Park</p>
      </div>
    </div>
    <div class="m-1">
      <div class="relative">
        <img class="w-full" src="<%= image_pack_path('static/project_new_g3.jpg') -%>" alt="">
        <div class="absolute right-1 bottom-1 text-white text-right">
          <p class="text-xs">内部项目</p>
        </div>
        <div class="absolute left-1 bottom-1 text-white text-left">
          <p class="text-white text-right text-xs">光面黄金麻</p>
        </div>
      </div>
      <div class="text-black text-left">
        <p class="text-xs">北京大兴龙湖天街 / 北京</p>
        <p class="text-xs">Shanghai West Bund Park</p>
      </div>
    </div>
    <div class="m-1">
      <div class="relative">
        <img class="w-full" src="<%= image_pack_path('static/project_new_g4.jpg') -%>" alt="">
        <div class="absolute right-1 bottom-1 text-white text-right">
          <p class="text-xs">内部项目</p>
        </div>
        <div class="absolute left-1 bottom-1 text-white text-left">
          <p class="text-white text-right text-xs">哑光面黄金麻</p>
        </div>
      </div>
      <div class="text-black text-left">
        <p class="text-xs">奥园昆山千灯镇誉景澜庭示范区 / 江苏昆山</p>
        <p class="text-xs">Shanghai West Bund Park</p>
      </div>
    </div>
  </div>
</div>

<%# 构造做法 %>
<div class="bg-white text-black m-1 px-1.5 py-2">
  <h5 class="text-base font-medium my-2">构造做法</h5>
  <div class="my-2">
    <img class="w-full" src="<%= image_pack_path('static/construction_big.jpg') -%>" alt="">
  </div>
  <p class="text-base">安装施工节点图纸</p>
  <div class="my-2">
    <img class="w-full" src="<%= image_pack_path('static/construction_s1.jpg') -%>" alt="">
  </div>
  <p class="text-base">干挂图层</p>
</div>
