<%= render partial: 'shared/header', locals: { } -%>

<p class="mx-4 px-40 pt-8">首页 > 石材 > 花岗岩 > 黄金麻</p>

<main class="flex flex-row px-40">
  <%# 材料菜单 %>
  <section class="flex-auto">
    <h2 class="mx-4 mt-8 border-b-2 border-gray-900 border-solid pb-2">
      <span class="text-xl mr-2">石材</span><span class="text-base font-light">Store</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 float-right" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </h2>
    <div class="mx-4">
      <div class="bg-gray-200 py-3 pl-5 text-gray-500 text-lg">
        <h3 class="my-2">
          <span>
            石灰石/青石
            <svg xmlns="http://www.w3.org/2000/svg" class="-mt-0.5 h-5 w-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
          </span>
        </h3>
        <h3 class="my-2">
          <span>
            大理石
            <svg xmlns="http://www.w3.org/2000/svg" class="-mt-0.5 h-5 w-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
          </span>
        </h3>
        <h3 class="my-2">
          <span>
            砂岩
            <svg xmlns="http://www.w3.org/2000/svg" class="-mt-0.5 h-5 w-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
          </span>
        </h3>
        <h3 class="my-2">
          <span>
            洞石 / 石灰华
            <svg xmlns="http://www.w3.org/2000/svg" class="-mt-0.5 h-5 w-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
          </span>
        </h3>
        <h3 class="my-2">
          <span>
            火山岩 / 喷出岩
            <svg xmlns="http://www.w3.org/2000/svg" class="-mt-0.5 h-5 w-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
          </span>
        </h3>
        <h3 class="my-2 text-gray-800">
          <span class="border-b border-black border-solid pb-1">
            花岗岩
            <svg xmlns="http://www.w3.org/2000/svg" class="-mt-0.5 h-5 w-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
          </span>
        </h3>
        <h3 class="my-2">
          <span>
            板岩 / 板石
            <svg xmlns="http://www.w3.org/2000/svg" class="-mt-0.5 h-5 w-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
          </span>
        </h3>
      </div>
    </div>
    <h2 class="mx-4 mt-6 border-b-2 border-gray-200 border-solid pb-2">
      <span class="text-xl mr-2">玻璃</span><span class="text-base font-light">Store</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-200 float-right" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
      </svg>
    </h2>
    <h2 class="mx-4 mt-6 border-b-2 border-gray-200 border-solid pb-2">
      <span class="text-xl mr-2">金属</span><span class="text-base font-light">Store</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-200 float-right" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
      </svg>
    </h2>
    <h2 class="mx-4 mt-6 border-b-2 border-gray-200 border-solid pb-2">
      <span class="text-xl mr-2">混凝土/水泥</span><span class="text-base font-light">Concrete/Cement</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-200 float-right" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
      </svg>
    </h2>
    <h2 class="mx-4 mt-6 border-b-2 border-gray-200 border-solid pb-2">
      <span class="text-xl mr-2">高分子材料</span><span class="text-base font-light">Plastic</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-200 float-right" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
      </svg>
    </h2>
  </section>

  <%# 材料产品详情 %>
  <section class="w-full ml-12 max-w-3xl lg:max-w-4xl xl:max-w-5xl 2xl:max-w-6xl flex flex-col">
    <div class="mx-4 mt-10 mb-4 border-b-2 border-gray-200 border-solid pb-3">
      <span class="text-2xl font-bold ml-px mr-2 border-b-2 border-gray-900 border-solid border-solid" style="padding-bottom: 0.9rem">材料产品详情</span><span class="text-xl font-light">Material Details</span>
    </div>
    <div class="mx-4 my-4 text-lg text-center text-gray-400 flex content-center justify-start border border-gray-200 border-solid">
      <h2 class="w-30 py-6 bg-gray-200 text-black font-medium text-right pr-6">色系</h2>
      <p class="w-30 py-6">全部</p>
      <p class="w-30 py-6">白色系</p>
      <p class="w-30 py-6">灰色系</p>
      <p class="w-30 py-6">黑色系</p>
      <p class="w-30 py-6">
        <span class="px-5 py-3 rounded-full font-medium bg-gray-200 text-black">
          黄色系
        </span>
      </p>
      <p class="w-30 py-6">红色系</p>
      <p class="w-30 py-6">棕色系</p>
    </div>

    <div class="mx-4 flex gap-3">
      <% %w[黄金麻 卡基诺金 世贸金麻 山东黄锈 莆田黄锈 卡拉麦里金 紫点金麻].each_with_index do |name, i| %>
        <% pic_url = "static/new_mat_g#{i+1}.jpg" -%>
        <div class="border border-gray-200 border-solid">
          <img class="mx-auto w-28 h-28" src="<%= image_pack_path(pic_url) -%>" alt="">
          <h3 class="text-center my-2"><%= name -%></h3>
        </div>
      <% end %>
    </div>

    <%# 材料名称 %>
    <div class="mx-4 mt-10 mb-4 border-b-2 border-gray-200 border-solid pb-3">
      <span class="text-2xl font-bold ml-px mr-2 border-b-2 border-gray-900 border-solid" style="padding-bottom: 0.9rem">黄金麻</span><span class="text-xl font-light">（A07010）</span>
    </div>

    <div class="mx-4 flex gap-20">
      <div>
        <img class="w-80 h-80" src="<%= image_pack_path('static/big_sample_picture.jpg') -%>" alt="">
        <dl class="block w-80 mt-2">
          <dt class="my-1 inline-block w-1/2">色系：</dt>
          <dd class="my-1 inline-block w-5/12 text-right">黄色</dd>

          <dt class="my-1 inline-block w-1/2">产地：</dt>
          <dd class="my-1 inline-block w-5/12 text-right">山东、湖北</dd>

          <dt class="my-1 inline-block w-1/2">价格区间：</dt>
          <dd class="my-1 inline-block w-5/12 text-right">100-350/㎡</dd>

          <dt class="my-1 inline-block w-1/2">是否常用产品：</dt>
          <dd class="my-1 inline-block w-5/12 text-right">是</dd>
        </dl>
      </div>
      <div>
        <h5 class="text-lg font-medium">表面效果：</h5>
        <div class="grid grid-cols-8 gap-1 my-3">
          <% %w[光面 亚光 火烧 荔枝 剁斧 仿古 蘑菇 拉槽].each_with_index do |name, i| %>
            <div class="relative">
              <img class="w-full h-full object-fill" src="<%= image_pack_path("static/new_mat_g#{i+1}.jpg") -%>" alt="">
              <p class="absolute left-1/2 bottom-0 text-white text-center text-sm font-medium whitespace-nowrap" style="transform: translate(-50%, 0);">
                  <%= name -%>
              </p>
            </div>
          <% end %>
        </div>
        <h5 class="text-lg font-medium mt-8 mb-4">安装施工要点：</h5>
        <p>黄金麻是沉积岩，强度低、 吸水率高、 耐候性差，本不是石材幕墙面板的最佳用材，但砂岩的独有质感、 颜色和风格，使得建筑师又很喜欢将它们用作石材幕墙。 由千其结构松散，比重较轻，干挂板一般厚度控制在30mm厚以上，以保证安装安全。 另外尽量做防水、 防污处理。</p>
        <h5 class="text-lg font-medium mt-8 mb-4">可定制效果：</h5>
        <p>涂装型板是在表面通过涂装和模具压印出不同颜色凹凸及肌理的装饰型板，可以形成仿木、 仿石材、 仿清水等各种纹理效果的装饰型板。</p>
      </div>
    </div>

  </section>
</main>

<%= render partial: 'shared/footer', locals: { } -%>
