<%= render partial: 'shared/header', locals: {} -%>

<% breadcrumbs = material_breadcrumbs(@material) %>
<div class="text-sm text-gray-500 mx-auto mt-12" style="width: 1600px;">
  <%= raw material_breadcrumbs(@material).map.with_index { |item, i| \
    item[:url].present? \
    ? "<a class=\"#{ i == breadcrumbs.length - 1 ? 'text-black' : '' }\" href=\"#{item[:url]}\">#{item[:title]}</a>" \
    : "<span class=\"#{ i == breadcrumbs.length - 1 ? 'text-black' : '' }\">#{item[:title]}</span>" \
  }.join('<span> > </span>') %>
</div>

<div class="flex flex-row justify-between mx-auto mt-5" style="width: 1600px;">
  <%# 材料菜单 %>
  <section class="material-nav" data-controller="material-nav">
    <% @tree_materials.each do |item| %>
      <div class="material-nav-item mb-5 <%= @material.id == item[:id] || item[:descendant_ids].include?(@material.id) ? 'active' : '' %>" data-material-nav-target="navItem">
        <div class="material-nav-item-header pb-1" data-action="click->material-nav#navItemClick">
          <div class="material-nav-item-header-title truncate" title="<%= item[:title] %> <%= item[:subtitle] %>">
            <span><%= item[:title] %></span>
            <span>&ensp;<%= item[:subtitle] %></span>
          </div>
          <% if item[:children].present? %>
            <svg xmlns="http://www.w3.org/2000/svg" class="material-nav-item-header-icon h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
            </svg>
          <% end %>
        </div>
        <% if item[:children].present? %>
          <div class="material-nav-item-children flex flex-col px-5 text-lg">
            <% item[:children].each do |child_item| %>
              <div class="relative mt-4 material-nav-item-children-item <%= @material.id == child_item[:id] || child_item[:descendant_ids].include?(@material.id) ? 'active' : '' %>">
                <span class="relative">
                  <%= link_to material_path(id: child_item[:id]) do %>
                    <span class="truncate" title="<%= child_item[:title] %>"><%= child_item[:title] %></span>
                  <% end %>
                  <% if child_item[:children].present? %>
                    <svg xmlns="http://www.w3.org/2000/svg" class="-mt-0.5 h-5 w-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
                    </svg>
                  <% end %>
                  <div class="material-nav-item-children-text-border"></div>
                </span>
                <% if child_item[:children].present? %>
                  <div class="material-nav-item-children-item-children rounded-md shadow">
                    <div class="material-nav-item-children-item-children-list">
                      <% child_item[:children].each do |child2_item| %>
                        <a href="<%= material_path(child2_item[:id]) %>" class="flex-none truncate mb-2 <%= @material.id == child2_item[:id] ? 'active' : '' %>" title="<%= child2_item[:title] %>"><%= child2_item[:title] %></a>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </section>
  <%# 材料产品详情 %>
  <section class="flex flex-col mb-20" style="width: 1200px;">
    <div class="pb-3 border-b-2 border-gray-100 border-solid">
      <span class="text-2xl font-bold ml-px mr-2 border-b-2 border-gray-900 border-solid" style="padding-bottom: 0.9rem">材料产品详情</span>
      <span class="text-xl font-light">Material Details</span>
    </div>
    <turbo-frame id="color_system_list">
      <%= render partial: 'color_system_list', locals: { projects: @projects, material: @material, color_id: @color_id, expanded: @material.level != 3 } %>
    </turbo-frame>
    <%# 材料名称 %>
    <%= render partial: 'detail_material_name', locals: { material: @material } if @material.level == 3 %>
    <%# 实际应用 材料样品 %>
    <%= render partial: 'detail_application_material_samples', locals: { material: @material } if @material.level == 3 %>
    <%# 产品案例 %>
    <%= render partial: 'detail_product_case', locals: { material: @material } if @material.level == 3 %>
    <%# 构造做法 %>
    <%= render partial: 'detail_construction_method', locals: { material: @material } %>
    <%= render partial: 'detail', locals: { material: @material } if @material.level == 3 %>
  </section>
</div>
