<%= render partial: 'shared/header', locals: {} -%>
<% if @material.level == 3 %>
  <p class="pt-12 text-sm text-gray-500 mx-auto" style="width: 1600px;">首页 > <%= @material.material.material.name %> > <%= @material.material.name %> > <span class="text-black"><%= @material.name %></span></p>
<% else %>
  <p class="pt-12 text-sm text-gray-500 mx-auto" style="width: 1600px;">首页 > <%= @material.material.name %> > <span class="text-black"><%= @material.name %></span></p>
<% end %>
<div class="flex flex-row mx-auto justify-between" style="width: 1600px;">
  <%# 材料菜单 %>
  <section class="material-nav mt-5" data-controller="material-nav">
    <% @materials.each do |item| %>
      <div class="material-nav-item mb-5" data-material-nav-target="navItem">
        <div class="material-nav-item-header pb-1" data-action="click->material-nav#navItemClick">
          <div class="material-nav-item-header-title truncate">
            <span><%= item.name %></span>
            <span>&ensp;<%= item.en_name %></span>
          </div>
          <% if item.children_materials.present? %>
            <svg xmlns="http://www.w3.org/2000/svg" class="material-nav-item-header-icon h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
            </svg>
          <% end %>
        </div>
        <% if item.children_materials.present? %>
          <div class="material-nav-item-children bg-gray-100 flex flex-col px-5 text-gray-400 text-lg">
            <% item.children_materials.each do |child_item| %>
              <div class="relative mt-4 material-nav-item-children-item">
                <span class="relative">
                  <span class="truncate"><%= child_item.name %></span>
                  <% if child_item.children_materials.present? %>
                    <svg xmlns="http://www.w3.org/2000/svg" class="-mt-0.5 h-5 w-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
                    </svg>
                  <% end %>
                  <div class="material-nav-item-children-text-border"></div>
                </span>
                <% if child_item.children_materials.present? %>
                  <div class="material-nav-item-children-item-children absolute w-40 h-60 rounded-md shadow bg-white">
                    <div class="flex flex-col overflow-auto w-full h-full">
                      <% child_item.children_materials.each do |child_item2| %>
                        <a href="<%= material_path(child_item2.id) %>" class="flex-none truncate mb-2" title="<%= child_item2.name %>"><%= child_item2.name %></a>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </section>
  <%# 材料产品详情 %>
  <section class="flex flex-col overflow-hidden mt-5" style="width: 1200px;">
    <div class="pb-3 border-b-2 border-gray-100 border-solid">
      <span class="text-2xl font-bold ml-px mr-2 border-b-2 border-gray-900 border-solid border-solid" style="padding-bottom: 0.9rem">材料产品详情</span><span class="text-xl font-light">Material Details</span>
    </div>
    <div class="text-sm text-center text-gray-400 flex content-center justify-start border border-gray-200 border-solid" style="margin-top: 30px;">
      <h2 class="w-24 py-4 bg-gray-100 text-black-6c font-medium text-right pr-6">色系</h2>
      <p class="w-24 py-4">
        <a href="/materials/<%= @material.id %>">
          全部
        </a>
      </p>
      <% @material.parent_color_systems&.each do |color_system| %>
        <% if @color_id == color_system.id.to_s %>
          <p class="w-24 py-4">
            <span class="active-pill">
              <%= color_system.description -%>
            </span>
          </p>
        <% else %>
          <p class="w-24 py-4">
            <a href="?color_id=<%= color_system.id -%>">
              <%= color_system.description -%>
            </a>
          </p>
        <% end %>
      <% end %>
    </div>

    <div class="flex flex-row mt-5 justify-between" data-controller="material-color-system" data-material-color-system-min-height-value="116" data-material-color-system-max-height-value="<%= (@projects.size.to_f / 11).ceil * 126 - 10 %>">
      <div class="grid grid-cols-11 gap-2.5 overflow-hidden transition-all" style="width: 1068px; height: <%= (@projects.size.to_f / 11).ceil * 126 - 10 %>px" data-material-color-system-target="list">
        <% @projects.each do |project| %>
          <a href="<%= material_path(project.id) %>" class="block transition-shadow hover:shadow" style="width: 88px; height: 116px; border: 1px solid #EBEBEB;">
            <img class="mx-auto object-cover" style="width: 88px; height: 88px;" src="<%= get_first_url(project.cover) -%>" alt="">
            <h3 class="text-center text-sm truncate" style="height: 28px; line-height: 28px; margin: 0 10px;" title="<%= project.name %>"><%= project.name -%></h3>
          </a>
        <% end %>
      </div>
      <% if (@projects.size.to_f / 11).ceil > 1 %>
        <div class="relative" style="width: 22px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" class="absolute cursor-pointer transition-transform rotate-180" style="bottom: 47px;" data-action="click->material-color-system#toggle" data-material-color-system-target="toggleBtn">
            <circle cx="11" cy="11" r="11" fill="#f4f4f4" />
            <path fill="gray" fill-rule="evenodd" d="M1776.35,372.889a0.492,0.492,0,0,1-.7,0l-3.54-3.535a0.511,0.511,0,0,1,0-.708,0.5,0.5,0,0,1,.71,0l3.18,3.182,3.18-3.182a0.5,0.5,0,0,1,.71,0,0.511,0.511,0,0,1,0,.708Zm-3.53-1.243,3.18,3.182,3.18-3.182a0.5,0.5,0,0,1,.71,0,0.511,0.511,0,0,1,0,.708l-3.54,3.535a0.492,0.492,0,0,1-.7,0l-3.54-3.535a0.511,0.511,0,0,1,0-.708A0.5,0.5,0,0,1,1772.82,371.646Z" transform="translate(-1765 -362)"/>
          </svg>
        </div>
      <% end %>
    </div>
    <% if @material.level == 3 %>
    <%# 材料名称 %>
    <div class="mt-20 mb-4 border-b-2 border-gray-100 border-solid pb-3">
      <span class="text-2xl font-bold ml-px mr-2 border-b-2 border-gray-900 border-solid" style="padding-bottom: 0.9rem"><%= @material.name %></span><span class="text-xl font-light">（<%= @material.no %>
      ）</span>
    </div>

    <div class="flex gap-20">
      <div>
        <img class="w-72 h-72" src="<%= get_first_url(@material.cover) -%>" alt="">
        <dl class="block w-72 mt-2 text-lg">
          <dt class="my-1 inline-block w-1/2">色系：</dt>
          <dd class="my-1 inline-block text-right" style="width: 48%">
            <% @material.material_product&.color_systems&.each_with_index do |color_system, i| %><%= color_system.description -%>
              <% if i == @material.material_product.color_systems.length %>,
                <% end %>
            <% end %></dd>

          <dt class="my-1 inline-block w-1/2">产地：</dt>
          <dd class="my-1 inline-block text-right" style="width: 48%"><%= @material.material_product&.origin %></dd>

          <dt class="my-1 inline-block w-1/2">价格区间：</dt>
          <dd class="my-1 inline-block text-right" style="width: 48%">
            <%= @material.material_product&.low_price %>-<%= @material.material_product&.high_price %>/㎡
          </dd>

          <dt class="my-1 inline-block w-1/2">是否常用产品：</dt>
          <dd class="my-1 inline-block text-right" style="width: 48%">
            <% if @material.material_product&.is_common == 1 %> 是
            <% end %></dd>
        </dl>
      </div>
      <div>
        <h5 class="text-lg font-medium">表面效果：</h5>
        <div class="grid grid-cols-8 gap-1 my-3">
          <% @material.material_product&.surface_effects&.each do |surface_effect| %>
            <div class="relative">
              <img class="w-full h-full object-fill" src="<%= mat_img_url(surface_effect.path, "static/new_mat_g#{1}.jpg") -%>" alt="">
              <p class="absolute left-1/2 bottom-0 text-white text-center text-sm font-medium whitespace-nowrap" style="transform: translate(-50%, 0);">
                <%= surface_effect.description -%>
              </p>
            </div>
          <% end %>
        </div>
        <h5 class="text-lg font-medium mt-14 mb-3">安装施工要点：</h5>
        <p class="text-sm text-justify"><%= @material.material_product&.points %></p>
        <h5 class="text-lg font-medium mt-14 mb-3">可定制效果：</h5>
        <p class="text-sm text-justify"><%= @material.material_product&.is_customized %></p>
      </div>
    </div>

    <%# 实际应用 材料样品 %>
    <div class="flex justify-between">
      <div class="flex-grow w-0">
        <div class="mt-20 mb-4 border-b-2 border-gray-100 border-solid pb-3 truncate">
          <span class="text-2xl font-bold ml-px mr-2 border-b-2 border-gray-900 border-solid" style="padding-bottom: 0.9rem">实际应用</span><span class="text-xl font-light">Application</span>
        </div>

        <div class="py-4 bg-gray-100" style="height: 31rem;">
          <% if @material.material_product&.practical_applications.length > 0%>
            <% practical_application= @material.material_product&.practical_applications[0] %>
          <h5 class="pb-3 text-lg font-medium text-center"><%= practical_application&.description -%></h5>
          <div class="mx-2 lg:mx-4 xl:mx-8 2xl:mx-12">
            <img class="w-full" src="<%= mat_img_url(practical_application&.path, "") -%>" alt="">

            <div class="flex flex-wrap gap-3 mt-2">
              <% @material&.material_product.practical_applications&.each_with_index do |practical_application, i| %>
                <% if i > 0 %>
              <img class="w-14" src="<%= mat_img_url(practical_application.path, "") -%>" alt="">
                <% end %>
                <% end %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="flex-grow w-0 ml-5">
        <div class="mt-20 mb-4 border-b-2 border-gray-100 border-solid pb-3 truncate">
          <span class="text-2xl font-bold ml-px mr-2 border-b-2 border-gray-900 border-solid" style="padding-bottom: 0.9rem">材料样品</span><span class="text-xl font-light">Samples</span>
        </div>

        <div class="py-4 bg-gray-100" style="height: 31rem;">
          <h5 class="pb-3 text-lg font-medium text-center">实体材料库库存信息</h5>
          <div class="mx-3 overflow-auto">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-1 py-2 border whitespace-nowrap text-center text-sm text-gray-900">
                  样品编号
                </th>
                <th scope="col" class="px-1 py-2 border whitespace-nowrap text-center text-sm text-gray-900">
                  色系
                </th>
                <th scope="col" class="px-1 py-2 border whitespace-nowrap text-center text-sm text-gray-900">
                  样品规格、型号
                </th>
                <th scope="col" class="px-1 py-2 border whitespace-nowrap text-center text-sm text-gray-900">
                  表面工艺
                </th>
                <th scope="col" class="px-1 py-2 border whitespace-nowrap text-center text-sm text-gray-900">
                  剩余库存
                </th>
                <th scope="col" class="px-1 py-2 border whitespace-nowrap text-center text-sm text-gray-900">
                  存放位置
                </th>
                <th scope="col" class="px-1 py-2 border whitespace-nowrap text-center text-sm text-gray-900">
                  供应商
                </th>
              </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
              <% @samples&.each do |sample| %>
              <tr>
                <td class="px-1 2xl:px-2 py-2 text-center border whitespace-nowrap text-xs font-medium">
                  <%= sample.no -%>
                </td>
                <td class="px-1 2xl:px-2 py-2 text-center border whitespace-nowrap text-xs">
                  <% sample&.color_systems&.each_with_index do |color_system, i| %><%= color_system.description -%>
                    <% if i == sample.color_systems.length %>,
                    <% end %>
                  <% end %>
                </td>
                <td class="px-1 2xl:px-2 py-2 text-center border whitespace-nowrap text-xs">
                  <%= sample.spec_model -%>
                </td>
                <td class="px-1 2xl:px-2 py-2 text-center border whitespace-nowrap text-xs">
                  <% sample&.surface_effects&.each_with_index do |surface_effect, i| %><%= surface_effect.description -%>
                    <% if i == sample.surface_effects.length %>,
                    <% end %>
                  <% end %>
                </td>
                <td class="px-1 2xl:px-2 py-2 text-center border whitespace-nowrap text-xs">
                    未知
                </td>
                <td class="px-1 2xl:px-2 py-2 text-center border whitespace-nowrap text-xs">
                  <%= sample.position %>
                </td>
                <td class="px-1 2xl:px-2 py-2 text-center border whitespace-nowrap text-xs">
                  <%= sample.manufacturer&.name %>
                </td>
              </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <p class="mx-4 mt-4 text-sm">实体材料库地址：上海市徐汇区漕河泾科汇大厦11F</p>
        </div>
      </div>
    </div>

    <%# 产品案例 %>
    <div class="mt-20 mb-4 border-b-2 border-gray-100 border-solid pb-3">
      <span class="text-2xl font-bold ml-px mr-2 border-b-2 border-gray-900 border-solid" style="padding-bottom: 0.9rem">产品案例</span><span class="text-xl font-light">Projects</span>
    </div>

    <div class="grid grid-cols-3 gap-1.5">
      <% @cases&.each do |project_case| %>
      <div class="relative">
        <img class="w-full" src="<%= get_first_url(project_case.live_photos) %>" alt="">
        <div class="absolute left-3 bottom-3 text-white text-left">
          <p class="text-lg"><%= project_case.project_name -%>/<span class="text-sm"><%= project_case.project_location -%></span></p>
          <p class="text-sm">Shanghai West Bund Park</p>
        </div>
        <div class="absolute right-3 bottom-3 text-white text-right">
          <p class="text-sm"><% if project_case.is_th == 1 %>内部项目<% else %>外部项目<% end %></p>
        </div>
        <div class="absolute right-3 top-3 bg-gray-500 bg-opacity-80 p-1">
          <p class="text-white text-right text-sm">荔枝面黄金麻</p>
        </div>
      </div>
        <% end %>
    </div>

    <%# 构造做法 %>
    <div class="mt-20 mb-4 border-b-2 border-gray-100 border-solid pb-3">
      <span class="text-2xl font-bold ml-px mr-2 border-b-2 border-gray-900 border-solid" style="padding-bottom: 0.9rem">构造做法</span><span class="text-xl font-light">Construction</span>
    </div>

    <div class="m-4 grid grid-cols-3 gap-1.5">
      <% if @material.material_product.practice_details != "" %>
        <% JSON.parse(@material.material_product.practice_details)&.each_with_index do |practice_detail, i| %>
        <div class="<% if i == 0  %>col-span-2 row-span-3<% end %> relative">
          <img class="w-full h-full" src="<%= mat_img_url(practice_detail["url"], "") -%>" alt="">
          <div class="black-mask absolute left-0 bottom-0 w-full p-2 text-white text-left">
            <p class="text-lg"><%= practice_detail["name"] -%></p>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>

    <%# 源文件 %>
    <div class="mt-20 mb-4 border-b-2 border-gray-100 border-solid pb-3">
      <span class="text-2xl font-bold ml-px mr-2 border-b-2 border-gray-900 border-solid" style="padding-bottom: 0.9rem">源文件</span><span class="text-xl font-light">Files</span>
    </div>

    <div class="my-2 grid grid-cols-6 gap-1.5">
      <% if @material.material_product.source_file != "" %>
        <% JSON.parse(@material.material_product.source_file)&.each do |source_file| %>
          <a class="p-4 shadow-tw-dark font-medium bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
            <%= source_file["name"] %>
            <a href="<%= mat_img_url(source_file["url"], "") -%>">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 float-right" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M9 19l3 3m0 0l3-3m-3 3V10"/>
              </svg>
            </a>
          </a>
        <% end %>
      <% end %>
    </div>

    <%# 材质贴图 %>
    <div class="mt-20 mb-4 border-b-2 border-gray-100 border-solid pb-3">
      <span class="text-2xl font-bold ml-px mr-2 border-b-2 border-gray-900 border-solid" style="padding-bottom: 0.9rem">材质贴图</span><span class="text-xl font-light">Texture</span>
    </div>
    <div class="my-6 grid grid-cols-6 gap-1.5">
      <% if @material.material_product.su_picture != "" %>
        <% JSON.parse(@material.material_product.su_picture)&.each do |su_picture| %>
          <img class="w-full object-fill" src="<%= mat_img_url(su_picture["url"], "2") -%>" alt="">
        <% end %>
      <% end %>
    </div>

    <%# 厂家信息 %>
    <div class="mt-20 mb-4 border-b-2 border-gray-100 border-solid pb-3">
      <span class="text-2xl font-bold ml-px mr-2 border-b-2 border-gray-900 border-solid" style="padding-bottom: 0.9rem">厂家信息</span><span class="text-xl font-light">Manufacturer</span>
    </div>
    <div class="mt-6 mb-16 grid grid-cols-3 gap-4">
      <%= render partial: 'shared/manufacturers', locals: {} -%>
    </div>
    <% end %>
  </section>
</div>
