<%= turbo_frame_tag :material_favorite_edit_modal do %>
  <div
    data-controller="modal turbo-modal material-favorite-edit"
    data-modal-allow-background-close="false"
    data-modal-disable-backdrop="true"
    data-turbo-modal-auto-show-value="true"
    data-material-favorite-edit-favorite-id-value="<%= params[:id] %>"
  >
    <div
      data-modal-target="container"
      class="animate-fade-in fixed inset-0 overflow-y-auto flex items-center justify-center"
      style="z-index: 9999; background-color: rgba(0, 0, 0, 0.5);"
    >
        <div
          class="relative bg-white rounded-lg overflow-hidden"
          style="width: 580px;"
        >
          <button type="button" class="absolute top-2.5 right-2.5 z-50" data-action="click->turbo-modal#hide">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"></path>
              <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"></path>
            </svg>
          </button>
          <div class="bg-black text-white text-sm flex justify-center items-center px-3" style="height: 35px;">
            编辑项目文件夹
          </div>
          <div class="px-10 py-6 overflow-auto relative" style="height: 540px;">
            <form
              method="post"
              data-material-favorite-edit-target="form"
              data-action="submit->material-favorite-edit#handleFormSubmit"
            >
              <div class="flex flex-col">
                <label for="name"><span class="text-red">*</span>项目文件夹名称：</label>
                <%= render partial: 'shared/matlib_form/input_text', locals: {
                  id: 'name',
                  name: 'name',
                  class_name: 'mt-2 text-sm',
                  html_attr: {
                    'required': 'true',
                    'data-material-favorite-edit-target': 'nameInput'
                  },
                } %>
              </div>
              <div class="mt-4">
                <label for="project_code">选择项目编号：</label>
                <%= render partial: 'shared/matlib_form/search_select', locals: {
                  class_name: 'flex-1 text-sm mt-2',
                  placeholder: '请选择项目编号',
                  options: [],
                  name: 'project_code',
                  value: '',
                  html_attr: {
                    'data-material-favorite-edit-target': 'projectSelect',
                  },
                  search_html_attr: {
                    'data-action': 'input->material-favorite-edit#handleSearchProjects',
                  }
                } %>
              </div>
              <div class="mt-4">
                <label for="cover">封面图：</label>
                <%= render partial: 'shared/matlib_form/drag_upload', locals: {
                  class_name: 'h-56 mt-2',
                  name: 'cover',
                  value: '',
                  file_types: ['image/*'],
                  html_attr: {
                    'data-material-favorite-edit-target': 'coverPicker',
                  },
                } %>
              </div>
            </form>
          </div>
          <div
            class="text-sm flex gap-5 justify-center py-6"
            data-material-favorite-modal-target="footer"
          >
            <button
              type="button"
              class="w-20 h-10 primary-button transition-all duration-300"
              data-material-favorite-edit-target="submitBtn"
              data-action="click->material-favorite-edit#submit"
            >
              确定
            </button>
            <button
              type="button"
              class="w-20 h-10 cancel-button transition-all duration-300"
              data-material-favorite-edit-target="cancelBtn"
              data-action="click->modal#close"
            >
              取消
            </button>
          </div>
        </div>
    </div>
  </div>
<% end %>
