<div class="my-2.5 flex items-start">
  <input id="<%= "location-#{name}" -%>" name="l[]" value="<%= name -%>" type="checkbox" <%= checked ? 'checked="checked"' : '' -%> class="mt-1 focus:ring-gray-50 text-gray-600 border-gray-300" data-manufacturer-filter-target="selectLocationItem" data-action="manufacturer-filter#checkbox_submit">
  <label for="<%= "location-#{name}" -%>" class="text-gray-700 ml-2 mt-px"><%= name -%></label>
</div>
