<%= render partial: 'shared/header', locals: {} -%>

<div class="mx-auto mt-12" style="width: 1500px; padding-bottom: 50px;">

  <div class="text-sm text-gray-500">
    <a href="<%= root_path %>">首页</a>
    <span> > </span>
    <a href="<%= manufacturers_path %>">供应商列表</a>
    <span> > </span>
    <span>供应商详情</span>
  </div>

  <div class="flex flex-row justify-between mt-5">

    <section class="flex flex-col" style="width: 1000px;" data-controller="content-feedback">

      <div class="relative pb-3 border-b-2 border-gray-100 border-solid">
        <span class="text-2xl font-bold ml-px mr-2 under-text-border" style="padding-bottom: 0.9rem">供应商详情</span>
        <span class="text-xl font-light">Manufacturer Details</span>

        <div class="absolute right-0 top-0 flex gap-2">
          <a class="more-btn inline hidden" href="<%= rating_manufacturer_path -%>" data-turbo-frame="manufacturer_rating_modal">供应商信息评级</a>
          <a class="more-btn inline hidden" href="<%= news_index_path -%>">供应商信息反馈</a>
        </div>
      </div>

      <div class="flex" style="margin-top: 30px">
        <div class="p-3 flex-none border border-gray-200" style="width: 235px; height: 235px;">
          <img class="w-full h-full object-scale-down" src="<%= mat_img_url(@manufacturer.logo, 'manufacturer_default_cover.png') -%>" alt="">
        </div>
        <div class="ml-5 flex-1 text-lg text-black grid grid-cols-1 gap-3">
          <div class="flex">
            <div class="w-30 flex-none text-neutral-140">供应商名称:</div>
            <div class="flex-1" style="margin-left: 50px;"><%= text_with_default(@manufacturer.name) %></div>
          </div>
          <div class="flex">
            <div class="w-30 flex-none text-neutral-140">服务区域:</div>
            <div class="flex-1" style="margin-left: 50px;"><%= text_with_default(@manufacturer.location) %></div>
          </div>
          <div class="flex">
            <div class="w-30 flex-none text-neutral-140">网址:</div>
            <div class="flex-1" style="margin-left: 50px;"><%= text_with_default(@manufacturer.website) %></div>
          </div>
          <div class="flex">
            <div class="w-30 flex-none text-neutral-140">主营材料:</div>
            <div class="flex-1" style="margin-left: 50px;"><%= text_with_default(@manufacturer.main_materials) %></div>
          </div>
          <div class="flex">
            <div class="w-30 flex-none text-neutral-140">是否与天华合作过:</div>
            <div class="flex-1" style="margin-left: 50px;"><%= text_with_default(@manufacturer.tho_co_str) %></div>
          </div>
          <div class="flex">
            <div class="w-30 flex-none text-neutral-140">是否愿意提供材料样品:</div>
            <div class="flex-1" style="margin-left: 50px;"><%= text_with_default(@manufacturer.offer_sample) %></div>
          </div>
          <div class="flex">
            <div class="w-30 flex-none text-neutral-140">主营业务:</div>
            <div class="flex-1" style="margin-left: 50px;"><%= text_with_default(@manufacturer.main_material_remark) %></div>
          </div>
        </div>
      </div>

      <div class="pb-3 border-b-2 border-gray-100 border-solid" style="margin-top: 80px;">
        <span class="text-2xl font-bold ml-px mr-2 under-text-border" style="padding-bottom: 0.9rem">联系方式</span>
        <span class="text-xl font-light">Contact</span>
      </div>

      <div class="grid grid-cols-3 gap-5" style="margin-top: 30px;">
        <% @manufacturer.contacts.each do |contact| %>
          <div class="flex items-center px-5 py-4" style="width: 100%; height: 76px; background: #FFFFFF; box-shadow: 0px 0px 10px 0px rgba(158, 158, 158, 0.3);">
            <div class="w-9 h-9 flex-none">
              <img class="w-full h-full object-scale-down" src="<%= image_pack_path('person.svg') %>" alt="">
            </div>
            <div class="flex-1 ml-5 text-base w-0 text-neutral-0">
              <div class="truncate" title="<%= contact.name %>"><%= text_with_default(contact.name) %></div>
              <div class="truncate" title="<%= contact.tel %>"><%= text_with_default(contact.tel) %></div>
            </div>
          </div>
        <% end %>
      </div>

      <% if @manufacturer.banners.present? %>
        <div class="pb-3 border-b-2 border-gray-100 border-solid" style="margin-top: 80px;">
          <span class="text-2xl font-bold ml-px mr-2 under-text-border" style="padding-bottom: 0.9rem">作品展示</span>
          <span class="text-xl font-light">Works</span>
        </div>

        <div
          class="flex flex-col relative"
          style="margin-top: 30px;"
          data-controller="material-carousel"
          data-material-carousel-enter-class-value="<%= ['-animation-transition-x-full-reverse', 'animation-transition-x-full-reverse'].to_json %>"
          data-material-carousel-leave-class-value="<%= ['animation-transition-x-full', '-animation-transition-x-full'].to_json %>"
          data-material-carousel-duration-value="0.5"
          data-material-carousel-dot-normal-class-value="border-transparent"
          data-material-carousel-dot-active-class-value="border-gray-900"
        >
          <div class="relative overflow-hidden" style="width: 1000px; height: 300px;" data-controller="picture-viewer">
            <% @manufacturer.banners.each_with_index do |banner, i| %>
              <div class="absolute top-0 left-0 w-full h-full cursor-pointer" style="display: <%= i == 0 ? '' : 'none;' %>" data-material-carousel-target="carouselItem">
                <img class="w-full h-full object-cover" src="<%= mat_img_url(banner[:url], "") -%>" alt="<%= banner[:name] %>" data-picture-viewer-target="image">
              </div>
            <% end %>
          </div>
          <% if @manufacturer.banners.length > 1 %>
            <div class="absolute left-2 flex items-center justify-center cursor-pointer circle-arrow text-lg" style="width: 30px; height: 30px; top: calc((100% - 30px) / 2);" data-action="click->material-carousel#toPrev">
              <svg class="-ml-0.5" fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="9.062" height="16.125" viewBox="0 0 9.062 16.125">
                <path d="M564.707,561.636L558.343,568l6.364,6.364a1,1,0,0,1-1.414,1.414l-7.071-7.071a1,1,0,0,1,0-1.414l7.071-7.071A1,1,0,0,1,564.707,561.636Z" transform="translate(-555.938 -559.938)"/>
              </svg>
            </div>
            <div class="absolute right-2 flex items-center justify-center cursor-pointer circle-arrow text-lg" style="width: 30px; height: 30px; top: calc((100% - 30px) / 2);" data-action="click->material-carousel#toNext">
              <svg class="-mr-0.5" fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="9" height="16" viewBox="0 0 9 16">
                <path d="M556.291,561.685l6.32,6.315-6.32,6.315a0.992,0.992,0,0,0,1.4,1.4l7.023-7.016a0.994,0.994,0,0,0,0-1.4l-7.023-7.016A0.992,0.992,0,0,0,556.291,561.685Z" transform="translate(-556 -560)"/>
              </svg>
            </div>
          <% end %>
        </div>
      <% end %>
      <%
        default_tab_name = case
          when @materials.length > 0
            'materials'
          when @samples.length > 0
            'samples'
          when @cases.length > 0
            'cases'
          when @news.length > 0
            'news'
          else
            'materials'
          end
      %>
      <div
        data-controller="tabs"
        data-tabs-default-tab-name-value="<%= default_tab_name %>"
        data-tabs-tab-active-class-value="under-text-border text-black font-bold"
        data-tabs-tab-normal-class-value="text-neutral-140"
      >
        <div class="flex border-b-2 border-gray-100 border-solid text-neutral-140" style="margin-top: 80px; gap: 45px;">
          <div class="relative cursor-pointer" style="padding-bottom: 0.9rem; top: 2px;" data-tab-name="materials" data-tabs-target="tab" data-action="click->tabs#activeTab">
            <span class="text-2xl ml-px mr-2">产品</span>
            <span class="text-xl font-light">Materials（<%= @materials.length %>）</span>
          </div>
          <div class="relative cursor-pointer" style="padding-bottom: 0.9rem; top: 2px;" data-tab-name="samples" data-tabs-target="tab" data-action="click->tabs#activeTab">
            <span class="text-2xl ml-px mr-2">样品</span>
            <span class="text-xl font-light">Samples（<%= @samples.length %>）</span>
          </div>
          <div class="relative cursor-pointer" style="padding-bottom: 0.9rem; top: 2px;" data-tab-name="cases" data-tabs-target="tab" data-action="click->tabs#activeTab">
            <span class="text-2xl ml-px mr-2">案例</span>
            <span class="text-xl font-light">Projects（<%= @cases.length %>）</span>
          </div>
          <div class="relative cursor-pointer" style="padding-bottom: 0.9rem; top: 2px;" data-tab-name="news" data-tabs-target="tab" data-action="click->tabs#activeTab">
            <span class="text-2xl ml-px mr-2">新闻</span>
            <span class="text-xl font-light">News（<%= @news.length %>）</span>
          </div>
        </div>
        <%# 案例 %>
        <% if @cases.length > 0 %>
          <div class="grid grid-cols-3 gap-2.5" style="margin-top: 30px; display: none;" data-tab-name="cases" data-tabs-target="tabContent">
            <% @cases.each do |project_case| %>
              <a
                class="block mb-4"
                <%= project_case.permissions(current_user)[:info] ? "href=\"#{project_path(project_case)}\"".html_safe : '' %>
              >
                <div class="relative" style="padding-top: 74.78%;">
                  <div class="absolute top-0 left-0 w-full h-full">
                    <img class="w-full h-full object-cover" src="<%= mat_img_url(project_case.web_cover) -%>" alt="">
                  </div>
                </div>
                <div class="flex flex-row justify-between items-baseline mt-2">
                  <p class="text-sm font-bold flex-1 truncate" title="<%= project_case.project_name_and_location %>">
                    <%= text_with_default(project_case.project_name_and_location) -%>
                  </p>
                  <p class="text-xs text-gray-400 flex-none ml-3">
                    <%= text_with_default(project_case.is_th_str) %>
                  </p>
                </div>
                <p class="text-sm font-medium truncate" title="<%= project_case.material_tags.join(' | ') -%>"><%= text_with_default(project_case.material_tags.join(' | ')) %></p>
              </a>
            <% end %>
          </div>
        <% else %>
          <div class="py-10 text-center text-gray-500" style="margin-top: 30px; display: none;" data-tab-name="cases" data-tabs-target="tabContent">
            暂无案例数据
          </div>
        <% end %>
        <%# 产品 %>
        <% if @materials.length > 0 %>
          <div class="grid grid-cols-4 gap-2.5" style="margin-top: 30px; display: none;" data-tab-name="materials" data-tabs-target="tabContent">
            <% @materials.each do |material| %>
              <%= link_to material_path(material.id) do %>
                <div class="relative" style="padding-top: 100%;">
                  <% if material.cover.present? %>
                    <img class="absolute top-0 left-0 w-full h-full object-cover" src="<%= get_first_url(material.cover) -%>" alt="">
                  <% else %>
                    <div class="absolute top-0 left-0 w-full h-full flex justify-center items-center" style="background: #f2f2f2;">
                      暂无相关图片
                    </div>
                  <% end %>
                </div>
                <h3 class="text-center mt-2 font-medium"><%= text_with_default(material.name) -%></h3>
                <h4 class="text-center text-sm text-gray-400"><%= text_with_default(material.level_name) -%></h4>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <div class="py-10 text-center text-gray-500" style="margin-top: 30px; display: none;" data-tab-name="materials" data-tabs-target="tabContent">
            暂无产品数据
          </div>
        <% end %>
        <%# 样品 %>
        <% if @samples.length > 0 %>
          <div class="grid grid-cols-4 gap-2.5" style="margin-top: 30px; display: none;" data-tab-name="samples" data-tabs-target="tabContent">
            <% @samples.each do |sample| %>
              <%= link_to sample_path(sample.id) do %>
                <div class="relative" style="padding-top: 100%;">
                  <img class="absolute top-0 left-0 w-full h-full object-cover" src="<%= mat_img_url(sample.pic, "") -%>" alt="">
                </div>
                <h3 class="text-center mt-2 font-medium"><%= text_with_default(sample.name) -%></h3>
                <h4 class="text-center text-sm text-gray-400"><%= text_with_default(sample.material&.level_name) -%></h4>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <div class="py-10 text-center text-gray-500" style="margin-top: 30px; display: none;" data-tab-name="samples" data-tabs-target="tabContent">
            暂无样品数据
          </div>
        <% end %>
        <%# 新闻 %>
        <% if @news.length > 0 %>
          <div class="grid grid-cols-2 gap-2.5" style="margin-top: 30px; display: none;" data-tab-name="news" data-tabs-target="tabContent">
            <% @news.each do |news| %>
              <a class="flex-grow flex border border-gray-100 border-solid" href="<%= news.url %>" target="_blank">
                <div class="flex-none w-36 h-36 flex flex-col justify-around bg-gray-100 m-2">
                  <img class="w-full h-full object-cover" src="<%= mat_img_url(news.cover, '') -%>" alt="">
                </div>
                <div class="flex-1 flex flex-col justify-between px-8 py-5">
                  <div>
                    <div class="flex text-2xl text-left leading-tight">
                      <h1 class="flex-1 w-0 font-bold truncate" title="<%= news.title -%>"><%= text_with_default(news.title) -%></h1>
                      <% if news.source.present? %>
                        <span class="flex-none ml-1 px-3 py-1 rounded-full text-sm bg-gray-100 text-gray-400">
                          <%= news.source %>
                        </span>
                      <% end %>
                      <% if news.materials.present? %>
                        <% news.materials.each do |material| %>
                          <span class="flex-none ml-1 px-3 py-1 rounded-full text-sm bg-gray-100 text-gray-400">
                            <%= material.name -%>
                          </span>
                        <% end %>
                      <% end %>
                    </div>
                    <h2 class="mt-3 text-1xl text-left line-clamp-2" title="<%= news.subtitle -%>"><%= text_with_default(news.subtitle) -%></h2>
                  </div>
                  <time><%= news.published_at&.strftime('%Y-%m-%d') %></time>
                </div>
              </a>
            <% end %>
          </div>
        <% else %>
          <div class="py-10 text-center text-gray-500" style="margin-top: 30px; display: none;" data-tab-name="news" data-tabs-target="tabContent">
            暂无新闻数据
          </div>
        <% end %>
      </div>
      <% if @manufacturer.brochure_files.present? %>
        <div class="pb-3 border-b-2 border-gray-100 border-solid" style="margin-top: 80px;">
          <span class="text-2xl font-bold ml-px mr-2 under-text-border" style="padding-bottom: 0.9rem">企业宣传册</span>
          <span class="text-xl font-light">Brochure</span>
        </div>

        <div class="grid grid-cols-3" style="margin-top: 30px; gap: 20px;">
          <% @manufacturer.brochure_files.each do |item| %>
            <div class="flex justify-between items-center bg-white px-4" style="height: 60px; box-shadow: 0px 0px 10px 0px rgba(158, 158, 158, 0.3);">
              <div class="flex items-center flex-1">
                <img class="flex-none" src="<%= image_pack_path(item[:tag_icon]) %>" alt="" style="width: 32px; height: 36px;">
                <div class="ml-3 flex-1 w-0 truncate" title="<%= item[:name] %>"><%= item[:name] %></div>
              </div>
              <div class="flex justify-end items-center flex-none ml-3" style="width: 50px; gap: 10px;">
                <% if item[:tag_name] === 'pdf' %>
                  <a href="<%= preview_mat_pdf_url(item[:url]) %>" target="_blank" title="预览">
                    <img class="w-5 h-5 object-scale-down" src="<%= image_pack_path('icon-file-preview.svg') %>" alt="">
                  </a>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <button class="absolute hidden" data-content-feedback-target="button" data-action="mousedown->content-feedback#showDetail">
        <svg width="104px" height="40px" viewBox="0 0 104 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <path d="M0.5,35.5 L47.1753905,35.5 L52,39.3596876 L56.8246095,35.5 L103.5,35.5 L103.5,0.5 L0.5,0.5 L0.5,35.5 Z" stroke="#00A4FF" fill="#FFFFFF"></path>
            <path d="M18,10 L18,12 L12,11.999 L12,23.999 L24,24 L24,16 L26,16 L26,26 L24,26 L12,25.999 L12,26 L10,26 L10,10 L18,10 Z M14,20 L22,20 L22,22 L14,22 L14,20 Z M23.1213203,10.4644661 L24.5355339,11.8786797 L16.7573593,19.6568542 L15.3431458,18.2426407 L23.1213203,10.4644661 Z" fill="#00A4FF"></path>
            <text font-size="16" font-weight="normal" line-spacing="20" fill="#00A4FF">
              <tspan x="30" y="25">文档反馈</tspan>
            </text>
          </g>
        </svg>
      </button>
    </section>
    <section style="width: 400px;">
      <div class="pb-3 border-b-2 border-gray-100 border-solid">
        <span class="text-2xl font-bold ml-px mr-2 under-text-border" style="padding-bottom: 0.9rem">相关供应商</span>
        <span class="text-xl font-light">Related Manufacturers</span>
      </div>

      <div class="grid grid-cols-1 gap-4" style="margin-top: 30px;">
        <% @other_manufacturers.each do |other_manufacturer| %>
          <a class="flex items-center border border-gray-200" href="<%= manufacturer_path(other_manufacturer) %>" style="width: 400px; height: 145px;">
            <div class="flex-none h-full border-r border-gray-200" style="width: 130px;">
              <img class="w-full h-full object-scale-down" src="<%= mat_img_url(other_manufacturer.logo, 'manufacturer_default_cover.png') -%>" alt="">
            </div>
            <div class="flex-1 flex flex-col justify-end w-0" style="padding: 0 15px;">
              <div class="text-sm font-semibold truncate" title="<%= other_manufacturer.name %>">
                <%= other_manufacturer.name %>
              </div>
              <div class="text-xs mt-3 truncate text-neutral-140" title="<%= other_manufacturer.location %>">
                服务区域: <%= text_with_default(other_manufacturer.location) %>
              </div>
              <div class="text-xs mt-1 truncate text-neutral-140" title="<%= other_manufacturer.company_tel %>">
                联系方式: <%= text_with_default(other_manufacturer.company_tel) %>
              </div>
              <div class="text-xs mt-1 truncate text-neutral-140">
                是否愿意提供材料样品: <%= text_with_default(other_manufacturer.offer_sample) %>
              </div>
            </div>
          </a>
        <% end %>
      </div>
    </section>
  </div>
</div>

<%= turbo_frame_tag :manufacturer_rating_modal %>
