<%= render partial: 'shared/header', locals: {} -%>

<div class="mx-auto mt-12" style="width: 1500px; padding-bottom: 50px;">

  <div class="text-sm text-gray-500">
    <a href="<%= root_path %>">首页</a>
    <span> > </span>
    <a href="<%= manufacturers_path %>">供应商</a>
    <span> > </span>
    <span>供应商详情</span>
  </div>

  <div class="flex flex-row justify-between mt-5">

    <section class="flex flex-col" style="width: 1000px;">

      <div class="pb-3 border-b-2 border-gray-100 border-solid">
        <span class="text-2xl font-bold ml-px mr-2 under-text-border" style="padding-bottom: 0.9rem">供应商详情</span>
        <span class="text-xl font-light">Manufacturer Details</span>
      </div>

      <div class="flex" style="margin-top: 30px">
        <div class="p-3 flex-none border border-gray-200" style="width: 235px; height: 235px;">
          <img class="w-full h-full object-scale-down" src="<%= mat_img_url(@manufacturer.logo, 'manufacturer_default_cover.png') -%>" alt="">
        </div>
        <div class="ml-5 flex-1 text-lg text-black grid grid-cols-1 gap-3">
          <div class="flex">
            <div class="w-30 flex-none">供应商名称:</div>
            <div class="flex-1" style="margin-left: 50px;"><%= text_with_default(@manufacturer.name) %></div>
          </div>
          <div class="flex">
            <div class="w-30 flex-none">服务区域:</div>
            <div class="flex-1" style="margin-left: 50px;"><%= text_with_default(@manufacturer.location) %></div>
          </div>
          <div class="flex">
            <div class="w-30 flex-none">网址:</div>
            <div class="flex-1" style="margin-left: 50px;"><%= text_with_default(@manufacturer.website) %></div>
          </div>
          <div class="flex">
            <div class="w-30 flex-none">主营材料:</div>
            <div class="flex-1" style="margin-left: 50px;"><%= text_with_default(@manufacturer.main_materials) %></div>
          </div>
          <div class="flex">
            <div class="w-30 flex-none">是否与天华合作过:</div>
            <div class="flex-1" style="margin-left: 50px;"><%= text_with_default(@manufacturer.tho_co_str) %></div>
          </div>
          <div class="flex">
            <div class="w-30 flex-none">是否愿意提供材料样品:</div>
            <div class="flex-1" style="margin-left: 50px;"><%= text_with_default(@manufacturer.offer_sample) %></div>
          </div>
          <div class="flex">
            <div class="w-30 flex-none">主营业务:</div>
            <div class="flex-1" style="margin-left: 50px;"><%= text_with_default(@manufacturer.main_material_remark) %></div>
          </div>
        </div>
      </div>

      <div class="pb-3 border-b-2 border-gray-100 border-solid" style="margin-top: 80px;">
        <span class="text-2xl font-bold ml-px mr-2 under-text-border" style="padding-bottom: 0.9rem">联系方式</span>
        <span class="text-xl font-light">Contact Information</span>
      </div>

      <div class="grid grid-cols-3 gap-5" style="margin-top: 30px;">
        <div class="flex items-center px-5 py-4" style="width: 100%; height: 76px; background: #FFFFFF; box-shadow: 0px 0px 10px 0px rgba(158, 158, 158, 0.3);">
          <div class="w-9 h-9 flex-none">
            <img class="w-full h-full object-scale-down" src="<%= image_pack_path('person.svg') %>" alt="">
          </div>
          <div class="flex-1 ml-5 text-base w-0" style="color: black;">
            <div class="truncate" title="<%= @manufacturer.contact %>"><%= text_with_default(@manufacturer.contact) %></div>
            <div class="truncate" title="<%= @manufacturer.contact_information %>"><%= text_with_default(@manufacturer.contact_information) %></div>
          </div>
        </div>
      </div>

      <% if @manufacturer.banners.present? %>
        <div class="pb-3 border-b-2 border-gray-100 border-solid" style="margin-top: 80px;">
          <span class="text-2xl font-bold ml-px mr-2 under-text-border" style="padding-bottom: 0.9rem">作品展示</span>
          <span class="text-xl font-light">Works</span>
        </div>

        <div
          class="flex flex-col relative"
          style="margin-top: 30px;"
          data-controller="material-carousel"
          data-material-carousel-enter-class-value="<%= ['-animation-transition-x-full-reverse', 'animation-transition-x-full-reverse'].to_json %>"
          data-material-carousel-leave-class-value="<%= ['animation-transition-x-full', '-animation-transition-x-full'].to_json %>"
          data-material-carousel-duration-value="0.5"
          data-material-carousel-dot-normal-class-value="border-transparent"
          data-material-carousel-dot-active-class-value="border-gray-900"
        >
          <div class="relative overflow-hidden" style="width: 1000px; height: 300px;" data-controller="picture-viewer">
            <% @manufacturer.banners.each_with_index do |banner, i| %>
              <div class="absolute top-0 left-0 w-full h-full cursor-pointer" style="display: <%= i == 0 ? '' : 'none;' %>" data-material-carousel-target="carouselItem">
                <img class="w-full h-full object-cover" src="<%= mat_img_url(banner[:url], "") -%>" alt="<%= banner[:name] %>" data-picture-viewer-target="image">
              </div>
            <% end %>
          </div>
          <% if @manufacturer.banners.length > 1 %>
            <div class="absolute left-2 flex items-center justify-center cursor-pointer circle-arrow text-lg" style="width: 30px; height: 30px; top: calc((100% - 30px) / 2);" data-action="click->material-carousel#toPrev">
              <svg class="-ml-0.5" fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="9.062" height="16.125" viewBox="0 0 9.062 16.125">
                <path d="M564.707,561.636L558.343,568l6.364,6.364a1,1,0,0,1-1.414,1.414l-7.071-7.071a1,1,0,0,1,0-1.414l7.071-7.071A1,1,0,0,1,564.707,561.636Z" transform="translate(-555.938 -559.938)"/>
              </svg>
            </div>
            <div class="absolute right-2 flex items-center justify-center cursor-pointer circle-arrow text-lg" style="width: 30px; height: 30px; top: calc((100% - 30px) / 2);" data-action="click->material-carousel#toNext">
              <svg class="-mr-0.5" fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="9" height="16" viewBox="0 0 9 16">
                <path d="M556.291,561.685l6.32,6.315-6.32,6.315a0.992,0.992,0,0,0,1.4,1.4l7.023-7.016a0.994,0.994,0,0,0,0-1.4l-7.023-7.016A0.992,0.992,0,0,0,556.291,561.685Z" transform="translate(-556 -560)"/>
              </svg>
            </div>
          <% end %>
        </div>
      <% end %>
      <%
        default_tab_name = case
          when @materials.length > 0
            'materials'
          when @samples.length > 0
            'samples'
          when @cases.length > 0
            'cases'
          when @news.length > 0
            'news'
          else
            'materials'
          end
      %>
      <div
        data-controller="tabs"
        data-tabs-default-tab-name-value="<%= default_tab_name %>"
        data-tabs-tab-active-class-value="under-text-border text-black font-bold"
        data-tabs-tab-normal-class-value="text-8c"
      >
        <div class="flex border-b-2 border-gray-100 border-solid" style="margin-top: 80px; gap: 45px; color: #8c8c8c;">
          <div class="relative cursor-pointer" style="padding-bottom: 0.9rem; top: 2px;" data-tab-name="materials" data-tabs-target="tab" data-action="click->tabs#activeTab">
            <span class="text-2xl ml-px mr-2">产品</span>
            <span class="text-xl font-light">Material（<%= @materials.length %>）</span>
          </div>
          <div class="relative cursor-pointer" style="padding-bottom: 0.9rem; top: 2px;" data-tab-name="samples" data-tabs-target="tab" data-action="click->tabs#activeTab">
            <span class="text-2xl ml-px mr-2">样品</span>
            <span class="text-xl font-light">Sample（<%= @samples.length %>）</span>
          </div>
          <div class="relative cursor-pointer" style="padding-bottom: 0.9rem; top: 2px;" data-tab-name="cases" data-tabs-target="tab" data-action="click->tabs#activeTab">
            <span class="text-2xl ml-px mr-2">案例</span>
            <span class="text-xl font-light">Projects（<%= @cases.length %>）</span>
          </div>
          <div class="relative cursor-pointer" style="padding-bottom: 0.9rem; top: 2px;" data-tab-name="news" data-tabs-target="tab" data-action="click->tabs#activeTab">
            <span class="text-2xl ml-px mr-2">新闻</span>
            <span class="text-xl font-light">News（<%= @news.length %>）</span>
          </div>
        </div>
        <%# 案例 %>
        <% if @cases.length > 0 %>
          <div class="grid grid-cols-3 gap-2.5" style="margin-top: 30px; display: none;" data-tab-name="cases" data-tabs-target="tabContent">
            <% @cases.each do |project_case| %>
              <a class="block mb-4" href="<%= project_path(project_case) %>">
                <div class="relative" style="padding-top: 74.78%;">
                  <div class="absolute top-0 left-0 w-full h-full">
                    <img class="w-full h-full object-cover" src="<%= mat_img_url(project_case.web_cover) -%>" alt="">
                  </div>
                </div>
                <div class="flex flex-row justify-between items-baseline mt-2">
                  <p class="text-sm font-bold flex-1 truncate" title="<%= project_case.project_name_and_location %>">
                    <%= text_with_default(project_case.project_name_and_location) -%>
                  </p>
                  <p class="text-xs text-gray-400 flex-none ml-3">
                    <%= text_with_default(project_case.project_type) %>
                  </p>
                </div>
                <p class="text-sm font-medium truncate" title="<%= project_case.material_tags.join(' | ') -%>"><%= text_with_default(project_case.material_tags.join(' | ')) %></p>
              </a>
            <% end %>
          </div>
        <% else %>
          <div class="py-10 text-center text-gray-500" style="margin-top: 30px; display: none;" data-tab-name="cases" data-tabs-target="tabContent">
            暂无案例数据
          </div>
        <% end %>
        <%# 产品 %>
        <% if @materials.length > 0 %>
          <div class="grid grid-cols-4 gap-2.5" style="margin-top: 30px; display: none;" data-tab-name="materials" data-tabs-target="tabContent">
            <% @materials.each do |material| %>
              <%= link_to material_path(material.id) do %>
                <div class="relative" style="padding-top: 100%;">
                  <% if material.cover.present? %>
                    <img class="absolute top-0 left-0 w-full h-full object-cover" src="<%= get_first_url(material.cover) -%>" alt="">
                  <% else %>
                    <div class="absolute top-0 left-0 w-full h-full flex justify-center items-center" style="background: #f2f2f2;">
                      暂无相关图片
                    </div>
                  <% end %>
                </div>
                <h3 class="text-center mt-2 font-medium"><%= text_with_default(material.name) -%></h3>
                <h4 class="text-center text-sm text-gray-400"><%= text_with_default(material.level_name) -%></h4>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <div class="py-10 text-center text-gray-500" style="margin-top: 30px; display: none;" data-tab-name="materials" data-tabs-target="tabContent">
            暂无产品数据
          </div>
        <% end %>
        <%# 样品 %>
        <% if @samples.length > 0 %>
          <div class="grid grid-cols-4 gap-2.5" style="margin-top: 30px; display: none;" data-tab-name="samples" data-tabs-target="tabContent">
            <% @samples.each do |sample| %>
              <%= link_to sample_path(sample.id) do %>
                <div class="relative" style="padding-top: 100%;">
                  <img class="absolute top-0 left-0 w-full h-full object-cover" src="<%= mat_img_url(sample.pic, "") -%>" alt="">
                </div>
                <h3 class="text-center mt-2 font-medium"><%= text_with_default(sample.material&.name) -%>（样品）</h3>
                <h4 class="text-center text-sm text-gray-400"><%= text_with_default(sample.material&.level_name) -%></h4>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <div class="py-10 text-center text-gray-500" style="margin-top: 30px; display: none;" data-tab-name="samples" data-tabs-target="tabContent">
            暂无样品数据
          </div>
        <% end %>
        <%# 新闻 %>
        <% if @news.length > 0 %>
          <div class="grid grid-cols-2 gap-2.5" style="margin-top: 30px; display: none;" data-tab-name="news" data-tabs-target="tabContent">
            <% @news.each do |news| %>
              <a class="flex-grow flex border border-gray-100 border-solid" href="<%= news.url %>" target="_blank">
                <div class="flex-none w-36 h-36 flex flex-col justify-around bg-gray-100 m-2">
                  <img class="w-full h-full object-cover" src="<%= mat_img_url(news.cover, '') -%>" alt="">
                </div>
                <div class="flex-1 flex flex-col justify-between px-8 py-5">
                  <div>
                    <div class="flex text-2xl text-left leading-tight">
                      <h1 class="flex-1 w-0 font-bold truncate" title="<%= news.title -%>"><%= text_with_default(news.title) -%></h1>
                      <span class="flex-none ml-1 px-3 py-1 rounded-full text-sm bg-gray-100 text-gray-400">
                        材料在线
                      </span>
                      <% if news.mold_name.present? %>
                        <span class="flex-none ml-1 px-3 py-1 rounded-full text-sm bg-gray-100 text-gray-400">
                          <%= news.mold_name -%>
                        </span>
                      <% end %>
                    </div>
                    <h2 class="mt-3 text-1xl text-left line-clamp-2" title="<%= news.subtitle -%>"><%= text_with_default(news.subtitle) -%></h2>
                  </div>
                  <time><%= news.created_at.strftime('%Y-%m-%d') %></time>
                </div>
              </a>
            <% end %>
          </div>
        <% else %>
          <div class="py-10 text-center text-gray-500" style="margin-top: 30px; display: none;" data-tab-name="news" data-tabs-target="tabContent">
            暂无新闻数据
          </div>
        <% end %>
      </div>
    </section>
    <section style="width: 400px;">
      <div class="pb-3 border-b-2 border-gray-100 border-solid">
        <span class="text-2xl font-bold ml-px mr-2 under-text-border" style="padding-bottom: 0.9rem">相关供应商</span>
        <span class="text-xl font-light">Related Manufacturers</span>
      </div>

      <div class="grid grid-cols-1 gap-4" style="margin-top: 30px;">
        <% @other_manufacturers.each do |other_manufacturer| %>
          <a class="flex items-center border border-gray-200" href="<%= manufacturer_path(other_manufacturer) %>" style="width: 400px; height: 145px;">
            <div class="flex-none h-full border-r border-gray-200" style="width: 130px;">
              <img class="w-full h-full object-scale-down" src="<%= mat_img_url(other_manufacturer.logo, 'manufacturer_default_cover.png') -%>" alt="">
            </div>
            <div class="flex-1 flex flex-col justify-end w-0" style="padding: 0 15px;">
              <div class="text-sm font-semibold truncate" title="<%= other_manufacturer.name %>">
                <%= other_manufacturer.name %>
              </div>
              <div class="text-xs mt-3 truncate" style="color: #8C8C8C;" title="<%= other_manufacturer.location %>">
                服务区域: <%= text_with_default(other_manufacturer.location) %>
              </div>
              <div class="text-xs mt-1 truncate" style="color: #8C8C8C;" title="<%= other_manufacturer.contact_information %>">
                联系方式: <%= text_with_default(other_manufacturer.contact_information) %>
              </div>
              <div class="text-xs mt-1 truncate" style="color: #8C8C8C;">
                是否愿意提供材料样品: <%= text_with_default(other_manufacturer.offer_sample) %>
              </div>
            </div>
          </a>
        <% end %>
      </div>
    </section>
  </div>
</div>

