<!DOCTYPE html>
<html>
  <head>
    <title>天华材料库</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_pack_tag 'application', media: "all", "data-turbo-track" => "reload" %>
    <%= javascript_pack_tag "application", "data-turbo-track" => "reload" %>
  </head>
  <body class="min-h-screen <%= @browser.mobile? ? 'bg-gray-200' : 'bg-white' -%>">
    <% flash.each do |type, message| %>
      <% if type == "alert" %>
        <div class="w-full fixed z-50" style="background-color: #e02424">
          <div class="container px-2 mx-auto py-4 text-white text-center font-medium font-sans"><%= message %></div>
        </div>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
