<!DOCTYPE html>
<html>
  <head>
    <title>天华材料库</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="天华材料库">
    <%= stylesheet_pack_tag 'application', "data-turbo-track" => "reload" %>
    <%= javascript_pack_tag "application", "data-turbo-track" => "reload" %>
  </head>
  <body class="flex flex-col text-black min-h-screen <%= @browser.mobile? ? 'bg-gray-200' : 'bg-white' -%>">
    <% flash.each do |type, message| %>
      <% if type == "alert" %>
        <div class="w-full fixed z-50" style="background-color: #e02424">
          <div class="container px-2 mx-auto py-4 text-white text-center font-medium font-sans"><%= message %></div>
        </div>
      <% end %>
    <% end %>
    <main class="block flex-auto" data-controller="slideover"
      data-slideover-invisible-class="-translate-x-full,opacity-0"
      data-slideover-visible-class="translate-x-0,opacity-100"
      data-slideover-entering-class=""
      data-slideover-enter-timeout="300,300"
      data-slideover-leaving-class=""
      data-slideover-leave-timeout="300,0"
      data-slideover-active-target="#slideover-target">
      <%= yield %>
      <div id="sidebar">
        <div data-slideover-target="overlay" class="fixed inset-0 flex z-40 transition-opacity ease-linear duration-300 opacity-0 hidden">
          <div class="fixed inset-0">
            <div class="absolute inset-0 cursor-pointer" style="background: rgba(0, 0, 0, 0.6);" data-action="click->slideover#toggle"></div>
          </div>
          <div id="slideover-target" data-slideover-target="menu" class="sidebar relative flex-none flex transition ease-in-out duration-300 transform -translate-x-full hidden" data-controller="sidebar-nav">
            <div class="relative flex sidebar-nav-container">
              <%# 关闭按钮 %>
              <button data-action="slideover#toggle sidebar-nav#reset" class="absolute top-1 left-0 flex items-center justify-center h-12 w-12 rounded-full focus:outline-none focus:bg-gray-600" aria-label="Close sidebar">
                <svg class="h-10 w-10 text-white" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
              </button>
              <%# 一级菜单 %>
              <nav class="sidebar-nav">
                <% @sidebar_nav.each do |navItem| %>
                  <div class="flex justify-between items-center sidebar-nav-item" data-sidebar-nav-target="nav1Item" data-action="click->sidebar-nav#nav1ItemClick" data-children="<%= navItem[:children].to_json %>">
                    <div class="sidebar-nav-item-content truncate">
                      <span class="relative" title="<%= navItem[:title] %> <%= navItem[:subtitle] %>">
                        <span class="text-2xl"><%= navItem[:title] %></span>
                        <span class="text-lg"><%= navItem[:subtitle] %></span>
                        <span class="sidebar-nav-text-underline"></span>
                      </span>
                    </div>
                    <% if navItem[:children].present? %>
                      <div class="sidebar-nav-item-icon">
                        <svg viewBox="0 0 1024 1024" width="100%" height="1em">
                          <path fill="currentColor" d="M250.595556 184.888889a92.529778 92.529778 0 0 1 0.284444-129.991111 92.529778 92.529778 0 0 1 130.844444-0.853334l391.395556 391.68a92.188444 92.188444 0 0 1 0 130.56L381.44 967.964444a92.529778 92.529778 0 0 1-131.128889-130.56l326.826667-326.257777L250.595556 184.888889z"></path>
                        </svg>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </nav>
              <div class="sidebar-border"></div>
              <div class="absolute text-white text-sm" style="left: 40px; bottom: 40px;">
                <div>联系方式 Contact</div>
                <div class="mt-4 flex items-center">
                  <svg class="text-base" viewBox="0 0 1024 1024" width="1em" height="1em">
                    <path fill="currentColor" d="M165.003636 95.557818a139.636364 139.636364 0 0 1 189.905455 32.698182l88.157091 118.714182a132.980364 132.980364 0 0 1-7.842909 168.168727l-14.708364 16.360727a23.272727 23.272727 0 0 0-2.583273 27.624728 344.785455 344.785455 0 0 0 53.969455 68.584727c22.690909 22.155636 54.714182 47.429818 95.883636 75.543273a23.272727 23.272727 0 0 0 29.626182-2.792728 250.647273 250.647273 0 0 1 62.487273-45.940363c53.992727-27.997091 124.974545 12.637091 239.290182 115.712l14.196363 12.939636a139.706182 139.706182 0 0 1 9.541818 196.165818l-5.98109 6.609455c-30.068364 32.791273-56.692364 55.482182-81.384728 68.328727-48.593455 25.250909-65.768727 29.928727-121.157818 30.464l-14.661818 0.046546c-95.813818-0.046545-285.835636-101.073455-433.966546-254.999273C104.866909 562.571636 48.267636 458.379636 32.023273 316.741818c-8.378182-77.730909 30.999273-153.018182 83.828363-188.253091z m115.153455 88.203637a46.545455 46.545455 0 0 0-63.301818-10.891637l-49.338182 33.047273c-25.204364 16.802909-47.406545 59.275636-42.961455 100.514909 13.102545 114.362182 56.948364 198.539636 191.674182 341.387636l16.616727 17.408c132.096 137.285818 299.822545 226.443636 366.941091 226.466909 46.778182 0.046545 53.620364-0.162909 80.104728-13.474909l12.730181-6.516363c11.357091-5.934545 26.996364-18.734545 45.847273-38.167273l9.658182-10.286545 5.585455-6.167273a46.545455 46.545455 0 0 0-3.258182-65.326546c-50.315636-46.149818-91.042909-78.592-121.390546-96.977454-13.242182-8.029091-23.761455-12.916364-30.882909-14.824727l-0.372363-0.093091-2.187637 1.233454a156.904727 156.904727 0 0 0-26.251636 19.316364l-10.030546 9.588363a116.363636 116.363636 0 0 1-144.011636 10.14691c-45.312-30.929455-81.408-59.415273-108.450909-85.783273a437.713455 437.713455 0 0 1-68.561455-86.970182 116.363636 116.363636 0 0 1 12.962909-138.100364l14.708364-16.360727a39.889455 39.889455 0 0 0 2.350546-50.455273z m341.504 53.201454c90.926545 17.733818 154.856727 88.482909 171.589818 181.922909a46.545455 46.545455 0 1 1-91.648 16.407273c-10.216727-57.064727-46.219636-96.907636-97.745454-106.961455a46.545455 46.545455 0 0 1 17.803636-91.368727z m3.584-206.708364c186.507636 32.977455 319.581091 175.197091 357.655273 368.29091a46.545455 46.545455 0 1 1-91.345455 18.01309c-30.906182-156.858182-135.517091-268.637091-282.530909-294.632727a46.545455 46.545455 0 0 1 16.221091-91.671273z"></path>
                  </svg>
                  <span class="ml-1">电话 Phone</span>
                </div>
                <div>xxxxxxxxxxxxx</div>
                <div class="mt-4 flex items-center">
                  <svg class="text-base" viewBox="0 0 1024 1024" version="1.1" width="1em" height="1em">
                    <path fill="currentColor" d="M143.36 184.32h737.28a61.44 61.44 0 0 1 61.44 61.44v532.48a61.44 61.44 0 0 1-61.44 61.44H143.36a61.44 61.44 0 0 1-61.44-61.44V245.76a61.44 61.44 0 0 1 61.44-61.44z m40.96 81.92a20.48 20.48 0 0 0-20.48 20.48v450.56a20.48 20.48 0 0 0 20.48 20.48h655.36a20.48 20.48 0 0 0 20.48-20.48V286.72a20.48 20.48 0 0 0-20.48-20.48H184.32z"></path>
                    <path fill="currentColor" d="M499.712 513.82272l372.5312-237.1584 43.99104 69.12-383.50848 244.14208a61.44 61.44 0 0 1-66.00704 0L83.21024 345.78432l43.99104-69.12 372.5312 237.1584z"></path>
                  </svg>
                  <span class="ml-1">邮箱 Email</span>
                </div>
                <div>xxx@thape.com.cn</div>
              </div>
            </div>
            <div class="relative flex sidebar-nav-container hidden" data-sidebar-nav-target="nav2Container">
              <%# 二级菜单 %>
              <nav class="sidebar-nav">
              </nav>
              <div class="sidebar-border"></div>
            </div>
            <div class="relative flex sidebar-nav-container hidden" data-sidebar-nav-target="nav3Container">
              <%# 三级菜单 %>
              <nav class="sidebar-nav">
              </nav>
            </div>
          </div>
        </div>
      </div>
    </main>

    <% if @browser.mobile? %>
      <footer class="bg-gray-800 text-white text-xs p-4">
        <p class="my-1">联系我们：建筑委</p>
        <p class="my-1">电话：xxxxxxxxxx 邮箱：xxx@thape.com.cn</p>
        <p class="mb-1 mt-4">©2021 TIANHUA | 由 天华集团流程与信息化部 提供技术服务</p>
        <p class="my-1">友情链接：<span class="mx-1">建筑委</span><span class="mx-1">材料在线</span><span class="mx-1">阿奇找找</span></p>
      </footer>
    <% else %>
      <footer class="bottom-0 bg-black py-6 text-white text-base">
        <nav class="flex items-center justify-center py-2 px-4 sm:px-6 lg:px-8">
          <div class="w-0 flex-1">
            <p>联系我们：建筑委</p>
            <p>电话：xxxxxxxxxx 邮箱：xxx@thape.com.cn</p>
          </div>
          <div>
            <a href="#" class="font-medium">©2021 TIANHUA | 由 天华集团流程与信息化部 提供技术服务</a>
          </div>
          <div class="w-0 flex-1 flex justify-end">
            <p>友情链接：<span class="mx-4">建筑委</span><span class="mx-4">材料在线</span><span class="mx-4">阿奇找找</span></p>
          </div>
        </nav>
      </footer>
    <% end %>
  </body>
</html>
