<!DOCTYPE html>
<html>
  <head>
    <title>天华材料库</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="天华材料库">
    <%= stylesheet_pack_tag 'application', media: "all", "data-turbo-track" => "reload" %>
    <%= javascript_pack_tag "application", "data-turbo-track" => "reload" %>
  </head>
  <body class="flex flex-col text-black min-h-screen <%= @browser.mobile? ? 'bg-gray-200' : 'bg-white' -%>">
    <% flash.each do |type, message| %>
      <% if type == "alert" %>
        <div class="w-full fixed z-50" style="background-color: #e02424">
          <div class="container px-2 mx-auto py-4 text-white text-center font-medium font-sans"><%= message %></div>
        </div>
      <% end %>
    <% end %>
    <main class="block flex-auto">
      <%= yield %>
    </main>
    <footer class="bottom-0 bg-black py-6 text-white text-base">
      <nav class="flex items-center justify-center py-2 px-4 sm:px-6 lg:px-8">
        <div class="w-0 flex-1">
          <p>联系我们：建筑委</p>
          <p>电话：xxxxxxxxxx 邮箱：xxx@thape.com.cn</p>
        </div>
        <div>
          <a href="#" class="font-medium">©2021 TIANHUA | 由 天华集团流程与信息化部 提供技术服务</a>
        </div>
        <div class="w-0 flex-1 flex justify-end">
          <p>友情链接：<span class="mx-4">建筑委</span><span class="mx-4">材料在线</span><span class="mx-4">阿奇找找</span></p>
        </div>
      </nav>
    </footer>
  </body>
</html>
